<template>
<footer :class="{ 'brdr-top-0': isCheckoutPage }">
    <newsletter class=" flex brdr-bottom-1 brdr-cl-secondary" v-if="!isCheckoutPage" />
    <div class="footer-links flex py70" v-if="!isCheckoutPage">
        <div class="container">
            <div class="row m0  between-md">
                <div class="row col-lg-5 col-md-12 col-xs-12 social mt30">
                    <div class="">
                        <div class="logo mb30">
                            <logo width="auto" height="50px" />
                        </div>
                        <div class="addres">
                            <p class="black">Office:</p>
                            <p class="pb20 gray">Safestore Battersea Lombard 19 Lombard Road SW11 3RH London Safestore Ltd</p>
                            <p class="pb30 gray fphone"><label><i class="fa fa-phone visible-xs" aria-hidden="true"></i> 079 3782 2555</label><br><label><i class="fa fa-envelope visible-xs" aria-hidden="true"></i> sayhi@thyfashion.com</label></p>
                        </div>
                        <div class="flex">
                            <div class="social-row mr40">
                                <p class="pb10">Socila Connection:</p>
                                <a class="social-icon mr30" href="https://www.facebook.com/" :aria-label="$t('Go to Facebook')">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                                <a class="social-icon mr30" href="https://www.instagram.com" :aria-label="$t('Go to Instagram')">
                                    <i class='fa fa-twitter'></i>
                                </a>
                                <a class="social-icon mr30" href="https://www.pinterest.com" :aria-label="$t('Go to Pinterest')">
                                    <i class="fa fa-instagram" data-v-e4caeaf8=""></i>
                                </a>
                                <a class="social-icon mr30" href="https://www.youtube.com" :aria-label="$t('Go to Youtube')">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </div>
                            <div class="social-row">
                                <p class="pb10">Payment Methods:</p>
                                <div class="flex">
                                    <a href="" class="mr12"><img src="/assets/paypal.png"></a>
                                    <a href="" class="mr12"><img src="/assets/Mastercard.png"></a>
                                    <a href="" class="mr12"><img src="/assets/Visa.png"></a>
                                    <a href="" class="mr12"><img src="/assets/Americanexpress.png"></a>
                                    <a href="" class="mr12"><img src="/assets/Discover.png"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row m0 col-lg-7 col-md-12 col-xs-12 between-md between-xs">
                    <div class="start-md start-md1 fcontent-1">
                        <h5 @click="openAccordian(1)">
                            {{ $t('Category') }}
                        </h5>
                        <div class="submenu-footer">
                            <div class="mt30" v-for="category in categories" :key="category.slug">
                                <router-link class="cl-secondary" :to="category.url_path">
                                    {{ category.name }}
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="start-md fcontent-2">
                        <h5 @click="openAccordian(2)">
                            {{ $t('Highlights') }}
                        </h5>
                        <div class="submenu-footer">
                            <div class="mt30" v-for="category in categories" :key="category.slug">
                                <router-link class="cl-secondary" :to="category.url_path">
                                    {{ category.name }}
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="start-md fcontent-3">
                        <h5 @click="openAccordian(3)">
                            {{ $t('Highlights') }}
                        </h5>
                        <div class="submenu-footer">
                            <div class="mt30" v-for="category in categories" :key="category.slug">
                                <router-link class="cl-secondary" :to="category.url_path">
                                    {{ category.name }}
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="start-md fcontent-4">
                        <h5 @click="openAccordian(4)">
                            {{ $t('Help') }}
                        </h5>
                        <div class="submenu-footer">
                            <div class="mt30">
                                <router-link class="cl-secondary" :to="localizedRoute('/delivery')" exact>
                                    {{ $t('Delivery') }}
                                </router-link>
                            </div>
                            <div class="mt30">
                                <router-link class="cl-secondary" :to="localizedRoute('/returns')" exact>
                                    {{ $t('Return policy') }}
                                </router-link>
                            </div>
                            <div class="mt30">
                                <router-link class="cl-secondary" :to="getLinkFor('/about-us')" exact>
                                    {{ $t('About us') }}
                                </router-link>
                            </div>
                            <div class="mt30">
                                <router-link class="cl-secondary" :to="getLinkFor('/customer-service')" exact>
                                    {{ $t('Customer service') }}
                                </router-link>
                            </div>
                            <div class="mt30">
                                <router-link class="cl-secondary" :to="localizedRoute('/store-locator')" exact>
                                    {{ $t('Store locator') }}
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row middle-xs bottom-links py36">
                <div class="col-xs-12 flex col-sm-9 align-items">
                    <p>© thyfashion. All rights reserved.</p>
                    <ul class="m0 pl20 links" data-testid="bottomLinks">
                        <li class="inline-flex">
                            <router-link class="px20" to="/legal" exact>
                                {{ $t('Legal notice') }}
                            </router-link>
                        </li>
                        <li class="inline-flex">
                            <router-link class=" px20" to="/privacy" exact>
                                {{ $t('Privacy policy') }}
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3  cl-tertiary flex align-items end-xs">
                    <p>Website by <a class="alinks underline" href="">Aureatelabs</a></p>
                    <language-switcher v-if="multistoreEnabled" />
                </div>

            </div>
        </div>
    </div>
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
        <button type="button" class="btn-top button no-outline brdr-none cl-white bg-cl-mine-shaft :bg-cl-th-secondary py10 px10">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M23.245 20l-11.245-14.374-11.219 14.374-.781-.619 12-15.381 12 15.391-.755.609z" fill="white" />
            </svg>
        </button>
    </back-to-top>
</footer>
</template>

<script>
import {
    mapGetters
} from 'vuex'
import {
    currentStoreView,
    localizedRoute
} from '@vue-storefront/core/lib/multistore'
import CurrentPage from 'theme/mixins/currentPage'
import LanguageSwitcher from '../../LanguageSwitcher.vue'
import Newsletter from 'theme/components/core/blocks/Footer/Newsletter'
import BackToTop from 'theme/components/core/BackToTop'
import {
    getPathForStaticPage
} from 'theme/helpers'
import config from 'config'
import Logo from 'theme/components/core/Logo'
export default {
    mixins: [CurrentPage],
    name: 'MainFooter',
    data() {
        return {
            activeAcordian: null,
        }
    },
    methods: {
        goToAccount() {
            this.$bus.$emit('modal-toggle', 'modal-signup')
        },
        getLinkFor(path) {
            return localizedRoute(getPathForStaticPage(path))
        },
        openAccordian(digit) {
            if (this.activeAcordian !== null && this.activeAcordian !== digit) {
                document.getElementsByClassName(`fcontent-${this.activeAcordian}`)[0].classList.remove('active')
            }
            this.activeAcordian = this.activeAcordian === digit ? null : digit
            document.getElementsByClassName(`fcontent-${digit}`)[0].classList.toggle('active')
        },
    },
    computed: {
        ...mapGetters('category', ['getCategories']),
        categories () {
            return this.getCategories.filter((op) => {
                return op.level === (config.entities.category.categoriesDynamicPrefetchLevel >= 0 ? config.entities.category.categoriesDynamicPrefetchLevel : 2) // display only the root level (level =1 => Default Category), categoriesDynamicPrefetchLevel = 2 by default
            })
        },
         multistoreEnabled() {
            return config.storeViews.multistore
        },
        getVersionInfo() {
            return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`
        }
    },
    components: {
        Newsletter,
        LanguageSwitcher,
        BackToTop,
        Logo,
    }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);

.footer-links {
    font-family: 'Kessel 105 Text Book';
}

.copyright {
    border-top: solid 1px #ccc;
    font-family: 'Kessel 105 Text Book';

    p {
        color: #666666;
    }

    .links a {
        color: #000;
        font-family: 'Kessel 105 Text Book';
        font-size: 16px;
        border-right: solid 1px;

        &:hover {
            color: #024D70;
        }
    }

    .links li:last-child a {
        border: 0;
    }
}

.footer-links h6 {
    color: #000;
    font-weight: 600;
}

.cl-secondary {
    color: #000;

    &:hover {
        color: #024D70;
    }
}

.footer-links {
    .start-md {
        border-left: solid 1px #ddd;
        width: 25%;
        padding: 0 40px;
    }

    .social-icon {
        font-size: 26px;
        color: #000;

        &:hover {
            color: #024D70;
        }
    }
}

.icon {
    transition: 0.3s all;
}

.social-icon {
    width: 40px;
    height: 40px;

    &:hover,
    &:focus,
    &:active {
        .icon {
            fill: $color-secondary;
        }
    }
}

.links {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

.bottom-links {
    @media (max-width: 767px) {
        padding: 0;
    }
}

.footer__version-info {
    display: flex;
    color: $color-secondary;
    font-size: 0.7rem;

    @media (min-width: 768px) {
        margin-right: 1rem;
        font-size: 0.8rem;
    }
}

.underline {
    &:hover {
        color: $color-secondary;

        &:after {
            background-color: $color-secondary;
        }
    }
}

.legal-entity-link {
    text-align: center;

    @media (min-width: 768px) {
        display: none;
    }
}

.privacy-policy-link {
    text-align: right;

    @media (min-width: 768px) {
        display: none;
    }
}

@media (max-width:1034px) {
    .footer-links .start-md {
        padding: 0 12px;

        .mt30 {
            margin-top: 8px;
        }
    }

    .social {
        .flex {
            flex-wrap: wrap;
            justify-content: center;
        }

        .social-row {
            margin: 0 0 15px 0;
        }
    }

    .copyright {
        .py36 {
            padding: 15px 0;
        }
    }

    .footer-links {
        padding: 30px 0;
    }
}

@media (max-width: 595px) {
    #app {
        .bottom-links {
            .flex {
                display: block;
                text-align: center;
            }

            .links {
                display: block;
                padding: 12px 0;
            }
        }

        .no-mobile {
            display: none;
        }

        .social {
            margin-top: 0;
            padding: 0;
            margin: 0;
        }

        .footer-links {
            padding-bottom: 20px;
            padding-top: 20px;
        }

        footer {
            .logo {
                display: none;
            }
        }

        .footer-links {
            .m0 {
                order: -1;
                padding: 0;
            }

            .start-md {
                width: 100%;
                padding: 0;
                border: 0;
                margin-bottom: 15px;
            }

            .fphone {
                display: flex;
                justify-content: space-between;
                color: #323232;

                i {
                    margin-right: 4px;
                }
            }
        }

        .social {
            .flex {
                display: block;
                text-align: center;
            }

            .social-row {
                display: table;
                margin-left: auto;
                margin-right: auto;
            }

            .social-row.mr40 {
                border-bottom: solid 1px #DDD;
                padding-bottom: 15px;
            }
        }

        .footer-links {
            .submenu-footer {
                display: none;
            }

            .start-md h5 {
                display: flex;
            }

            .start-md h5::after {
                content: "\f067";
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 15px;
                margin-right: 6px;
                margin-left: auto;
                color: #374151;
            }

            .start-md.active {
                h5::after {
                    content: "\f068";
                }

                .submenu-footer {
                    display: block;
                }
            }
        }
    }
}
</style>
