<template>
  <div class="newsletter py58 px15" v-show="!isSubscribed">
    <div class="container">
      <div class="newsletter-content align-center ">
        <h3 class="h2 uppercase white mb35">
          Don't Miss Out to Subscribe
        </h3>
        <div class="newsletter-box bgwhite flex mb20">
           <div class="newsletter-left">Man <img src="/assets/hedaer-back-arrow.svg" class="ml5" data-v-af30c8e0="" height="6"></div>
           <input type="email" class="p10 w-100 border-box brdr-none">
           <div class="newsletter-right">
           <button-outline
            @click.native="showNewsletterPopup"
            color=""
          ><span class="arrow_right"></span>
            <!-- {{ $t('Subscribe') }} -->
          </button-outline>
        </div>
        </div>
        <p>Enter your email address above to receive offers and news<br> from Thy Fashion. For more information on how we use your <br>data, please see our <a href="">privacy policy</a></p>
      </div>
    </div>
    <newsletter-popup v-if="loadNewsletterPopup" />
  </div>
</template>

<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import { mapState } from 'vuex'
const NewsletterPopup = () => import(/* webpackChunkName: "vsf-newsletter-modal" */ 'theme/components/core/NewsletterPopup.vue')

export default {
  name: 'Newsletter',
  mixins: [SubscriptionStatus],
  data () {
    return {
      loadNewsletterPopup: false
    }
  },
  computed: {
    ...mapState({
      isOpen: state => state.ui.newsletterPopup
    })
  },
  methods: {
    showNewsletterPopup () {
      this.loadNewsletterPopup = true
      this.$bus.$emit('modal-show', 'modal-newsletter')
    }
  },
  components: {
    ButtonOutline,
    NewsletterPopup
  }
}
</script>

<style lang="scss" scoped>
.newsletter{ 
  background:#024D70;
  color: #fff;
 
  .container{
    max-width: 594px;
    width:100%;
    .newsletter-box{ align-items: center; height:70px;}
    .newsletter-left{color:#222222; font-size: 16px; font-weight:600; border-right: solid 1px #DDDDDD; padding: 8px 0;}
    .button-outline{
    border: 0;
    min-width: inherit;
    height: auto;
    width: 100%;
    font-size: 35px;
    line-height: 0;
    color:#024D70;
    }
    p{font-size: 16px;line-height: 21px;
    a{
      color: #fff;
      text-decoration: underline;
    }
    }
    .newsletter-left{ width:120px;}
    .newsletter-right{ width:90px;}
  }
}
  @media (min-width: 767px) and (max-width: 1200px){
    .button-outline{
      min-width: 100%;
    }
  }
  @media (max-width: 767px) {
    .h3 {
      font-size: 18px;
      text-align: center;
    }
    .newsletter-button {
      padding-top: 25px;
      text-align: center;
    }
  }


@media (max-width:550px) {
  #app{
    h2, .h2 {
    font-size: 16px;
    line-height: 17px;
    }
    .newsletter{
      padding:15px 0;
      .container{max-width: 100%;margin: 0;width: 100%;
      .newsletter-box{height:46px;margin-bottom: 16px;}
      }
      h3{margin-bottom: 22px;}
      p{font-size: 13px;line-height: 16px;}
    }
  }
}

</style>
