<template>
  <button
    type="button" @click="openAccordian(1)"
    class="bg-cl-transparent brdr-none inline-flex"
  >
      <img height="18" class="menu-open"
      src="/assets/menu.svg"
    >
    <img height="18" class="menu-close"
      src="/assets/menu-close.svg"
    >
    <!-- <i class="material-icons">dehaze</i>-->
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'

export default {
  data () {
      return {
      activeAcordian: null
    }
  },
  mixins: [HamburgerIcon],
  methods: {
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
          document.getElementsByClassName(`header-${this.activeAcordian}`)[0].classList.remove('active')
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit
      document.getElementsByClassName(`header-${digit}`)[0].classList.toggle('active')
    }
  }
}
</script>


