<template>
  <div class="header header-1">
    <header
      class="w-100 brdr-bottom-1 bg-cl-primary brdr-cl-secondary"
      :class="{ 'is-visible': navVisible }"
    >
      <div class="header-top">
        <label class="hidden-xs">
          Free home delivery when you spend over £50</label
        ><label>Order by 8pm for next-day delivery for £4.99</label
        ><label class="hidden-xs"
          >Shop with confidence with our extended returns policy</label
        >
      </div>
      <div class="header-bottom">
        <div class="container-full px30">
          <div class="row" v-if="!isCheckoutPage || isThankYouPage">
            <div class="col-md col-sm flex middle-xs visible-xs">
              <div>
                <hamburger-icon class="icon pointer" />
              </div>
              <!-- <div class="visible-xs">
              <search-icon class="icon pointer" />
            </div> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 hidden-xs">
          <div class="country-drop-box">
            <div class="country-drop-title f-s-14 weight-600" @click="active" :class="{active: isActive}">
              <img :src="activeMenuImage" width="25" height="15" :alt="activeMenuTxt">
              <span>
                {{ activeMenuTxt }}
              </span>
              <img height="6" class="ml5" src="/assets/hedaer-back-arrow.svg">
            </div>
            <div class="country-drop-content" :class="{active: isActive}">
              <ul class="m0 p0">
                <li v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
                  <a :href="page.link" @click="updateMobileMenuTxt(page.title, page.image)" class="black flex middle-xs">
                    <img :src="page.image" width="25" height="15" :alt="page.title">
                    <span>{{ page.title }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
            <!-- <div class="language-link flex align-items">
             <a href="" class="flex align-items no-underline"><img class="mr5" src="/assets/Flag_of_the_United_Kingdom.svg"> EN <img height="6" class="ml5" src="/assets/hedaer-back-arrow.svg"></a>
            </div> -->
          </div>
          
          <div class="col-md-4 col-sm-4 center-xs">
            <div class="logo">
              <logo width="auto" height="50px" />
            </div>
            <div class="col-md-4 col-sm-4 end-xs ml-auto">
              <div class="inline-flex right-icons">
                <search-icon class="p15 icon pointer" />
                <wishlist-icon class="p15 icon pointer" />
                <compare-icon class="p15 icon hidden-xs pointer" />
                <account-icon class="pointer" />
                <microcart-icon class="p15 icon pointer" />
              </div>
            </div>
          </div>
        </div>
        <div class="row between-xs middle-xs px15 py5" v-if="isCheckoutPage && !isThankYouPage">
          <div class="col-xs-3 col-md-3 middle-xs">
            <!-- <div>
              <router-link
                :to="localizedRoute('/')"
                class="cl-tertiary links"
              >
                {{ $t('Return to shopping') }}
              </router-link>
            </div> -->
          </div>
          <div class="col-xs-6 col-md-6 center-xs">
            <logo width="auto" height="50px" />
          </div>
          <div class="col-xs-3 col-md-3 end-xs">
            <!-- <div>
              <a
                v-if="!currentUser"
                href="#"
                @click.prevent="gotoAccount"
                class="cl-tertiary links"
              >{{ $t('Login to your account') }}</a>
              <span v-else>{{ $t('You are logged in as {firstname}', currentUser) }}</span>
            </div> -->
          </div>
        </div>
      </div>
      <div class="header-nav brdr-bottom-1 brdr-cl-bg-secondary">
        <!-- <SidebarMenu  /> -->
        <Headermenu />
      </div>
    </header>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import CurrentPage from 'theme/mixins/currentPage';
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon';
import CompareIcon from 'theme/components/core/blocks/Header/CompareIcon';
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon';
import Logo from 'theme/components/core/Logo';
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon';
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon';
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon';
// import SidebarMenu from 'theme/components/core/blocks/SidebarMenu/SidebarMenu'
import Headermenu from 'theme/components/core/blocks/SidebarMenu/Headermenu';

export default {
  name: 'Header',
  components: {
    AccountIcon,
    CompareIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcon,
    WishlistIcon,
    // SidebarMenu,
    Headermenu
  },
  mixins: [CurrentPage],
  data() {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 54,
      navigation: [
        { title: 'EN', link: '/', image: '/assets/Flag_of_the_United_Kingdom.svg' },
        { title: 'عربى', link: '/ar/', image: '/assets/ar-KW.svg' }
      ],
      isActive: false,
      activeMenuTxt: 'EN',
      activeMenuImage: '/assets/Flag_of_the_United_Kingdom.svg'

    }
  },
  computed: {
    ...mapState({
      isOpenLogin: (state) => state.ui.signUp,
      currentUser: (state) => state.user.current
    }),
    isThankYouPage() {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false;
    }
  },
  beforeMount() {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true;
      },
      { passive: true }
    );

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled();
        this.isScrolling = false;
      }
    }, 250);
  },
  mounted () {
    const navigation = this.navigation;
    if (this.$route.path.startsWith('/ar/')) {
      document.body.classList.add('ar-home')
    } else {
      document.body.classList.remove('ar-home')
    }
    navigation.forEach((nav) => {
      if (nav.link === this.$router.history.current.path) {
        this.activeMenuTxt = nav.title;
        this.activeMenuImage = nav.image;
      }
    });
  },
  methods: {
    gotoAccount() {
      this.$bus.$emit('modal-toggle', 'modal-signup');
    },
    hasScrolled() {
      this.scrollTop = window.scrollY;
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false;
      } else {
        this.navVisible = true;
      }
      this.lastScrollTop = this.scrollTop
    },
     active: function () {
      this.isActive = !this.isActive;
    },
    updateMobileMenuTxt (langmenutxt, langmenuimage) {
      this.activeMenuTxt = langmenutxt;
      this.activeMenuImage = langmenuimage;
      if (window.matchMedia('(max-width: 767px)').matches) {
        this.isActive = !this.isActive;
      }
      this.isActive = false;
    }

  }
};
</script>

<style lang="scss" scoped>

.country-drop-box{
  z-index: 1;
  position: relative;
  .country-drop-title{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 4px;
    color: #000;
    cursor: pointer;
    img{
      margin-right: 5px;
      max-width: 25px;
    }
    span{
      padding-right:2px;
      font-size: 12px;
      font-weight: 600;
      font-family: 'Kessel 105 Text';
    }
    &:after{
      content: '';
      display: inline-block;
      border: 1px solid #fff;
      border-left: 0px;
      border-top: 0px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: -3px;
      width: 4px;
      height: 4px;
    }
  }
  .country-drop-content{
    display: none;
    position: absolute;
    top:25px;
    ul{
      list-style-type: none;
      background: #fff;
      border-radius: 4px;
      padding:3px 8px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      li{
        color:#000;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding: 2px 0;
        a{
          margin: 0;
          padding: 0;
          height: auto;
        }
        img{
          margin-right: 5px;
          max-width: 25px;
        }
      }
    }
    &.active{
      display: block;
    }
  }
}

header {
  height: auto;
  top: -55px;
  z-index: 3;
  transition: top 0.2s ease-in-out;
  font-family: 'Kessel 105 Text Book';
  &.is-visible {
    top: 0;
  }
}
.header-top {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  label {
    border-right: #000 solid 1px;
    padding: 0 36px;
  }
  :last-child {
    border: 0;
    margin-right: 0;
  }
}
.header-bottom {
  padding: 14px 0;
}
.icon {
  opacity: 1;
  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.right-icons {
  //for edge
  float: right;
}
.header-placeholder {
  height: 180px;
}
.links {
  text-decoration: underline;
}
.language-link {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Kessel 105 Text';
  color: #000 !important;
}

@media (max-width: 767px) {
  .row.middle-xs {
    margin: 0 -15px;

    &.py5 {
      margin: 0;
    }
  }
  .col-xs-2:first-of-type {
    padding-left: 0;
  }
  .col-xs-2:last-of-type {
    padding-right: 0;
  }
  a,
  span {
    font-size: 12px;
  }
}
</style>

<style lang="scss">
#app {
  header {
    border: 0;
    .home-right-icon {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #000;
      font-family: 'Kessel 105 Text Book';
      cursor: pointer;
      label {
        cursor: pointer;
        display: none;
      }
      img {
        margin-right: 9px;
      }
    }
    .right-icons {
      .icon {
        padding-right: 0;
        padding-left: 39px;
      }
    }
    .logo img {
      position: relative;
      bottom: -5px;
    }
    .brdr-cl-bg-secondary {
      border-color: #ddd;
    }
    .sidebar_menu_list_li {
      background: transparent !important;
      a {
        font-size: 16px;
        color: #000;
        display: flex;
        &:hover,
        .sidebar_menu_list_li a.active {
          color: #024d70;
        }
        &::before {
          content: '';
          z-index: 11;
          display: block;
          position: absolute;
          left: 0;
          background: transparent;
          height: 1px;
          bottom: 0;
          width: 100%;
        }
      }
    }
    .sidebar_menu_list_li:hover a:before,
    .sidebar_menu_list_li a.active:before {
      background: #024d70;
    }

    @media (min-width: 767px) {
      .sidebar-menu {
        height: auto;
        width: auto;
        overflow: inherit;
        position: static;
      }
      .close-btn {
        display: none;
      }
      .sidebar-menu__container {
        overflow-y: inherit;
        height: auto;
        display: flex;
        margin: 0;
      }
      .sidebar-menu__list {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      .sidebar-menu {
        background: #fff;
      }
      .sidebar-menu li {
        border: 0;
        background: none;
      }
      .sidebar-menu .sidebar-menu__list > li > a::before {
        content: '';
        background: transparent;
        width: 100%;
        position: absolute;
        height: 1px;
        display: block;
        left: 0;
        bottom: 0;
      }
      .sidebar-menu .sidebar-menu__list > li:hover > a::before {
        background: #024d70;
      }
      .sidebar-menu .sidebar-menu__list > li > a {
        color: #000;
        font-size: 16px;
        font-family: 'Kessel 105 Text Book';
        padding: 17px 20px;
        position: relative;
        &:hover {
          color: #024d70;
          background: #fff;
        }
      }
    }
  }
  .main-menu {
    height: auto;
    .sidebar-menu {
      height: auto;
    }
  }
}
@media (max-width: 1150px) {
  #app {
    header .sidebar_menu_list_li a {
      padding: 17px 10px;
    }
    header .right-icons .icon {
      padding-left: 8px;
    }
  }
}

@media (max-width: 990px) {
  #app {
    .footer-links .start-md1 {
      border: 0;
      padding-left: 0;
    }
    .header-placeholder {
      height: 251px;
    }
    .right-icons label {
      display: none;
    }
    .sidebar-menu .mega-menu-content {
      padding: 20px;
    }
    header .sidebar-menu li {
      margin-bottom: 7px;
    }
  }
}

@media (max-width: 767px) {
  #app {
    .header {
      z-index: 22;
      position: relative;
    }
    .header-top,
    .header .slick-slider,
    .header-bottom {
      z-index: 2;
      position: relative;
    }
    .header-nav.end-xs {
      display: none;
    }
    .header-top label {
      border-right: 0;
    }
    .header-bottom {
      padding: 11px 0;
    }
    .header-nav {
      display: none;
    }
    .header-1.active .header-nav {
      display: block;
    }
    .sidebar-menu {
      width: 100%;
      .mega-menu-content {
        &::after {
          position: fixed;
          background: #fff;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          content: '';
          z-index: -1;
        }
        padding: 12px 20px;
        [class*=' col-xs'] {
          flex-basis: 100%;
          max-width: 100%;
        }
        .mega-menu-all-links {
          display: block;
          border: 0;
        }
        li {
          margin: 0;
          a {
            display: block;
            padding: 15px 0;
            border-bottom: solid 1px #ddd;
            font-size: 15px;
          }
        }
      }
      .mega-menu-right {
        position: fixed;
        width: 100%;
        bottom: 10px;
        left: 0;
        .mega-menu-img {
          position: relative;
          padding-top: 46%;
          img {
            position: absolute;
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            top: 0;
            left: 0;
            right: 0;
            object-fit: cover;
            object-position: top;
          }
        }
      }
    }
    .menu-close {
      display: none;
    }
    .header-1.active {
      .menu-close {
        display: block;
        height: 27px;
        line-height: 0;
        margin-bottom: 0;
        position: relative;
        bottom: -3px;
      }
      .menu-open {
        display: none;
      }
    }
    .right-icons
      .dropdown:hover
      .dropdown-content:not(.dropdown-content__hidden),
    .right-icons
      .dropdown:focus
      .dropdown-content:not(.dropdown-content__hidden) {
      display: block;
    }
  }
}
@media (max-width: 578px) {
  #app {
    .header-bottom {
      [class^='col-'] {
        flex: inherit;
        flex-basis: inherit;
        max-width: inherit;
      }
    }
    .new-collection-text h4 {
      font-size: 13px;
      line-height: 14px;
      padding-bottom: 5px;
    }
    .new-collection-text p {
      font-size: 11px;
      line-height: 15px;
    }
    .new-collection-text {
      padding: 8px 10px;
    }
    .header-bottom .logo img {
      height: 35px;
    }
    .header-bottom {
      .px30 {
        padding: 0 25px;
      }
    }
    .header-bottom {
      padding: 0;
    }
    .header-top {
      padding: 10px 0;
      font-size: 12px;
      background: #000;
      color: #fff;
    }
    .slick-dots li {
      width: 22px;
      margin: 0 0;
      padding: 0;
    }
    .home-banner .slick-dots {
      bottom: 24px;
    }
    .mega-menu-right {
      .mega-menu-img {
        padding-top: 100%;
      }
    }
    .right-icons .dropdown a {
      font-size: 14px;
      padding: 6px 10px;
    }
  }
}
</style>
