<template>
   <li class="row py10 m0">
    <div class="blend bg-cl-secondary" @click="closeWishlist">
      <router-link :to="productLink">
        <product-image :image="image" />
      </router-link>
    </div>
    <div class="col-xs between-xs flex pl20 pr0">
      <div @click="closeWishlist">
        <p class="f-s-18">
          <router-link :to="productLink" class="black">
            {{ product.name | htmlDecode }}
          </router-link>
        </p>
        <!-- <div class="h6 cl-bg-tertiary pt5 sku">
          {{ product.sku }}
        </div> -->
      </div>
      <div class="recommended-text">
        <div class="flex">
          <span class="recommended-price" v-if="product.special_price">{{ product.price_incl_tax | price(storeView) }}</span>
          <span class="recommended-price" v-if="product.special_price">{{ product.original_price_incl_tax | price(storeView) }}</span>
          <span v-if="!product.special_price" class="recommended-price">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
          <span class="recommended-price-old">$60.00</span>

          <div class="flex recommended-color flex ml-auto">
            <div  class="recommended-color-code flex">
              <a href="" class="recommended-color-label color-cod1 ml6 mr0"></a> 
              <a href="" class="recommended-color-label color-cod2 ml6 mr0"></a>
          </div> 
        </div> 
        </div>
      </div>
      <div class="flex align-items">
        <div @click="closeWishlist">
        <div v-if="showAddToCart">
            <add-to-cart
              v-if="product.type_id === 'simple'"
              :product="product"
              class="wishlist-add-to-cart col-xs-12 col-sm-4 col-md-6 KesselBook"
            />
            <router-link
              v-else
              :to="productLink"
              class="KesselBook wishlist-add-to-cart no-outline button-full block brdr-none w-100 px10 py20 bg-cl-mine-shaft :bg-cl-th-secondary ripple  h4 cl-white fs-medium col-xs-12 col-sm-4 col-md-6"
            >
            </router-link>
          </div>
        </div>
        <span class="wishlist-remove ml25" @click="removeProductFromWhishList(product)"><remove-button class="cl-accent" /></span>
       </div>
    </div>

  </li>
</template>

<script>
import config from 'config'
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import RemoveButton from './RemoveButton'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import AddToCart from 'theme/components/core/AddToCart'

export default {
  components: {
    RemoveButton,
    ProductImage,
    AddToCart
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    removeProductFromWhishList (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product {productName} has been removed from wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('OK') }
      }, { root: true })
      this.removeFromWishlist(product)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
.blend {
  flex: 0 0 140px;
  opacity: .8;
  will-change: opacity;
  transition: .3s opacity $motion-main;
  &:hover{
     opacity: 1;
   }
}
.col-xs {
  flex-direction: column;
}
input {
  width: 30px;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.wishlist-add-to-cart {
  padding:13px 10px;
  margin:0px 0;
  min-width:216px;
  font-size:16px;
  text-align: center;
  font-family: 'Kessel 105 Text Book';
  &::before{
    content:'';
    background: url('/assets/bag-white.svg') no-repeat;
    width: 17px;
    height: 20px;
    background-size: cover;
    display: inline-block;
    margin-right:6px;
    vertical-align: middle;
  }
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.wishlist-remove button{padding:0;text-decoration: underline;font-size: 16px;color: #000; font-weight: 300;
&:hover{color: #024D70;}
}

@media (max-width: 767px) {
  .blend{flex: 0 0 100px;}
  .pl20 {padding-left: 10px;}
  .wishlist-add-to-cart {min-width: 140px;font-size: 12px; padding: 8px 0px;}
}
@media (max-width:500px) {
  .f-s-18 {
    font-size: 13px;
    line-height: 16px;
  }
  .recommended-price, .recommended-price-old {font-size: 15px;}
  .recommended-text .flex{ display: block;
    .recommended-color{ padding-top:8px;}
    .recommended-color-label {
      height: 15px;
      width: 15px;
      border-radius: 15px;
      margin: 0 5px 0 0;
      }
  }
  .wishlist-remove{margin-left:9px;}
  .wishlist-remove button{font-size: 13px;}
  .wishlist-add-to-cart{min-width: inherit;padding: 8px 10px}
}
</style>

