<template>
  <div class="wishlist cl-accent px40 py40">
    <div class="middle-xs flex mb30 wishlist-title">
      <h2 v-if="productsInWishlist.length" class="f-s-24">
        {{ $t('Wishlist') }}
      </h2>
       <i class="material-icons pointer ml-auto" @click="closeWishlist"> <img
      src="/assets/right-close-icon.svg" width="40"
    ></i>
    </div>
    <!-- <clear-wishlist-button v-if="productsInWishlist.length" @click="clearWishlist" class=" ml-auto  end-sm" /> -->
    <h4 v-if="!productsInWishlist.length" class="cl-accent ml30">
      {{ $t('Your wishlist is empty.') }}
    </h4>
    <div v-if="!productsInWishlist.length" class="ml30">
      {{ $t("Don't hesitate and") }}
      <router-link :to="localizedRoute('/')">
        {{ $t('browse our catalog') }}
      </router-link>
      {{ $t('to find something beautiful for You!') }}
    </div>
      <ul class="products p0 m0">
      <product v-for="wishlistProduct in productsInWishlist" :key="wishlistProduct.id" :product="wishlistProduct" />
    </ul>
  </div>
</template>

<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'
import ClearWishlistButton from 'theme/components/core/blocks/Wishlist/ClearWishlistButton'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    Product,
    ClearWishlistButton
  },
  methods: {
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Are you sure you would like to remove all the items from the wishlist?'),
        action1: { label: this.$t('OK'),
          action: () => {
            this.$store.dispatch('wishlist/clear')
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      })
    }
  },
  mixins: [Wishlist]
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
  i {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
</style>

<style lang="scss">
  #app{
    .wishlist-sidebar{ width:700px;}
  }
  @media (max-width: 767px) {
    .wishlist-title{ margin-bottom:20px;
      .material-icons img{width: 30px;}
    }
    .wishlist{padding:20px;
       .f-s-24 {font-size: 18px;}  
    }
  }
  @media (max-width:500px) {
    #app .wishlist-sidebar {width: 90%;}
  }
</style>