<template>
  <div class="personal-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row mb15">
           <div class="col-xs-12 col-md-7" :class="{ 'cl-bg-tertiary' : !isFilled && !isActive }">
            <h3 class="m0 mb5">
              {{ $t('Personal Details') }}
            </h3>
          </div> 
          <div class="col-xs-12 col-md-5 pr30">
            <div class="lh30 flex end-lg" v-if="isFilled && !isActive">
              <a href="#" class="cl-tertiary flex" @click.prevent="edit">
                <span class="pr5">
                  {{ $t('Edit personal details') }}
                </span>
                <i class="material-icons cl-tertiary">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <!-- <div class="hidden-xs col-sm-2 col-md-1" /> -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-md-6 mb5">
            <label class="form-label">{{ $t('First Name*') }}</label>
            <base-input
              class="mb5"
              type="text"
              :autofocus="true"
              name="first-name"
              v-model.trim="personalDetails.firstName"
              @blur="$v.personalDetails.firstName.$touch()"
              autocomplete="given-name"
              :validations="[
                {
                  condition: $v.personalDetails.firstName.$error && !$v.personalDetails.firstName.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.personalDetails.firstName.minLength,
                  text: $t('Name must have at least 2 letters.')
                }
              ]"
            />
          </div>
          <div class="col-xs-12 col-md-6 mb5">
            <label class="form-label">{{ $t('Last Name*') }}</label>
            <base-input
              class="mb5"
              type="text"
              name="last-name"
              v-model.trim="personalDetails.lastName"
              @blur="$v.personalDetails.lastName.$touch()"
              autocomplete="family-name"
              :validations="[{
                condition: $v.personalDetails.lastName.$error && !$v.personalDetails.lastName.required,
                text: $t('Field is required')
              }]"
            />
          </div>
          <div class="col-xs-12 col-md-6 mb5">
            <label class="form-label">{{ $t('Email Address*') }}</label>  
            <base-input
              class="mb5"
              type="email"
              name="email-address"
              v-model="personalDetails.emailAddress"
              @blur="$v.personalDetails.emailAddress.$touch()"
              autocomplete="email"
              @keyup.enter="sendDataToCheckout"
              :validations="[
                {
                  condition: $v.personalDetails.emailAddress.$error && !$v.personalDetails.emailAddress.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.personalDetails.emailAddress.email && $v.personalDetails.emailAddress.$error,
                  text: $t('Please provide valid e-mail address.')
                }
              ]"
            />
          </div>
          <div class="col-xs-12 col-md-6 mb5">
            <label class="form-label">{{ $t('Company') }}</label>
            <base-input
              class="mb5"
              type="text"
              :autofocus="true"
              name="company"
            />
          </div>
           <div class="col-xs-12 col-md-6 mb5">
            <label class="form-label">{{ $t('Address') }}</label>
            <base-input
              class="mb5"
              type="text"
              :autofocus="true"
              name="Address"
            />
          </div>
          <div class="col-xs-12 col-md-6 mb5">
            <label class="form-label">{{ $t('Select region, State, Province') }}</label>
            <base-input
              class="mb5"
              type="text"
              name="state"
              v-model.trim="shipping.state"
              autocomplete="address-level1"
            />
          </div>
          <div class="col-xs-12 col-md-6 mb5">
            <label class="form-label">{{ $t('Zip / Postal Code*') }}</label>
            <base-input
            class="mb5"
            type="text"
            name="zip-code"
            v-model.trim="personalDetails.zipCode"
            @blur="$v.personalDetails.zipCode.$touch()"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.personalDetails.zipCode.$error && !$v.personalDetails.zipCode.required,
                text: $t('Field is required')
              }
            ]"
            
          />
          </div>
          
         
          <div class="col-xs-12 col-md-6 mb5">
            <label class="form-label">{{ $t('Country') }}</label>
            <base-select
              class="mb5"
              name="countries"
              :options="countryOptions"
              :selected="shipping.country"
              v-model="shipping.country"
              autocomplete="country-name"
              @blur="$v.personalDetails.country.$touch()"
              @change.native="$v.personalDetails.country.$touch(); changeCountry();"
            />
          </div>
            <div class="col-xs-12 col-md-12 mb5">
              <label class="form-label">{{ $t('Phone Number*') }}</label>
              <base-input
                class="mb5"
                type="number"
                name="phone-number"
                autocomplete="tel"
                v-model.trim="personalDetails.phonenumber"
                @blur="$v.personalDetails.phonenumber.$touch()"
                :validations="[{
                  condition: $v.personalDetails.phonenumber.$error && !$v.personalDetails.phonenumber.required,
                  text: $t('Field is required')
                }]"
              />
          </div>  
          <h4 class="col-xs-12 mb5">
            {{ $t('Shipping Method') }}
          </h4>
          <div v-for="(method, index) in shippingMethods" :key="index" class="col-md-6 mt10 shipping-checkout">
            <label class="radioStyled"> {{ method.method_title }} | {{ method.amount | price(storeView) }}
              <input
                type="radio"
                :value="method.method_code"
                name="shipping-method"
                v-model="shipping.shippingMethod"
                @change="$v.shipping.shippingMethod.$touch(); changeShippingMethod();"
              >
              <span class="checkmark" />
            </label>
          </div>
          
          <!-- <base-checkbox
            v-if="!currentUser"
            class="col-xs-12 mb15"
            id="createAccountCheckbox"
            v-model="createAccount"
          >
            {{ $t('I want to create an account') }}
          </base-checkbox> -->

          <template v-if="createAccount && !currentUser">
            <base-input
              class="col-xs-12 mb10 mt5"
              type="password"
              name="password"
              ref="password"
              :placeholder="$t('Password *')"
              v-model="password"
              @blur="$v.password.$touch()"
              autocomplete="new-password"
              :validations="[{
                condition: $v.password.$error && !$v.password.required,
                text: $t('Field is required.')
              }]"
            />

            <base-input
              class="col-xs-12 mb25"
              type="password"
              name="password-confirm"
              :placeholder="$t('Repeat password *')"
              v-model="rPassword"
              autocomplete="new-password"
              :validations="[
                {
                  condition: $v.rPassword.$error && !$v.rPassword.required,
                  text: $t('Field is required.')
                },
                {
                  condition:!$v.rPassword.sameAsPassword,
                  text: $t('Passwords must be identical.')
                }
              ]"
            />

            <base-checkbox
              class="col-xs-12 mb15"
              id="acceptConditions"
              @blur="$v.acceptConditions.$touch()"
              v-model="acceptConditions"
              :validations="[{
                condition: !$v.acceptConditions.sameAs && $v.acceptConditions.$error,
                text: $t('You must accept the terms and conditions.')
              }]"
            >
              {{ $t('I accept ') }}
              <span
                class="link pointer"
                @click.prevent="$bus.$emit('modal-toggle', 'modal-terms')"
              >
                {{ $t('Terms and conditions') }}
              </span>*
            </base-checkbox>
          </template>
        </div>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <!-- <div class="hidden-xs col-sm-2 col-md-1" /> -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row my15">
          <div class="col-xs-12 col-md-12 button-container">
            <button-full
               class="button-continue"
              data-testid="personalDetailsSubmit"
              @click.native="sendDataToCheckout"
            >
              {{ $t((isVirtualCart ? 'Continue to payment' : 'Continue')) }}
            </button-full>
          </div>
          <!-- <div
            class="col-xs-12 col-md-5 center-xs end-md"
            v-if="!currentUser"
          >
            <p class="h4 cl-accent">
              {{ $t('or') }}
              <span
                class="link pointer"
                @click.prevent="gotoAccount"
              >
                {{ $t('login to your account') }}
              </span>
            </p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row" v-if="!isActive && isFilled">
      <!-- <div class="hidden-xs col-sm-2 col-md-1" /> -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row fs16">
          <div class="col-xs-12 h4">
            <p>
              {{ personalDetails.firstName }} {{ personalDetails.lastName }}
            </p>
            <div>
              <span class="pr15">{{ personalDetails.emailAddress }}</span>
              <!-- <tooltip>{{ $t('We will send you details regarding the order') }}</tooltip> -->
            </div>
            <template v-if="createAccount && !currentUser">
              <base-checkbox
                class="mt25"
                id="createAccountCheckboxInfo"
                v-model="createAccount"
                disabled
              >
                {{ $t('Create a new account') }}
              </base-checkbox>
              <p class="h5 cl-tertiary">
                {{ $t('The new account will be created with the purchase. You will receive details on e-mail.') }}
              </p>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import { PersonalDetails } from '@vue-storefront/core/modules/checkout/components/PersonalDetails'
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Tooltip from 'theme/components/core/Tooltip'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'

export default {
  components: {
    ButtonFull,
    Tooltip,
    BaseCheckbox,
    BaseInput,
    BaseSelect
  },
  mixins: [PersonalDetails, Shipping],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    storeView () {
      return currentStoreView() 
    }
    
  },
  validations: {
    personalDetails: {
      firstName: {
        required,
        minLength: minLength(2)
      },
      lastName: {
        required
      },
      zipCode: {
        required,
        minLength: minLength(3)
      },
      phonenumber: {
        required
      },
      country: {
        required
      },
      emailAddress: {
        required,
        email
      }
    },
    password: {
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    acceptConditions: {
      sameAs: sameAs(() => true)
    }
  }
}
</script>

<style lang="scss" scoped>
.link {
  text-decoration: underline;
}
.login-prompt {
  @media (min-width: 1200px) {
    margin-top: 30px;
  }
}
</style>

<style lang="scss">

.base-input input {
    height: 60px;
    margin-bottom: 5px;
    border: 1px solid #aaa;
    padding:15px;
    &:focus {
      border-color: #000;
    }
}

button { 
  &.button-continue {
      background: #024D70;
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      border: 3px solid #024d70;
      &:hover {
        background: #fff;
        color: #024d70;
        border: 3px solid #024d70;
    }
  }
}
.select-wrapper { 
  &:after{
    top: 1.6rem;
    right: 20px;
  }
  select {
    height: 60px;
    border: 1px solid #aaa;
    width: 100%;
    padding: 0 15px;
    font-weight: 500;
    font-family: 'Kessel 105 Text';
    font-size: 16px;
    margin-bottom: 5px;
  }  
}

#checkout {
    .radioStyled {
      span.checkmark{
        &:after {
          display: none !important;
        }
        &:before {
          display: none !important;
        }
      }
    }
  }
</style>