<template>
  <div>
    <div class="thank-you-content">
      <div class="container">
        <h3 v-if="OnlineOnly">
          <span>
            <svg
              width="80"
              height="80"
              viewBox="0 0 80 80"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="40"
                cy="40"
                r="39"
                stroke="#024D70"
                stroke-width="2"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M31.5204 50.1002L56.6207 25L59.0705 27.45L31.5204 55L20 43.4795L22.4498 41.0295L31.5204 50.1002Z"
                fill="#024D70"
                stroke="white"
              />
            </svg>
          </span>
          {{ $t('Thank You For Your Purchase') }}
        </h3>
        <p
          v-if="OnlineOnly"
          v-html="
            this.$t(
              'We received your order and are working on it now.We will let you know once its heading your way.'
            )
          "
        />
        <p
          class="pt50"
          v-if="OnlineOnly && lastOrderConfirmation.orderNumber"
          v-html="
            this.$t(
              'The OrderNumber is {id}',
              '<span>' + { id: lastOrderConfirmation.orderNumber }
            ) + '</span>'
          "
        />

        <h3 v-if="OfflineOnly">
          {{ $t('You are offline') }}
        </h3>
        <p v-if="OfflineOnly && !isNotificationSupported">
          {{
            $t(
              'To finish the order just come back to our store while online. Your order will be sent to the server as soon as you come back here while online and then confirmed regarding the stock quantities of selected items'
            )
          }}
        </p>
        <p
          v-if="OfflineOnly && isNotificationSupported && !isPermissionGranted"
        >
          {{
            $t(
              "You can allow us to remind you about the order via push notification after coming back online. You'll only need to click on it to confirm."
            )
          }}
        </p>
        <p
          v-if="OfflineOnly && isNotificationSupported && !isPermissionGranted"
        >
          {{
            $t(
              `Or if you will stay on "Order confirmation" page, the order will be placed automatically without confirmation, once the internet connection will be back.`
            )
          }}
        </p>
        <p v-if="OfflineOnly && isNotificationSupported && isPermissionGranted">
          <strong>{{
            $t(
              'You will receive Push notification after coming back online. You can confirm the order by clicking on it'
            )
          }}</strong>
        </p>
        <div id="thank-you-extensions" />
      </div>
    </div>
  </div>
</template>

<script>
import Composite from '@vue-storefront/core/mixins/composite';
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea';
import ButtonOutline from 'theme/components/theme/ButtonOutline';
import VueOfflineMixin from 'vue-offline/mixin';
import { EmailForm } from '@vue-storefront/core/modules/mailer/components/EmailForm';
import { isServer } from '@vue-storefront/core/helpers';
import config from 'config';
import { registerModule } from '@vue-storefront/core/lib/modules';
import { MailerModule } from '@vue-storefront/core/modules/mailer';

export default {
  name: 'ThankYouPage',
  mixins: [Composite, VueOfflineMixin, EmailForm],
  beforeCreate () {
    registerModule(MailerModule);
  },
  data () {
    return {
      feedback: ''
    };
  },
  computed: {
    lastOrderConfirmation() {
      return this.$store.state.order.last_order_confirmation
        ? this.$store.state.order.last_order_confirmation.confirmation
        : {};
    },
    isNotificationSupported () {
      if (isServer || !('Notification' in window)) return false;
      return 'Notification' in window;
    },
    isPermissionGranted () {
      if (isServer || !('Notification' in window)) return false;
      return Notification.permission === 'granted';
    },
    checkoutPersonalEmailAddress () {
      return this.$store.state.checkout.personalDetails.emailAddress;
    },
    mailerElements () {
      return config.mailer.contactAddress;
    }
  },
  methods: {
    requestNotificationPermission () {
      if (isServer) return false;
      if ('Notification' in window && Notification.permission !== 'granted') {
        Notification.requestPermission();
      }
    },
    sendFeedback () {
      this.sendEmail(
        {
          sourceAddress: this.checkoutPersonalEmailAddress,
          targetAddress: this.mailerElements,
          subject: this.$t('What we can improve?'),
          emailText: this.feedback
        },
        this.onSuccess,
        this.onFailure
      );
    },
    onSuccess (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message,
        action1: { label: this.$t('OK') }
      });
      if (this.mailerElements.sendConfirmation) {
        this.sendEmail({
          sourceAddress: this.mailerElements,
          targetAddress: this.checkoutPersonalEmailAddress,
          subject: this.$t('Confirmation of receival'),
          emailText: this.$t(
            `Dear customer,\n\nWe have received your letter.\nThank you for your feedback!`
          ),
          confirmation: true
        });
      }
    },
    onFailure (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message,
        action1: { label: this.$t('OK') }
      });
    }
  },
  destroyed () {
    this.$store.dispatch('checkout/setThankYouPage', false);
  },
  components: {
    BaseTextarea,
    ButtonOutline
  }
};
</script>

<style lang="scss">
.thank-you-content {
  padding-left: 0;
  padding: 100px 0;
  text-align: center;
  .container {
    max-width: 600px;
    h3 {
      color: #024d70;
      padding-bottom: 20px;
      font-size: 30px;
      span {
        display: block;
        margin-bottom: 40px;
      }
    }
  }

  p {
    line-height: 25px;
    font-size: 20px;
    span {
      font-family: 'Kessel 105 Text';
      font-weight: bold;
      text-decoration: underline;
    }
  }

  @media (min-width: 64em) {
    h4 {
      font-size: 24px;
    }
  }
}
.thank-you-improvment {
  padding: 0 20px 15px;

  @media (min-width: 64em) {
    padding: 0 40px 10px;
  }

  textarea {
    min-height: 100px;
  }
}
@media (max-width: 767px) {
  .thank-you-content {
    padding: 50px 30px;
    .container {
      max-width: 100%;
      h3 {
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 0;
        span {
          display: block;
          margin-bottom: 25px;
          svg {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    p {
      line-height: 20px;
      font-size: 14px;
    }
  }
}
</style>
