<template>
  <div class="sidebar-menu fixed mw-100 bg-cl-secondary">
    <div class="row brdr-bottom-1 brdr-cl-bg-secondary m0">
      <div
        v-if="submenu.depth"
        class="col-xs bg-cl-primary"
      >
        <sub-btn type="back" class="bg-cl-transparent brdr-none" />
      </div>
      <div class="col-xs bg-cl-primary">
        <button
          type="button"
          :aria-label="$t('Close')"
          class="w-100 inline-flex end-xs bg-cl-transparent brdr-none p0 close-btn"
          @click="closeMenu"
        >
          <i class="material-icons p15">close</i>
        </button>
      </div>
    </div>
    <div class="sidebar-menu__container row relative" ref="container">
      <div class="col-xs-12 h4  start-xs">
        <div class="p0 m0  sidebar-menu__list" :style="mainListStyles">
            <VueSlickCarousel v-bind="settings">
          <div
            class="sidebar_menu_list_li flex"
            :key="category.slug"
            @click="closeMenu"
            v-for="category in visibleCategories"
          >
            <router-link
                class="px25 py17 cl-accent no-underline col-xs"
                :to="categoryLink(category)"
              >
                {{ category.name }}
              </router-link>
          </div>
          <div class="sidebar_menu_list_li flex mega-menu">
            <a href="#" @mouseover="openMegaMenu(1)" @mouseleave="closeMegamenu()" class="px25 py17 cl-accent no-underline col-xs" :class="{ 'active' : megaMenuActive === 1 }">
              Clothe
            </a> 
          </div>
          <div class="sidebar_menu_list_li flex mega-menu">
            <a href="#"  class="px25 py17 cl-accent no-underline col-xs">
              Dresses
            </a> 
          </div>
            <div class="sidebar_menu_list_li flex mega-menu">
            <a href="#"  class="px25 py17 cl-accent no-underline col-xs">
              Denim
            </a> 
          </div>
          <div class="sidebar_menu_list_li flex mega-menu">
            <a href="#"  class="px25 py17 cl-accent no-underline col-xs">
              Occasion
            </a> 
          </div>
          <div class="sidebar_menu_list_li flex mega-menu">
            <a href="#"  class="px25 py17 cl-accent no-underline col-xs">
              Trends
            </a> 
          </div>
            <div class="sidebar_menu_list_li flex mega-menu">
            <a href="#"  class="px25 py17 cl-accent no-underline col-xs">
              Trends
            </a> 
          </div>
          <div class="sidebar_menu_list_li"
            v-if="isCurrentMenuShowed"
            @click="closeMenu"
          >
            <router-link
              class="px25 py17 cl-accent no-underline col-xs"
              :to="localizedRoute('/sale')"
              exact
            >
              {{ $t('Sale') }}
            </router-link>
          </div>
          <div class="sidebar_menu_list_li"
            v-if="isCurrentMenuShowed"
            @click="closeMenu"
          >
            <router-link
              class="px25 py17 cl-accent no-underline col-xs"
              :to="localizedRoute('/magazine')"
              exact
            >
              {{ $t('Magazine') }}
            </router-link>
          </div>
          <div
            v-if="compareIsActive && isCurrentMenuShowed"
            @click="closeMenu"
            class="sidebar_menu_list_li"
          >
            <router-link
              class="px25 py17 cl-accent no-underline col-xs"
              :to="localizedRoute('/compare')"
              exact
            >
              {{ $t('Compare products') }}
            </router-link>
          </div>
            </VueSlickCarousel>  
            <div class="mega-menu-content p50 fcontentt-1" @mouseover="openMegaMenu(1)" @mouseleave="closeMegamenu()"  :class="{'active' : megaMenuActive === 1}">
              <div class="row">
                  <div class="col-md-2  col-sm-3  col-xs-12 KesselBook mega-menu-highlighted-links">
                    <ul class="f-s-20 m0 p0">
                      <li class="mb30"><a href="">Sales</a></li>
                      <li class="mb30"><a href="">New Arrivals</a></li>
                      <li class="mb30"><a href="">View All</a></li>
                    </ul>
                  </div>
                  <div class="col-md-7  col-sm-6  col-xs-12 KesselBook  mega-menu-all-links">
                    <ul class="f-s-16 m0 p0">
                      <li class="mb30"><a href="">All Clothing</a></li>
                      <li class="mb30"><a href="">Dresses</a></li>
                      <li class="mb30"><a href="">Tops</a></li>
                      <li class="mb30"><a href="">Coats & Jackets</a></li>
                      <li class="mb30"><a href="">Knitwear</a></li>
                      <li class="mb30"><a href="">Playsuits</a></li>
                      <li class="mb30"><a href="">Jumpsuits</a></li>
                      <li class="mb30"><a href="">Co-ord Sets</a></li>
                      <li class="mb30"><a href="">Jeans</a></li>
                    </ul>
                    <ul class="f-s-16 m0 p0">
                      <li class="mb30"><a href="">All Clothing</a></li>
                      <li class="mb30"><a href="">Dresses</a></li>
                      <li class="mb30"><a href="">Tops</a></li>
                      <li class="mb30"><a href="">Coats & Jackets</a></li>
                      <li class="mb30"><a href="">Knitwear</a></li>
                      <li class="mb30"><a href="">Playsuits</a></li>
                      <li class="mb30"><a href="">Jumpsuits</a></li>
                      <li class="mb30"><a href="">Co-ord Sets</a></li>
                      <li class="mb30"><a href="">Jeans</a></li>
                    </ul>
                    <ul class="f-s-16 m0 p0">
                      <li class="mb30"><a href="">All Clothing</a></li>
                      <li class="mb30"><a href="">Dresses</a></li>
                      <li class="mb30"><a href="">Tops</a></li>
                      <li class="mb30"><a href="">Coats & Jackets</a></li>
                      <li class="mb30"><a href="">Knitwear</a></li>
                      <li class="mb30"><a href="">Playsuits</a></li>
                      <li class="mb30"><a href="">Jumpsuits</a></li>
                      <li class="mb30"><a href="">Co-ord Sets</a></li>
                      <li class="mb30"><a href="">Jeans</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3  col-sm-3  col-xs-12 mega-menu-right end-xs">
                    <div class="mega-menu-img">
                      <img src="/assets/menu-right-img.jpg" alt="">
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>  
      <ul class="p0 m0 relative sidebar-menu__list desktop-menu" :style="mainListStyles">
        <li
          class="brdr-bottom-1 brdr-cl-bg-secondary bg-cl-primary flex"
          :key="category.slug"
          @click="closeMenu"
          v-for="category in visibleCategories"
        >
          <router-link
              class="px25 py20 cl-accent no-underline col-xs"
              :to="categoryLink(category)"
            >
              {{ category.name }}
            </router-link>
        </li>
        <li
          v-if="isCurrentMenuShowed"
          @click="closeMenu"
        >
          <router-link
            class="block px25 py20 cl-accent no-underline fs-medium-small"
            :to="localizedRoute('/sale')"
            exact
          >
            {{ $t('Sale') }}
          </router-link>
        </li>
        <li
          v-if="isCurrentMenuShowed"
          @click="closeMenu"
        >
          <router-link
            class="block px25 py20 cl-accent no-underline fs-medium-small"
            :to="localizedRoute('/magazine')"
            exact
          >
            {{ $t('Magazine') }}
          </router-link>
        </li>
        <li
          v-if="compareIsActive && isCurrentMenuShowed"
          @click="closeMenu"
          class="bg-cl-secondary"
        >
          <router-link
            class="block px25 py20 cl-accent no-underline fs-medium-small"
            :to="localizedRoute('/compare')"
            exact
          >
            {{ $t('Compare products') }}
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn'
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
// import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'

export default {
  components: {
    SubCategory,
    VueSlickCarousel,
    SubBtn
  },
  mixins: [SidebarMenu],
  data () {
    return {
      activeAcordian: null,
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      settings: {
        dots: false,
        arrows:false,
        infinite: false,
        slidesToShow: false,
        centerMode: false,
        variableWidth: true,
        responsive: [
         {
           breakpoint:768,
           settings: {
              infinite: true,
              speed: 300,
              slidesToShow:4,
              centerMode: true,
              variableWidth: true
           },
         }
       ],
     },
      componentLoaded: false,
      megaMenuActive: undefined
    }
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth ? `transform: translateX(${this.submenu.depth * 100}%)` : false
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
      // disableBodyScroll(this.$refs.container)
    })
  },
  destroyed () {
    clearAllBodyScrollLocks()
  },
  methods: {
    openMegaMenu (index) {
      this.megaMenuActive = index;
    },
    closeMegamenu () {
      this.megaMenuActive = null;
    },
    login () {
      if (!this.currentUser && this.isCurrentMenuShowed) {
        this.$nextTick(() => {
          this.$store.commit('ui/setAuthElem', 'login')
          this.$bus.$emit('modal-show', 'modal-signup')
          this.$router.push({ name: 'my-account' })
        })
      }
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-gainsboro: color(gainsboro);
$color-matterhorn: color(matterhorn);
$color-mine-shaft: color(mine-shaft);

.sidebar-menu {
  height: 100vh;
  width: 350px;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 100vh;
  }

  &__container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 55px);
  }

  &__list {
    transition: transform $duration-main $motion-main;
  }

  .mega-menu-content ul li{
    list-style-type: none;
  }

  .sidebar-menu__list  .sidebar_menu_list_li {
    &:hover,
    &:focus {
      background-color: $color-gainsboro;
    }
    &.bg-cl-primary {
      &:hover,
      &:focus {
        background-color: $bg-secondary;
      }
    }
    a {
      color: $color-mine-shaft;
    }
  }

  .subcategory-item {
    display: flex;
    width: 100%;
  }

  button {
    color: $color-mine-shaft;a {
      color: $color-mine-shaft;
    }
  }

  .close-btn {
    i {
      color: $color-gainsboro;
    }
    &:hover,
    &:focus {
      i {
        color: $color-matterhorn;
      }
    }
  }
  .mega-menu-content{
   
    position: absolute; background: #fff; left: 0; top:100%;z-index: 1;width:100%; margin-top:1px;
    li a{
      color:#000;
      &:hover{
        color: #024D70;
      }
    }
    .mega-menu-all-links{
      display: flex;
      justify-content: space-around;
      border-right: solid 1px #DDDDDD;
      border-left: solid 1px #DDDDDD;
    }
    }
    .mega-menu-content.active{display: block;}
    


  }


@media (max-width:1380px) {
  .mega-menu-img img{width: 100%;}
}

@media (max-width:767px) {
   #app {
  .desktop-menu{ display:none;}
  .mobile-menu{ display:block;}
  }
}

</style>
