<template>
  <section class="pt40 sizeguidessection" :class="{ active: showPanel }">
      <div class="row">
      <div class="col-md-12 end-xs px40" data-testid="SizeGuides">
        <i class="material-icons p15 pointer cl-accent size-close" @click="closeSizeGuides" data-testid="closeSizeGuides">close</i>
      </div>
    </div>
    <div class="row middle-xs px40 header-title ">
        <div class="col-xs-12 col-sm cl-accent">
            <header>
                {{ $t('Size') }}
            </header>
        </div>
    </div>
    <div class="select-size-box px40 pt30">
        <div class="select-size-item">
            <p>UK SIZE 6</p>
            <ul>
            <li>
                <p class="select-size-title">Bust<span class="select-size-rule">80 cm - 31.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Waist<span class="select-size-rule">62 cm - 24.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Hips<span class="select-size-rule">88 cm - 33.5 in</span></p>
            </li>
            </ul>
        </div>
        <div class="select-size-item">
            <p>UK SIZE 8</p>
            <ul>
            <li>
                <p class="select-size-title">Bust<span class="select-size-rule">80 cm - 31.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Waist<span class="select-size-rule">62 cm - 24.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Hips<span class="select-size-rule">88 cm - 33.5 in</span></p>
            </li>
            </ul>
        </div>
        <div class="select-size-item">
            <p>UK SIZE 10</p>
            <ul>
            <li>
                <p class="select-size-title">Bust<span class="select-size-rule">80 cm - 31.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Waist<span class="select-size-rule">62 cm - 24.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Hips<span class="select-size-rule">88 cm - 33.5 in</span></p>
            </li>
            </ul>
        </div>
        <div class="select-size-item">
            <p>UK SIZE 12</p>
            <ul>
            <li>
                <p class="select-size-title">Bust<span class="select-size-rule">80 cm - 31.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Waist<span class="select-size-rule">62 cm - 24.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Hips<span class="select-size-rule">88 cm - 33.5 in</span></p>
            </li>
            </ul>
        </div>
        <div class="select-size-item">
            <p>UK SIZE 14</p>
            <ul>
            <li>
                <p class="select-size-title">Bust<span class="select-size-rule">80 cm - 31.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Waist<span class="select-size-rule">62 cm - 24.5 in</span></p>
            </li>
            <li>
                <p class="select-size-title">Hips<span class="select-size-rule">88 cm - 33.5 in</span></p>
            </li>
            </ul>
        </div>
    </div>
  </section>
</template>
<script>
export default{
 computed: {
    showPanel () {
      return this.isOpen && this.componentLoaded
    }
  },
  methods: {
      closeSizeGuides() {
        this.$store.commit('ui/setSizeGuides', false)
      }
  }   
}
</script>

<style lang="scss">

@import '~theme/css/animations/transitions';
@import "~theme/css/variables/grid";
@import "~theme/css/variables/typography";

  #product {
      .modal {
        font-size: 18px;
        @media (max-width: 767px) {
          left: 60px;
          z-index: 9999;
          height: 100%;
          background: #fff;
        }
        .modal-container {
              left: auto;
              transform: translate(0, 0);
              right: 0;
              top: 0;
              height: 100%;
              right: 0;
              max-width: 539px;
              width: 100%;
              @media (max-width: 767px) {
                width: 100% !important;
              }
              .modal-content  {
                @media (max-width: 767px) {
                  padding-top: 0;
                } 
              }
          }
      }
  }
 .sizeguidessection {
    header {
            background: transparent;
            font-size: 24px;
            font-weight: 600;
            color: #000;
            @media (max-width: 767px) { 
                font-size: 20px;
            }
        }
   
        .size-close {
          border: 1px solid #000;
          border-radius: 50px;
          color: #000;
          padding: 5px;
          font-size: 24px;
          position: absolute;
          right: 45px;
          top: 35px;
          @media (max-width: 767px) { 
            font-size: 20px;
            top: 20px;
            right: 25px;
          }
          &:hover {
              background: #ccc;
              border-color: #ccc;
          }
      }
      .select-size-item {
        background-color: #eeeeee;
        padding: 15px;
        margin-bottom: 15px;
        > p {
            font-size: 18px;
            @media (max-width: 767px) { 
            font-size: 16px;
          }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 7px 0 0;
                .select-size-title {
                    font-size: 18px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 60%;
                    color: #000;
                    @media (max-width: 767px) { 
                      font-size: 16px;
                      width: 80%;
                    }
                    .select-size-rule {
                        font-weight: normal;
                        text-align: right;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) { 

section.sizeguidessection {
    padding-top: 30px;
    .select-size-box {
        padding: 25px;
    }
    .header-title {
        padding-left: 25px;
        padding-right: 25px;
    }
}

}


</style>
