<template>
      <section class="container best-collection-section pt20 pb100">
          <div class="best-collection-row pb80">
            <div class="best-collection-left d-flex align-items-stretch">
              <div class="img img-1"><img src="/assets/best-collection-section-img1.jpg" alt=""></div>
            </div> 
            <div class="best-collection-right text px40  py40 mx80  my80">
              <div class="text-max">
                <h4 class="mb20 uppercase">Party Collection</h4>
                <p class="pb30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                <p><a href="" class="">View All Collection</a></p>
              </div>
            </div>
          </div>
          <div class="best-collection-row">
            <div class="best-collection-left d-flex align-items-stretch">
              <div class="img img-1"><img src="/assets/best-collection-section-img2.jpg" alt=""></div>
            </div> 
            <div class="best-collection-right text px40  py40 mx80  my80">
              <div class="text-max">
                <h4 class="mb20 uppercase">WEDDING Collection</h4>
                <p class="pb30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                <p><a href="" class="">View All Collection</a></p>
              </div>
            </div>
          </div>
    </section>
</template>



<style lang="scss">

@media (max-width:550px) {
#app{
  .best-collection-section {
    padding-top:0px;
    padding-bottom: 0;
    .text p a {
    color: #024D70;
    text-decoration: underline;
    font-size: 12px;
    }
    .img img { width: 100%;position: static;}
    .best-collection-row{margin-bottom:25px;padding-bottom: 0;}
  }
  .best-collection-row {
    padding-top: 0;
    display: block;
    .best-collection-left {
      width: auto;
    }
    .text {
      margin:0;
      width: auto;
      margin-right: 0;
      background: linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 100%);
      padding:10px;
      h4{
        margin-bottom:3px;
      }
      p{
        font-size:12px;
        line-height:16px;
        padding-bottom: 4px;
      }
    }
  }
  h4, .h4 {
    font-size: 14px;
    line-height: 15px;
  }
  }
}
</style>