<template>
   <section  class="container pt70 pb60 px15 recommended-section">
   <div class="row">
      <header class="col-md-12 relative mb20">
        <h2 class="align-center uppercase">
          {{ $t('Recommended For You') }}
        </h2>
        <div class="viewallhome absolute"><a href="" class="flex">View All <span class="arrow_right"></span></a></div>
      </header>
      <div class="col-md-12 relative mb30" v-if="saveUptoProduct.length > 0">
         <tabs>
          <tab :title="$t('Woman')">
            <VueSlickCarousel v-bind="settings">  
               <div v-for="(product, index) of saveUptoProduct" :key="index">
                  <product-tile :product="product" />
               </div>
            </VueSlickCarousel>    
          </tab>
          <tab :title="$t('Man')">
           <VueSlickCarousel v-bind="settings">  
               <div v-for="(product, index) of saveUptoProduct" :key="index">
                  <product-tile :product="product" />
               </div>
            </VueSlickCarousel>   
          </tab>    
          <tab :title="$t('Teen')">
            <VueSlickCarousel v-bind="settings">  
               <div v-for="(product, index) of saveUptoProduct" :key="index">
                  <product-tile :product="product" />
               </div>
            </VueSlickCarousel>  
          </tab>  
          <tab :title="$t('Child')">
            <VueSlickCarousel v-bind="settings">  
               <div v-for="(product, index) of saveUptoProduct" :key="index">
                  <product-tile :product="product" />
               </div>
            </VueSlickCarousel>    
          </tab> 
          <tab :title="$t('Baby')">
            <VueSlickCarousel v-bind="settings">  
               <div v-for="(product, index) of saveUptoProduct" :key="index">
                  <product-tile :product="product" />
               </div>
            </VueSlickCarousel>   
          </tab>       
        </tabs>
      </div>
      <div class="c"></div>
    </div>
</section>
</template>
<script>
import Tabs from 'theme/components/core/Tabs'
import Tab from 'theme/components/core/Tab'
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import Home from '@vue-storefront/core/pages/Home'
import ProductTile from 'theme/components/core/ProductTile'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
export default {
  data () {
    return {
      loading: true,
      saveUptoProduct:[],
      settings: {
       dots: false,
       arrows: true,
       dotsClass: 'slick-dots custom-dot-class',
       infinite: false,
       speed: 500,
       slidesToShow:5,
       slidesToScroll: 1,
       responsive: [
         {
           breakpoint: 1024,
           settings: {
             slidesToShow: 3,
             slidesToScroll: 3,
             infinite: true,
             dots: true,
           },
         },
         {
           breakpoint: 600,
           settings: {
             slidesToShow: 1.5,
             slidesToScroll: 1
           },
         },
         {
           breakpoint: 480,
           settings: {
             slidesToShow: 1.5,
             slidesToScroll: 1
           },
         },
       ],
     },
    }
  },
  mixins: [Home],
  components: {
    VueSlickCarousel,
    Tabs,
    ProductTile,
    Tab
  },
  async mounted () {
    await this.$store.dispatch('product/list', {
      size: 10
    }).then(res => {
      this.saveUptoProduct = res.items.length > 0 ? res.items : [];
    })
  }
}
</script>



<style lang="scss">

@media (max-width:767px) {
   #app {
   .pb60 {padding-bottom: 25px;}
   .pt70 {padding-top: 0;}
  } 
}
@media (max-width:550px) {
   #app {
   .recommended-section {
      header {
         h2{font-size: 16px;line-height: 17px;text-align: left;}
         .viewallhome a {
         font-size: 14px;
         line-height: 15px;
        }
      }
      .tabs__header li {
      font-size: 14px;
      padding: 7px 6px;
      margin: 0 2px;
      }
      .tabs__header.mb40 {margin-bottom: 15px;}
      .slick-slider{margin: 0 -8px;}
      .slick-prev {
      left: 8px;
      width: 35px;
      height: 35px;
      z-index: 1;
      background:rgba(255,255,255, 0.3);;
      &::before {
        font-size: 33px;
      }
      }
      .slick-next {
      right:8px;
      width: 35px;
      z-index: 1;
      height: 35px;
      background: rgba(255,255,255, 0.3);;
      &::before {
         font-size: 33px;
      }
      }
   }
    .trending-section .mb47 { margin-bottom: 15px;}
  .trending-section.px15  { padding-left:10px; padding-right:10px; padding-top: 0;}
  .recommended-text p {
    padding: 12px 0;
    font-size: 12px;
    text-align: left;
    line-height: 15px;}
    .recommended-color-label {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    margin-right: 6px;}
    .recommended-price {
    font-size: 16px;
    border-radius:18px;}
   .recommended-price-old{
    font-size: 16px;
    border-radius:18px;}
  } 
}
</style>
<style lang="scss" scoped>
@media (max-width:550px) {
.recommended-section.pt70  { padding-left:10px; padding-right:10px;}
.recommended-section .mb30{ margin-bottom:0;}
}
</style>>
</style>