<template>
  <modal name="modal-newsletter" :width="750">
    <p slot="header"></p>
    <div slot="content">
      <div class="row">
        <div class="col-md-5 col-lg-5 col-xs-12 newsletter-left">
          <img src="/assets/newsletter-left-img.jpg">
        </div>
        <div class="col-md-7 col-lg-7 col-xs-12 newsletter-right">
          <form @submit.prevent="subscribe(onSuccesfulSubmission)" novalidate>
            <div class="">
              <h4 class="h4 mb10 weight-700 pt40">{{ $t('Subscribe to Newsletter') }}</h4>
              <p class="pb30 lh20">
                {{ $t('Subscribe to Get 10% off your first order, and discover whats happening in our world.') }}
              </p>
              <p class="f-s-14 gray pb10">Email Address</p>
              <base-input class="mb40 emptyy"
                focus
                type="email"
                name="email"
                v-model="email"
                autocomplete="email"
                :placeholder="$t('E-mail address *')"
                :validations="[
                  {
                    condition: $v.email.$error && !$v.email.required,
                    text: $t('Field is required.')
                  },
                  {
                    condition: !$v.email.email && $v.email.$error,
                    text: $t('Please provide valid e-mail address.')
                  }
                ]"
              />
              <p class="f-s-14 pb15 lh18 black flex"><BaseCheckbox /> I would like to subscribe to thy fashion newsletter and I agree with the Privacy Policy.</p>
            </div>
            <button-full
              class="mb35"
              type="submit"
              :disabled="this.$v.$invalid"
              @click.native="$v.email.$touch"
            >
              {{ $t('Subscribe') }}
            </button-full>
          </form>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe'
import i18n from '@vue-storefront/i18n'

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import Modal from 'theme/components/core/Modal'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue'

export default {
  mounted () {
    this.$nextTick(() => {
      this.$bus.$emit('modal-show', 'modal-newsletter')
    })
  },
  beforeDestroy () {
    this.$off('validation-error')
  },
  methods: {
    onSuccesfulSubmission (isSubscribed) {
      if (isSubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully subscribed to our newsletter!'),
          action1: { label: i18n.t('OK') }
        })
      }

      this.$bus.$emit('modal-hide', 'modal-newsletter')
    }
  },
  components: {
    ButtonFull,
    Modal,
    BaseInput,
    BaseCheckbox
  },
  mixins: [
    SubscriptionStatus, Subscribe
  ]
}
</script>

<style lang="scss">
#app{
  .newsletter{
    .modal-content{
      color: #666;
      padding:20px;
      .newsletter-left img{ width: 100%;}
      .newsletter-right form{padding: 0 10px 0 14px;}
      .emptyy input{ border: solid 1px #AAAAAA; height: 50px; padding: 10px;}
      .base-input {
        min-height:inherit;
        label{ display: none;}
      }
      button.no-outline{ padding: 16px; font-weight: 600;margin: 0;font-size: 18px;line-height: 19px;;}
    }
    .modal-header{padding:0; background:none;}
    .modal-close{ font-size:0; background: url('/assets/right-close-icon.svg') no-repeat;height: 40px;width: 40px;position: absolute;right: 20px;top: 20px;}
    
  }
  @media (max-width:767px) {
    .newsletter{
       .modal {
          .modal-container{ 
          width:350px;min-height: inherit;width: 350px !important;min-height: inherit;max-width: inherit;min-width: inherit;
          .newsletter-right form{padding:0;
          .h4 { font-size: 18px; padding-top: 15px;}
          .mb40 {margin-bottom: 15px;}
          }
         }
       }
       .modal-close {
        height: 30px;
        width: 30px;
        right: -10px;
        top: -10px;
        background-size: cover;
        background-color: #fff;
        border-radius: 30px;
      }
    }
  }
}
</style>
