<template>
  <div class="product-listing row  center-xs start-md">
    <div
      v-for="product in products"
      :key="product.id"
      class="col-sm-4 col-xs-6 p0"
      :class="['col-xl-' + (12/columns)]"
    >
        <product-tile :product="product" />
    </div>
  </div>
</template>

<script>
import ProductTile from 'theme/components/core/ProductTile'
let lastHero = 0
export default {
  name: 'ProductListing',
  components: {
    ProductTile
  },
  props: {
    products: {
      type: null,
      required: true
    },
    columns: {
      type: [Number, String],
      required: true
    }
  },
  methods: {
    wide (isOnSale, isNew, index) {
      let deltaCondition = index > 0 && ((index - 1) - lastHero) % 2 === 0
      // last image always shouldn't be big, we also need to count from last promoted to check if it will look ok
      let isHero = ((isOnSale === '1' || isNew === '1') && deltaCondition) || (index === this.products.length - 1 && (index - lastHero) % 2 !== 0)
      if (isHero) {
        lastHero = index
      }
      return isHero ? 'col-xs-12' : 'col-xs-6'
    }
  }
}
</script>

<style lang="scss">

@media (min-width:1200px) {
  .product-listing{
    [class^="col-"]{
      flex-basis: 20%;
      max-width: 20%;
    }
    .products-list .recommended-box{padding: 0;}
  }
  

}

@media (max-width:550px) {
   #app {
   .recommended-box { padding: 0 8px}
   .recommended-section .slick-arrow{margin-top: -50px;}
  }
}
</style>

