<template>
     <div class="rating-wrap mb25">
                <div class="rating-star">
                  <div class="rating-item">
                    <svg
                      class="MuiSvgIcon-root star-icon"
                      focusable="false"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                      tabindex="-1"
                      title="Star"
                      data-ga-event-category="material-icons"
                      data-ga-event-action="click"
                      data-ga-event-label="Star"
                    >
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      ></path>
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg
                      class="MuiSvgIcon-root star-icon"
                      focusable="false"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                      tabindex="-1"
                      title="Star"
                      data-ga-event-category="material-icons"
                      data-ga-event-action="click"
                      data-ga-event-label="Star"
                    >
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      ></path>
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg
                      class="MuiSvgIcon-root star-icon"
                      focusable="false"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                      tabindex="-1"
                      title="Star"
                      data-ga-event-category="material-icons"
                      data-ga-event-action="click"
                      data-ga-event-label="Star"
                    >
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      ></path>
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg
                      class="MuiSvgIcon-root star-icon"
                      focusable="false"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                      tabindex="-1"
                      title="Star"
                      data-ga-event-category="material-icons"
                      data-ga-event-action="click"
                      data-ga-event-label="Star"
                    >
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      ></path>
                    </svg>
                  </div>
                  <div class="rating-item">
                    <svg
                      class="MuiSvgIcon-root star-icon star-empty"
                      focusable="false"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                      tabindex="-1"
                      title="Star"
                      data-ga-event-category="material-icons"
                      data-ga-event-action="click"
                      data-ga-event-label="Star"
                    >
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <p class="rating-point">
                  {{ $t('4 Reviews') }}
                </p>
        </div>

</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>

@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
@import "~theme/css/base/base";

.rating-wrap {
  @extend %d-flex;
  .rating-point {
    margin-left: 15px;
    line-height: 60%;
    @include text(22px, null, 400);
    border-bottom: 1px solid $black;
  }
}
.rating-star {
  @extend %d-flex;
}
.star-icon {
  color: $yellow;
  height: 30px;
  fill: currentColor;
}
.star-empty {
  color: $light-gray;
  fill: currentColor;
}

</style>