<template>
  <div id="category" class="p30">
    <header>
      <div class="container-full">
        <div class="breadcrumbs-row pb30">
            <breadcrumbs />
        </div>
        <div class="middle-sm category-top p30 mb20 bg-cl-secondary">
          <h4 class="mb20 uppercase">
            {{ getCurrentCategory.name }}
          </h4>
          <p class="gray pb30 f-s-12 lh16">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <ul class="p0 m0 KesselBook">
            <li v-for="category in categories" :key="category.slug">
             <router-link class="p0 cl-accent no-underline col-xs" :to="category.url_path">
                 {{ category.name }}
             </router-link>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container-full">
      <div class=" p30 mb20 bg-cl-secondary category-filters-row">
        <div class="start-xs category-filters">
          <sidebar :filters="getAvailableFilters" @changeFilter="changeFilter" />
        </div>
        <div class="mobile-filters-button row">
          <div class="col-sm-12 col-xs-12 KesselBook pb10">
             Showing
             {{ $t('{count} items', { count: getCategoryProductsTotal }) }}
          </div>
         <div class="col-sm-6 col-xs-6">
            <button
            class="col-xs-12  mr15 p15 n bg-cl-th-accent brdr-none cl-white"
             @click="openbox(1)" :class="{ 'active' : boxactive}"

            >
            {{ $t('Filters') }}
          </button>
         </div>

        <div class="col-sm-6 col-xs-6 filter-box">
             <sort-by
              :has-label="true"
              @change="changeFilter"
              :value="getCurrentSearchQuery.sort"
            />
        </div>
        </div>
        <div class="start-xs mobile-filters" :class="{ 'active' : boxactive}">
          <div class="close-container absolute w-100">
            <i class="close" @click="openbox(1)" :class="{ 'active' : boxactive}"><img height="30" src="/assets/right-close-icon.svg"></i>
          </div>
          <sidebar class="mobile-filters-body" :filters="getAvailableFilters" @changeFilter="changeFilter" />
          <div class="row mt18 middle-xs flex">
            <div class="col-sm-6 col-xs-6">
                <span
                  class="weight-400 sidebar__header__clear pointer sans-serif flex lh25"
                >
                  <i class="material-icons cl-accent mr5">
                    cancel
                  </i>
                  {{ $t('Clear filters') }}
              </span>
               <!-- <span
                  class="weight-400 sidebar__header__clear pointer sans-serif flex lh25"
                  @click="resetAllFilters"
                  v-show="hasActiveFilters"
                >
                  <i class="material-icons cl-accent mr5">
                    cancel
                  </i>
                  {{ $t('Clear filters') }}
              </span> -->
            </div>
            <div class="col-sm-6 col-xs-6">
               <button-full
                class="btn__filter"
                @click.native="closeFilters"
              >
                {{ $t('Filter') }}
              </button-full>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="px10 border-box products-list">

        <div v-if="isCategoryEmpty" class="hidden-xs">
          <h4 data-testid="noProductsInfo">
            {{ $t('No products found!') }}
          </h4>
          <p>{{ $t('Please change Your search criteria and try again. If still not finding anything relevant, please visit the Home page and try out some of our bestsellers!') }}</p>
        </div>
        <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
          <product-listing  :columns="defaultColumn" :products="getCategoryProducts" />
        </lazy-hydrate>
        <product-listing v-else :columns="defaultColumn" :products="getCategoryProducts" />
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import Sidebar from '../components/core/blocks/Category/Sidebar.vue'
import ProductListing from '../components/core/ProductListing.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import SortBy from '../components/core/SortBy.vue'
import { isServer } from '@vue-storefront/core/helpers'
import { getSearchOptionsFromRouteParams } from '@vue-storefront/core/modules/catalog-next/helpers/categoryHelpers'
import config from 'config'
import Columns from '../components/core/Columns.vue'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll'
import rootStore from '@vue-storefront/core/store';
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'

const THEME_PAGE_SIZE = 50

const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    const filters = getSearchOptionsFromRouteParams(route.params)
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    const pageSize = store.getters['url/isBackRoute'] ? store.getters['url/getCurrentRoute'].categoryPageSize : THEME_PAGE_SIZE
    await store.dispatch('category-next/loadCategoryProducts', { route, category: currentCategory, pageSize })
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })

    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    console.error('Problem with setting Category initial data!', e)
  }
}

export default {
  components: {
    LazyHydrate,
    ButtonFull,
    ProductListing,
    Breadcrumbs,
    Sidebar,
    SortBy,
    Columns
  },
  mixins: [onBottomScroll],
  data () {
    return {
      mobileFilters: false,
      defaultColumn: 4,
      loadingProducts: false,
      loading: true,
      boxactive: false
    }
  },

  computed: {
    ...mapGetters('category', ['getCategories']),
      categories () {
        return this.getCategories.filter((op) => {
            return op.level === (config.entities.category.categoriesDynamicPrefetchLevel >= 0 ? config.entities.category.categoriesDynamicPrefetchLevel : 2) // display only the root level (level =1 => Default Category), categoriesDynamicPrefetchLevel = 2 by default
        })
      },
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters'
    }),
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products')
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category')
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('category-next/cacheProducts', { route: to }) // await here is because we must wait for the hydration
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.$store.dispatch('category-next/cacheProducts', { route: to })
        vm.loading = false
      })
    }
  },
  methods: {
    openbox (index) {
     this.boxactive = !this.boxactive ;
    },
    openFilters () {
      this.mobileFilters = true
    },
    closeFilters () {
      this.mobileFilters = false
    },
    async changeFilter (filterVariant) {
      this.$store.dispatch('category-next/switchSearchFilters', [filterVariant])
    },
    columnChange (column) {
      this.defaultColumn = column
    },
    async onBottomScroll () {
      if (this.loadingProducts) return
      this.loadingProducts = true
      try {
        await this.$store.dispatch('category-next/loadMoreCategoryProducts')
      } catch (e) {
        console.error('Problem with fetching more products', e)
      } finally {
        this.loadingProducts = false
      }
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    const { meta_title, meta_description, name, slug } = this.getCurrentCategory
    const meta = meta_description ? [
      { vmid: 'description', name: 'description', content: htmlDecode(meta_description) }
    ] : []
    const categoryLocaliedLink = localizedRoute({
      name: 'category-amp',
      params: { slug }
    }, storeView.storeCode)
    const ampCategoryLink = this.$router.resolve(categoryLocaliedLink).href

    return {
      link: [ { rel: 'amphtml', href: ampCategoryLink } ],
      title: htmlDecode(meta_title || name),
      meta
    }
  }
}
</script>

<style lang="scss" scoped>
  .btn {
    &__filter {
      min-width: 100px;
    }
  }
  .divider {
    width: calc(100vw - 8px);
    bottom: 20px;
    left: -36px;
  }

  .mobile-filters {
    display: none;
    overflow: auto;
  }

  .mobile-filters-button {
    display: none;
  }

  .mobile-sorting {
    display: none;
  }

  .category-title {
    line-height: 65px;
  }

  .sorting {
    label {
      margin-right: 10px;
    }
  }
  .category-top {
    background-image: url('/assets/category-toop-bg.jpg');
    background-position: 90%  center;
    background-repeat: no-repeat;
    padding-right: 45%;
    ul{
      display: flex;
      li {
        display:flex;
        margin:11px 35px 11px 0;
        a{
          color: #000;
          text-decoration:underline;
          &:hover{color:#024D70;}
        }
      }
    }
  }
  @media (max-width: 770px) {
    .category-title {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
    }

    .products-list {
      width: 100%;
      max-width: none;
    }

    .mobile-filters {
      display: block;
    }

    .mobile-filters-button {
      display: flex;

    }
    .mobile-filters-button {
      .cl-white{
        height: 40px;padding: 10px;
        border:solid 1px #ddd;
        background: #fff;
        color: #000;
        font-family: 'Kessel 105 Text Book';
        font-weight: 700;
      }
      .filter-box{
        .empty{
          border:solid 1px #ddd;
          font-weight: 700;
        }
      }
    }
    .sorting {
      display: none;
    }

    .mobile-sorting {
      display: block;
    }

    .category-filters {
      display: none;
    }

    .product-listing {
      justify-content: center;;
    }

    .mobile-filters {
      position: fixed;
      background-color: #fff;
      z-index: 5;
      padding: 0 20px;
      right: 0;
      width: 90vw;
      height: 100vh;
      top: 0;
      box-sizing: border-box;
      transform: translateX(100%);
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;

    }
    .mobile-filters.active{
      transform: translateX(0%);
      box-shadow: 0 50px 0 1200px rgba(0, 0, 0, 0.5);
    }
    .mobile-filters-body {
      padding-top:5px;

    }
    #category{ padding:10px;}
    .category-top{
      background-image: none;
      padding: 15px;
    }
    .category-top ul {flex-wrap: wrap;}
    .category-filters-row{ padding:0px; background: none;
      button{width: 100%;}
    }
    .recommended-text p {text-align: left;}
    .close{position: absolute;right: 20px;top: 12px;cursor: pointer;}

  }
  .close-container {
    left: 0;
  }
  .close {
    margin-left: auto;
  }
  .products-list{padding: 0;}
</style>
<style lang="scss">
.product-image {
  max-height: unset !important;
}
.filter-box{
  h5{color:#888888; font-size:14px;}
}
</style>
