<template>
  <div id="checkout">
    <div class="container">
      <div class="row m0" v-show="!isThankYouPage">
        <div class="col-sm-7 col-xs-12 pb70 pt40 pr100">
          <div class="col-xs-12 col-md-12">
            <div class="breadcrumbs cl-gray">
              <span>Shipping Address</span>
              <span class="cl-black">- Payment Method</span>
            </div>
          </div>
          <div class="checkout-title py40 px40 mb40 mt40">
            <h1>
              {{ $t('Express Checkout') }}
            </h1>
            <div class="payment-wrap">
              <a href="#" class="payment-gateway shop-pay"><img src="assets/shop-pay.png" /></a>
              <a href="#" class="payment-gateway g-pay"><img src="assets/gpay.png" /></a>
            </div>
          </div>
          <p class="or-line mb40 mt40"><span class="line-border">OR</span></p>
          <personal-details
            class="relative"
            :is-active="activeSection.personalDetails"
            :focused-field="focusedField"
          />
          <shipping class="relative" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
          <payment class="relative" :is-active="activeSection.payment" />
          <order-review class="relative" :is-active="activeSection.orderReview" /> 
          <div id="custom-steps" />
        </div>
        <div class="hidden-xs col-sm-5 bg-cl-secondary">
          <cart-summary />
        </div>
      </div>
    </div>
    <div class="thankyou-page">
      <thank-you-page v-show="isThankYouPage" />
    </div>
  </div>
</template>

<script>
import Checkout from '@vue-storefront/core/pages/Checkout'
import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import ThankYouPage from 'theme/components/core/blocks/Checkout/ThankYouPage'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'

export default {
  components: {
    PersonalDetails,
    Shipping,
    Payment,
    OrderReview,
    CartSummary,
    ThankYouPage,
    Breadcrumbs
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule);
  },
  methods: {
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'Shopping cart is empty. Please add some products before entering Checkout'
        ),
        action1: { label: this.$t('OK') }
      });
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!'),
        action1: { label: this.$t('OK') }
      });
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!'),
        action1: { label: this.$t('OK') }
      });
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'Stock check in progress, please wait while available stock quantities are checked'
        ),
        action1: { label: this.$t('OK') }
      });
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.'
        ),
        action1: { label: this.$t('OK') }
      });
    }
  }
};
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-error: color(error);
$color-white: color(white);
$color-black: color(black);

#checkout {
  .number-circle {
    width: 35px;
    height: 35px;

    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
  }
  .radioStyled {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: 1px solid $bg-secondary;

      &:after {
        content: '';
        position: absolute;
        display: none;
        top: 3px;
        left: 3px;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: $color-secondary;
      }
    }

    input:checked ~ .checkmark:after {
      display: block;
    }
  }
}

.line {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 37px;
    z-index: -1;
    width: 1px;
    height: 100%;
    background-color: $bg-secondary;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
  .payment-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .payment-gateway {
          min-width: auto;
          display: flex;
          background: #000;
          min-height: 45px;
          vertical-align: middle;
          line-height: 80%;
          margin: 0 1.5%;
          align-items: center;
          justify-content: center;
          width: calc(50% - 16%);
          &.shop-pay {
              background: #3F22AB;
          }
          &:hover {
            opacity: 0.9;
          }
      }
  }
  .or-line {
    width: 100%;
    position: relative;
    &:after {
          background: #ddd;
          position: absolute;
          content: "";
          height: 1px;
          width: 100%;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 5px;
          z-index: -1;
      }
      .line-border {
          display: table;
          margin: 0 auto 0;
          background: #fff;
          padding: 0 15px;
          color: #666666;
          font-weight: 300;
      }
  }

  .checkout-title {
    border: 1px solid #dddddd;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    h1 {
        font-size: 18px;
        margin-top: 0;
        background: #fff;
        position: absolute;
        text-align: center;
        width: auto;
        top: -10px;
        display: table;
        margin: auto;
        padding: 0px 40px;
    }
    @media (max-width: 767px) {
      padding: 25px 15px;
      margin: 30px 0;
      h1 {
        font-size: 12px;
      }
    }
  }

  #checkout .radioStyled input:checked + .checkmark {
    background-image: url(../assets/checked.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 100%;
  }
  #checkout .radioStyled input + .checkmark {
    background-image: url(../assets/uncheck.svg);
  }

  @media (max-width: 1200px) { 

    #checkout {
      .pr100 {
          padding-right: 8px;
      }
    }
    .payment-wrap {
      .payment-gateway {
        min-width: auto;
        min-height: 30px;
        margin: 0 5px;
        width: calc(50% - 15px);
        img {
            height: auto;
            width: auto;
            max-height: 45px;
            max-width: 45px;
        }
        &.shop-pay img {
            max-height: 100px;
            max-width: 100px;
        }
      }
    }
  }
  @media (max-width: 767px) { 

    #checkout {
      .col-sm-7{ 
        max-width: 100%;
        flex-basis: 100%;
      }
      button.button-continue {
        font-size: 16px !important;
      }
    }
    .personal-details {
      .base-input {
        min-height: auto;
        input {
          height: 50px;
          font-size: 16px !important;
        }
      }
    }
    .select-wrapper{ 
      &:after {
          top: 1.3rem;
          right: 20px;
      }
      select {
        height: 50px;
      }
    }
    .or-line {
        margin: 0 0 15px;
    }
    .breadcrumbs {
      font-size: 14px;
    }
    .remember-me { 
      label {
          margin-top: 8px;
          display: inline-block;
          vertical-align: top;
      }
    }
  }
</style>
