<template>
  <div>
    <div class="container pt70 pb70 contact-container">
      <div class="row mx-auto contact-section">
        <div class="col-sm-5 contact-left">
            <div class="form-section">
              <div class="form-control">
                  <label>First Name *</label>
                  <div class="form-input">
                      <base-input
                      class="mb15"
                      type="text"
                      name="first-name"
                    />
                  </div>
              </div><div class="form-control">
                  <label>Last Name *</label>
                  <div class="form-input">
                      <base-input
                      class="mb15"
                      type="text"
                      name="last-name"
                    />
                  </div>
              </div>
              <div class="form-control">
                  <label>Email *</label>
                  <div class="form-input">
                      <base-input
                      class="mb15"
                      type="email"
                      name="email"
                    />
                  </div>
              </div>
              <div class="form-control">
                  <label>Message</label>
                  <div class="form-input">
                      <base-textarea
                      class="mb15"
                      type="text"
                      name="message"
                      value=""
                    />
                  </div>
              </div>
              <div class="form-control">
                  <button-full
                    class="button-continue"
                    >Send Message
                  </button-full>
              </div>
          </div>
        </div>
        <div class="col-sm-5 touch-right">
          <div class="touch-section">
              <h1 class="mb10">Lets Get In Touch</h1>
              <p class="mb10">
                Lorem Ipsum is simply dummy text of the printing and typesetting <br/>
                industry. Lorem Ipsum has been the industry.
              </p>
              <ul>
                <li>
                  <div class="location-brief">
                    <address>
                      <div class="icon">
                        <img src="../assets/location-icon.svg"/>
                      </div>
                      <p>Address:</p>
                      <span class="text">
                         4126 Bryan Avenue, Roseville, <br/>
                         MN, Minnesota, 55113
                      </span> 
                    </address>
                  </div>
                </li>
                <li>
                  <div class="call-brief">
                    <address>
                      <div class="icon">
                        <img src="../assets/call-icon.svg"/>
                    </div>
                      <p>Phone:</p>
                      <a class="text" href="tel:(00) 123-456-789">
                         (00) 123-456-789
                      </a> 
                    </address>
                  </div>
                </li>
                <li>
                  <div class="call-brief">
                    <address>
                      <div class="icon">
                          <img src="../assets/mail-icon.svg"/>
                      </div>
                      <p>Email:</p>
                      <a class="text" href="mailto:hello@fashion.com">
                         hello@fashion.com
                      </a> 
                    </address>
                  </div>
                  
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import { getPathForStaticPage } from 'theme/helpers'
import { localizedRoute } from '@vue-storefront/core/lib/multistore'
import BaseTextarea from '../components/core/blocks/Form/BaseTextarea.vue'
import ButtonFull from 'theme/components/theme/ButtonFull'

export default {
  components: {
    Breadcrumbs,
    BaseInput,
    BaseTextarea,
    ButtonFull
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || this.$props.title,
      meta: this.$route.meta.description ? [{ vmid: 'description', description: this.$route.meta.description }] : []
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },
    page: {
      type: String,
      required: true
    }
  },
  computed: {
    activeComponent () {
      const matchedNav = this.navigation.find(nav => nav.link.includes(this.$route.path))
      return matchedNav ? matchedNav.component : null
    }
  },
}
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
@import "~theme/css/base/base";
$border-primary: color(primary, $colors-border);

.static-menu {
  ul {
    list-style: none;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $border-primary;
  }

  a:hover::after,
  .router-link-active::after {
    opacity: 0;
  }
}

.static-content {
  *:first-of-type {
    margin-top: 0;
  }
}
</style>

<style lang="scss">
@import "~theme/css/base/base";

.static-content {
  h3 {
    margin-top: 40px;
    margin-bottom: 25px;
    @media (max-width: 767px) {
      margin-top: 35px;
      margin-bottom: 10px;
    }
  }
}
.form-section {
      background: #FBFBFB;
      padding: 40px;
      margin-right: 10%;
      .form-control { 
        label {
          font-size: 16px;
          color: $medium-gray;
          display: block;
          margin-bottom: 10px;
      }
    }
    .form-input { 
      input, textarea {
          border: 1px solid #aaaaaa;
          height: 60px;
          padding: 10px 15px;
          color:$black;
          &:focus {
            border-color: $black;
          }
      }
      textarea {
        height: 155px;
      }
    }
    .button-continue {
        margin-top: 40px;
        border: 3px solid $light-blue;
        background: #024d70;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        &:hover {
          background: #ffffff;
          color: $light-blue;
          border: 3px solid $light-blue;

        }
    }
  }
.touch-right {
    display: flex;
    align-items: center;
  .touch-section{ 
    h1 {
      font-size: 30px;
      color: $light-blue;
    }
    > p {
      color:rgba(45,36,45,0.6);
      font-size: 14px;
      line-height: 130%;
    }
    ul {
      list-style: none;
      margin: 15px 0 0;
      padding: 0;
      li {
        margin: 0;
        display: table;
        width: 300px;
        padding: 20px 0;
        border-bottom: 1px solid #DDDDDD;
        &:last-child {
          border-bottom: none;
        }
      }
      address {
        font-style: normal;
      }
      .icon, p {
          display: inline-block;
          vertical-align: middle;
          line-height: 110%;
          font-weight: normal;
          font-size: 18px;
      }
      .icon {
          min-width: 25px;
      }
      .text {
        margin-left: 30px;
        font-size: 18px;
        line-height: 130%;
        display: table;
        color: #666;
        &:hover {
            color:#000;
        }
      }
    }
  }
}
.contact-container {
  > .row {
    justify-content: center;
  }
}

@media (max-width:1024px) {

    .form-section {
        padding: 20px;
        margin-right: 5%;
      .form-input { 
        input, textarea {
            height: 50px;
        }
        textarea {
          height: 100px;
        }
      }
      .button-continue {
          margin-top: 30px;
          font-size: 18px;
          padding: 15px;
      }
    }
    .touch-right { 
      .touch-section { 
        h1 {
            font-size: 24px;
        }
      }
    }
}

@media (max-width:767px) {

div.contact-container {
    padding: 10px;
    .form-section {
      margin-right: 0;
      margin-bottom: 30px;  
      .base-input {
        min-height: 100%; 
      }
    }
}

}


</style>
