<template>
  <div id="home">
    <head-image />
    <Newcollection />
    <RecommendedSection />
    <Trending />
    <BestCollection />
    <Bestsellers />
    <Imstagram />
    <!-- <Onboard /> -->
  </div>
</template>
<script>
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'
// Core pages
import Home from '@vue-storefront/core/pages/Home'
// Theme core components
import ProductListing from 'theme/components/core/ProductListing'
import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
// Theme local components
// import Onboard from 'theme/components/theme/blocks/Home/Onboard'
import Newcollection from 'theme/components/core/blocks/Category/Newcollection'
import RecommendedSection from 'theme/components/core/blocks/Category/RecommendedSection'
import Trending from 'theme/components/core/blocks/Category/Trending'
import BestCollection from 'theme/components/core/blocks/Category/BestCollection'
import Bestsellers from 'theme/components/core/blocks/Category/Bestsellers'
import Imstagram from 'theme/components/core/blocks/Category/Imstagram'
import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
import TileLinks from 'theme/components/theme/blocks/TileLinks/TileLinks'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'

export default {
  data () {
    return {
      loading: true,
    }
  },
  mixins: [Home],
  components: {
    HeadImage,
    // Onboard,
    Newcollection,
    RecommendedSection,
    Trending,
    BestCollection,
    Bestsellers,
    Imstagram,
    ProductListing,
    PromotedOffers,
    TileLinks,
    LazyHydrate
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    categories () {
      return this.getCategories
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers')
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss">
.home-banner {
  .head-image {
    height: auto
  }
  .slick-slide img{width: 100%;}
}
.recommended-section {
  header{
    .viewallhome{
        top: 50%;
        right: 13px;
        transform: translate(0%, -50%); 
      a{
        font-size: 20px;
        color:#024D70;
        font-family: 'Kessel 105 Text Book';
        &:hover{
        color: #000;
        }
        span{
          font-size: 27px;
          line-height: 19px;
        }
      }
    }
  }
}
.container.best-collection-section{ max-width: 904px; margin: auto;}
.best-collection-section .img {position: relative;height: 100%;width: 100%;}
.best-collection-section .img img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.best-collection-section .text {
    margin-left: -80px;
     width: 436px; margin-right: 0;
    z-index: 1;
    position: relative;
    background: linear-gradient(270deg, #ffff 50%, #F5F5F5 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    p{font-size: 14px;line-height: 20px;color: #666666;font-family: 'Kessel 105 Text Book';
    a{ color:#024D70; text-decoration: underline; font-size:16px;
    &:hover{
       color:#000; 
    }
    }
    }
  .text-max{ transform: matrix(-1, 0, 0, 1, 0, 0);}
}
.best-collection-row{display: flex;}
.best-collection-left { width:550px;}
.best-collection-section{
  .best-collection-row{
    &:nth-child(even){
      .best-collection-left{
        order: 2;
      }
      .best-collection-right{
        order: 1;
        margin-left:0px;
        margin-right: -80px;
        background: linear-gradient(270deg, #F5F5F5 50%, #fff 100%);
      }
    }
  }
}
.bestsellers-section{background:#F2F2F2;}
#app header p{
  font-size: 16px;;
  color:#888888;
  a{color:#024D70;}
  }
.imstagram-section{
  .instabtn{
    color: #fff;
    font-size: 55px;
    visibility: hidden;
    opacity: 0;
  }
  .recommended-col:hover .instabtn {
    visibility: visible;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 9;
}
  .recommended-col label {
    margin-bottom: 0;
  }
  .slick-prev {
    margin-top: -12px;
  }
  .slick-next {
    margin-top: -12px;
  }
  
}
.recommended-text {
    .flex{align-items: center;}
    label{margin-bottom: 0;}
  }
.recommended-box .relative{overflow: hidden;}
@media (max-width:767) {
   #app {
    .col-sm-3 {
    flex-basis: 50%;
    max-width: 50%;
  }
  }
}
@media (max-width:550px) {
   #app {
   .recommended-box { padding: 0 8px}
   .recommended-section .slick-arrow{margin-top: -50px;}
   .imstagram-section .slick-arrow{margin-top: -6px;}
  }
}
</style>
