<template>
  <div id="my_account">
    <div class="container pt40 pb40">
      <div class="account-menu row px20 pt0 my_account_row">
        <nav class="static-menu static-menu-left">
          <div
            class="mobile-static-menu"
            @click="openbox(1)"
            :class="{ active: boxactive }"
          >
            <span class="flex align-items" :class="mobileActiveMenuIconClass">
              <span v-html="mobileActiveMenuIcon" />
              {{ mobileActiveMenuTxt }}
              <svg
                class="rightarrow ml-auto"
                width="8"
                height="14"
                viewBox="0 0 8 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 13L7 7L1 1"
                  stroke="#888888"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                class="bottomarrow ml-auto"
                width="14"
                height="8"
                viewBox="0 0 14 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 1L7 7L13 1"
                  stroke="#888888"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
          <ul class="m0 p0" @click="openbox(1)" :class="{ active: boxactive }">
            <li
              class=""
              v-for="(page, index) in navigation"
              :key="index"
              @click="notify(page.title)"
            >
              <router-link
                :to="localizedRoute(page.link)"
                @click.native="
                  updatedMobileMenuTxt(page.title, page.class, page.icon)
                "
                @click="openbox(1)"
                :class="{ active: boxactive }"
              >
                <span v-html="page.icon" />{{ page.title }}
              </router-link>
            </li>
          </ul>
        </nav>
        <div class="col-xs flex-wrap my_account-right pr0">
          <no-ssr>
            <component :is="this.$props.activeBlock" />
          </no-ssr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyAccount from '@vue-storefront/core/pages/MyAccount';
import MyProfile from '../components/core/blocks/MyAccount/MyProfile';
import MyShippingDetails from '../components/core/blocks/MyAccount/MyShippingDetails';
import MyNewsletter from '../components/core/blocks/MyAccount/MyNewsletter';
import MyOrders from '../components/core/blocks/MyAccount/MyOrders';
import MyOrder from '../components/core/blocks/MyAccount/MyOrder';
import MyRecentlyViewed from '../components/core/blocks/MyAccount/MyRecentlyViewed';
import NoSSR from 'vue-no-ssr';
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed';
import { registerModule } from '@vue-storefront/core/lib/modules';
import { mapState } from 'vuex';
export default {
  data () {
    return {
      navigation: [
        {
          title: this.$t('My profile'),
          link: '/my-account',
          class: 'profile-icon',
          icon:
            '<svg  height="22" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 21V21C1 17.6863 3.68629 15 7 15H13C16.3137 15 19 17.6863 19 21V21" stroke="black" stroke-linecap="round"/><circle cx="10" cy="6" r="5" fill="white" stroke="black"/></svg>'
        },
        {
          title: this.$t('My shipping details'),
          link: '/my-account/shipping-details',
          icon:
            '<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.5 9.05273C19.5 12.3518 17.3671 15.4799 15.137 17.8339C14.0322 19.0001 12.9257 19.9531 12.0948 20.6147C11.6797 20.9452 11.3345 21.2022 11.094 21.3759C11.0606 21.4 11.0292 21.4225 11 21.4434C10.9708 21.4225 10.9394 21.4 10.906 21.3759C10.6655 21.2022 10.3203 20.9452 9.90521 20.6147C9.07433 19.9531 7.96781 19.0001 6.86298 17.8339C4.63287 15.4799 2.5 12.3518 2.5 9.05273C2.5 4.35831 6.30558 0.552734 11 0.552734C15.6944 0.552734 19.5 4.35831 19.5 9.05273Z" stroke="black"/><circle cx="11" cy="9.05273" r="4.5" stroke="black"/></svg>'
        },
        {
          title: this.$t('My newsletter'),
          link: '/my-account/newsletter',
          icon:
            '<svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.05273H21M1 1.05273V16.0527H21V1.05273M1 1.05273L11 9.55273L21 1.05273" stroke="black"/></svg>'
        },
        {
          title: this.$t('My orders'),
          link: '/my-account/orders',
          icon:
            '<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.61063L11.1124 1.05273L16.0562 3.83168M1 6.61063L6.05618 9.38958M1 6.61063V17.4948L11.1124 23.0527M11.1124 12.1685L21 6.61063M11.1124 12.1685L6.05618 9.38958M11.1124 12.1685V23.0527M21 6.61063L16.0562 3.83168M21 6.61063V17.4948L11.1124 23.0527M16.0562 3.83168L6.05618 9.38958" stroke="black"/></svg>'
        },
        {
          title: this.$t('My loyalty card'),
          link: '#',
          icon:
            '<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11.0527" r="10.5" stroke="black"/><path d="M11 5.05273L12.3471 9.19863H16.7063L13.1796 11.7609L14.5267 15.9068L11 13.3445L7.47329 15.9068L8.82037 11.7609L5.29366 9.19863H9.65292L11 5.05273Z" fill="black"/></svg>'
        },
        {
          title: this.$t('My product reviews'),
          link: '#',
          icon:
            '<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11.0527" r="10.5" stroke="black"/><path d="M11 5.05273L12.3471 9.19863H16.7063L13.1796 11.7609L14.5267 15.9068L11 13.3445L7.47329 15.9068L8.82037 11.7609L5.29366 9.19863H9.65292L11 5.05273Z" fill="black"/></svg>'
        },
        {
          title: this.$t('My Recently viewed products'),
          link: '/my-account/recently-viewed',
          icon:
            '<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11.0527" r="10.5" stroke="black"/><path d="M11 6.05273V11.3861L15 14.0527" stroke="black" stroke-linecap="round"/></svg>'
        }
      ],
      boxactive: false,
      isActive: false,
      mobileActiveMenuTxt: this.$t('My profile'),
      loadMyAccountMenuPopup: false,
      mobileActiveMenuIconClass: 'profile-icon',
      mobileActiveMenuIcon:
        '<svg  height="22" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 21V21C1 17.6863 3.68629 15 7 15H13C16.3137 15 19 17.6863 19 21V21" stroke="black" stroke-linecap="round"/><circle cx="10" cy="6" r="5" fill="white" stroke="black"/></svg>'
    };
  },
  components: {
    MyProfile,
    MyShippingDetails,
    MyNewsletter,
    MyOrders,
    MyOrder,
    MyRecentlyViewed,
    'no-ssr': NoSSR
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule);
  },
  mixins: [MyAccount],
  mounted () {
    const navigation = this.navigation;
    navigation.forEach((nav) => {
      if (nav.link === this.$router.history.current.path) {
        this.mobileActiveMenuTxt = nav.title;
        this.mobileActiveMenuIconClass = nav.class;
      }
    });
    this.$bus.$on(
      'my-account-menu-clicked',
      (menutext, menuClass, menuIcon) => {
        this.updatedMobileMenuTxt(menutext, menuClass, menuIcon);
      }
    );
  },
  methods: {
    openbox (index) {
      this.boxactive = !this.boxactive;
    },
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t(
            'This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'
          ),
          action1: { label: this.$t('OK') }
        });
      }
    },
    active: function () {
      this.isActive = !this.isActive;
    },
    updatedMobileMenuTxt (mobilemenutxt, mobilemenuclass, mobilemenuicon) {
      this.mobileActiveMenuTxt = mobilemenutxt;
      this.mobileActiveMenuIconClass = mobilemenuclass;
      this.mobileActiveMenuIcon = mobilemenuicon;
    },
    showMyAccountMenuPopup () {
      this.$bus.$emit('modal-myaccountmenu');
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);

.static-menu {
  ul {
    list-style: none;
    border: solid 1px #ddd;
    width: 100%;
    padding: 10px 0;
    display: inline-table;
  }

  a {
    padding: 16px 28px;
    font-size: 16px;
    color: #000;
    font-family: 'Kessel 105 Text Book';
    display: flex;
    align-items: center;
    span {
      line-height: 0;
      margin-right: 17px;
    }
    &:hover {
      color: #024d70;
      svg {
        circle,
        path {
          stroke: #024d70;
        }
      }
    }
    &.router-link-exact-active {
      color: #024d70;
      font-family: 'Kessel 105 Text';
      font-weight: bold;

      svg {
        circle,
        path {
          stroke: #024d70;
        }
      }
    }
  }
}
#my_account {
  .container {
    width: 1240px;
  }
  .static-menu-left {
    width: 25%;
  }
  .my_account-right {
    padding-left: 60px;
  }
  .my_profile_header {
    border-bottom: solid 1px #ddd;
    padding: 0 0 16px 0;
    margin-bottom: 16px;
    h3 {
      font-size: 16px;
      color: #024d70;
      align-items: center;
      display: flex;
      span {
        margin-right: 8px;
      }
    }
    .links-add a {
      font-size: 14px;
      color: #000;
      font-family: 'Kessel 105 Text Book';
      align-items: center;
      i {
        margin-right: 8px;
        line-height: 0;
      }
    }
  }
  .base-input .relative,
  .select-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    label {
      order: -1;
      position: static;
      color: #888888;
      font-size: 16px;
      margin-bottom: 10px;
      font-family: 'Kessel 105 Text Book';
    }
    .empty,
    input,
    textarea,
    select {
      border: 1px solid #aaaaaa;
      height: 60px;
      padding: 7px 15px;
      color: #000;
      font-size: 16px;
    }
  }
  .select-wrapper::after {
    top: 53px;
    right: 23px;
  }
  .base-input,
  .select-wrapper {
    margin-bottom: 20px;
  }
  .black {
    label {
      color: #000;
      font-size: 16px;
      font-family: 'Kessel 105 Text Book';
    }
  }
  .my_profile {
    .base-input .material-icons {
      display: none;
    }
  }
  .button-full {
    height: 60px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 500;
  }
  .mycancel {
    font-weight: 600;
    font-size: 18px;
  }
  .mobile-static-menu {
    display: none;
  }
  @media (max-width: 850px) {
    .my_account-right {
      padding-left: 14px;
    }
    .static-menu a {
      padding: 9px 9px;
    }
  }
  @media (max-width: 767px) {
    .container {
      width: 100%;
      padding-top: 0;
    }
    .my_account_row {
      display: block;
      .my_account-right {
        padding-left: 0;
      }
    }
    .base-input .relative,
    .select-wrapper {
      label {
        font-size: 14px;
      }
      .empty,
      input,
      textarea,
      select {
        height: 50px;
        padding: 1px 10px;
      }
    }
    .profile-summary p {
      font-size: 14px;
      padding: 9px 0;
    }
    .my_profile_header {
      background: #fbfbfb;
      border: 1px solid #dddddd;
      padding: 10px 15px;
      margin: 0;
    }
    .my_account-content {
      border: 1px solid #dddddd;
      border-top: 0;
      padding: 15px;
    }
    .mobile-static-menu {
      display: block;
    }
    .static-menu-left {
      margin: 0 -21px;
      width: auto;
      margin-bottom: 30px;
      ul {
        padding: 0;
        display: none;
        border-top: 0;
        position: absolute;
        left: 0;
        top: 62px;
        width: 100%;
        background: #fff;
        z-index: 1;
        box-shadow: 4px 5px 7px #ccc;
        border: 0;
      }
      ul.active {
        display: block;
      }
    }
    .mobile-static-menu {
      cursor: pointer;
      border-top: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
      padding: 16px 28px;
      font-size: 16px;
      color: #024d70;
      font-family: 'Kessel 105 Text';
      font-weight: bold;
      .bottomarrow {
        display: none;
      }
      svg {
        margin-right: 8px;
        circle,
        path {
          stroke: #024d70;
        }
      }
    }
    .mobile-static-menu.active {
      .bottomarrow {
        display: block;
      }
      .rightarrow {
        display: none;
      }
    }
    .static-menu {
      position: relative;
    }
    .static-menu a.router-link-exact-active {
      color: #000;
      font-family: 'Kessel 105 Text Book';
      font-weight: normal;
      &:hover {
        color: #024d70;
        svg circle,
        svg path {
          stroke: #024d70;
        }
      }
    }
    .static-menu a.router-link-exact-active svg circle,
    .static-menu a.router-link-exact-active svg path {
      stroke: #000;
    }
    .orders-details {
      table {
        display: block;
        border-bottom: 0;
        thead {
          display: block;
        }
        tbody {
          display: block;
          tr:first-child {
            border-top: 0;
          }
          tr {
            display: block;
            td {
              display: flex;
              .th {
                width: 50%;
                text-align: left;
                font-family: 'Kessel 105 Text';
                color: #000;
                font-weight: bold;
              }
              .td {
                width: 50%;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    .my_profile_header {
      svg {
        height: 16px;
      }
      h3 {
        font-size: 14px;
      }
    }
    .static-menu-left {
      margin-bottom: 24px;
      ul {
        padding: 0;
        top: 52px;
        li a {
          padding: 8px 15px;
          font-size: 14px;
          svg {
            width: 16px;
          }
        }
      }
    }
    .mobile-static-menu {
      padding: 11px 15px;
      font-size: 14px;
      svg {
        width: 16px;
      }
    }
    .button-full {
      height: 50px;
      font-size: 16px;
      padding-top: 11px;
      padding-bottom: 11px;
    }
    .mycancel {
      display: block;
      width: 100%;
      text-align: center;
    }
    .static-menu a span {
      margin-right: 8px;
    }
    .select-wrapper::after {
      top: 47px;
    }
  }
}
</style>
