<template>
  <div id="product" itemscope itemtype="http://schema.org/Product">
    <section class="px20 product-top-section">
      <div class="container">
        <section class="row m0 inner-breadcrumbs">
          <div class="col-xs-12 col-md-12">
            <breadcrumbs class="pt40 pb20 hidden-xs" />
          </div>
        </section>
        <section class="row m0 between-xs product-section">
          <div class="col-xs-12 col-md-6 pr30 mt5 center-xs middle-xs image">
            <product-gallery
              :offline="getOfflineImage"
              :gallery="getProductGallery"
              :configuration="getCurrentProductConfiguration"
              :product="getCurrentProduct"
            />
          </div> 
          <div class="col-xs-12 col-md-6 data">
             <!-- <div
              class="mb20 cl-secondary"
              itemprop="sku"
              :content="getCurrentProduct.sku"
            >
              {{ $t('SKU: {sku}', { sku: getCurrentProduct.sku }) }}
            </div>  -->
            <div class="data-display">
              <p class="product-code mb15">
                Product code : <span>T236678G</span>
              </p>
              <h1
                class="mb15 mt0 cl-mine-shaft product-name"
                data-testid="productName"
                itemprop="name"
              >
                {{ getCurrentProduct.name | htmlDecode }}
                <web-share
                  :title="getCurrentProduct.name | htmlDecode"
                  text="Check this product!"
                  class="web-share"
                />
              </h1>
              <StarProduct />
               <div
                itemprop="offers"
                itemscope
                itemtype="http://schema.org/Offer"
              >
                <meta
                  itemprop="priceCurrency"
                  :content="$store.state.storeView.i18n.currencyCode"
                />
                <meta
                  itemprop="price"
                  :content="
                    parseFloat(getCurrentProduct.price_incl_tax).toFixed(2)
                  "
                />
                <meta
                  itemprop="availability"
                  :content="structuredData.availability"
                />
                <meta itemprop="url" :content="getCurrentProduct.url_path" />
                <product-price
                  class="mb15 product-price"
                  v-if="getCurrentProduct.type_id !== 'grouped'"
                  :product="getCurrentProduct"
                  :custom-options="getCurrentCustomOptions"
                />
                <div
                  class="cl-primary variants"
                  v-if="getCurrentProduct.type_id == 'configurable'"
                >
                  <div
                    class="error"
                    v-if="
                      getCurrentProduct.errors &&
                      Object.keys(getCurrentProduct.errors).length > 0
                    "
                  >
                    {{ getCurrentProduct.errors | formatProductMessages }}
                  </div>
                  <div
                    class="h5"
                    v-for="option in getProductOptions"
                    :key="option.id"
                  >
                    <div class="variants-label" data-testid="variantsLabel">
                      {{ option.label }}:
                      <span class="weight-500">
                        {{ getOptionLabel(option) }}</span
                      >
                    </div>
                    <div class="row top-xs m0 pt15 pb40 variants-wrapper">
                      <div v-if="option.label == 'Color'">
                        <color-selector
                          v-for="filter in getAvailableFilters[
                            option.attribute_code
                          ]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <!-- <div
                        class="sizes common-select"
                        v-else-if="option.label == 'Size'"
                      >
                        <select>
                          <option>XLL(In-Stock)</option>
                          <option>XS</option>
                          <option>S</option>
                          <option>M</option>
                          <option>L</option>
                          <option>XL</option>
                        </select>
                      </div> -->
                      <div class="sizes" v-else-if="option.label == 'Size'">
                      <size-selector
                        class="mr10 mb10"
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                      <div :class="option.attribute_code" v-else>
                        <generic-selector
                          class="mr10 mb10"
                          v-for="filter in getAvailableFilters[
                            option.attribute_code
                          ]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <span
                        v-if="option.label == 'Size'"
                        @click="openSizeGuide"
                        class="p0 ml30 inline-flex middle-xs no-underline h5 action size-guide pointer cl-secondary"
                      >
                        <span class="size-guide-text">{{
                          $t("Size guide")
                        }}</span>
                        <img src="assets/size_guide.png" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <product-links
                v-if="getCurrentProduct.type_id == 'grouped'"
                :products="getCurrentProduct.product_links"
              />
              <product-bundle-options
                v-if="
                  getCurrentProduct.bundle_options &&
                  getCurrentProduct.bundle_options.length > 0
                "
                :product="getCurrentProduct"
              />
              <product-custom-options
                v-else-if="
                  getCurrentProduct.custom_options &&
                  getCurrentProduct.custom_options.length > 0
                "
                :product="getCurrentProduct"
              />
              <div class="cart-box-wrap">
                <div class="row">
                  <div class="col-md-12 flex">
                    <div class="cart-box product-qty">
                      <p class="hidden-md">{{ $t('Quantity') }}</p>
                      <div class="cart-qty-text">
                        <div class="mpbtn minus">
                          <img src="assets/minus.png" alt="minus-icon" />
                        </div>
                        <div class="mpbtn field-container">
                          <input
                            type="number"
                            value="3"
                            disabled="disabled"
                            class="m0 no-outline cart-number"
                          />
                        </div>
                        <div class="mpbtn plus">
                          <img src="assets/plus.png" alt="plus-icon" />
                        </div>
                      </div>
                    </div>
                    <div class="cart-box product-cart">
                      <add-to-cart
                        :product="getCurrentProduct"
                        :disabled="isAddToCartDisabled"
                        class="col-xs-12 col-sm-4 col-md-6"
                      />
                    </div>
                    <div class="cart-box product-wishlist">
                      <AddToWishlist :product="getCurrentProduct" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row m0">
              <add-to-cart
                :product="getCurrentProduct"
                :disabled="isAddToCartDisabled"
                class="col-xs-12 col-sm-4 col-md-6"
              />
            </div> 
            <div class="row py40 add-to-buttons">
              <div class="col-xs-6 col-sm-3 col-md-6">
                <AddToWishlist :product="getCurrentProduct" />
              </div>
              <div class="col-xs-6 col-sm-3 col-md-6">
                <AddToCompare :product="getCurrentProduct" />
              </div> 
            </div>-->
              <div class="details-product pt30">
                <div class="row">
                  <div class="details-box col-md-12">
                    <div class="details-item">
                      <h5 @click="openAccordian(1)">
                        {{ $t('Produtc Details') }}
                        <i
                          class="fa"
                          :class="activeAcordian === 1 ? 'fa-minus' : 'fa-plus'"
                          aria-hidden="true"
                        />
                      </h5>
                      <div class="product-sub fcontent-1">
                        <p>
                          Keep it luxe - even in your loungewear with this extra
                          cosy two piece lounge set. Featuring checked panelling
                          and sequin sleeves, this nude co-ord is stylish enough
                          for any occasion!
                        </p>
                        <p>Please note, this item is one size and fits 8-12.</p>
                        <ul class="dash-line">
                          <li>95% Cotton 5% Elastane</li>
                          <li>Underarm to hem of top measures 42cm approx.</li>
                          <li>Inside leg of bottoms measures 68cm approx.</li>
                          <li>Model is 5ft 5in</li>
                          <li>Stretch fabric</li>
                        </ul>
                      </div>
                    </div>
                    <div class="details-item">
                      <h5 @click="openAccordian(2)">
                        {{ $t('FABRIC & CARE') }}
                        <i
                          class="fa"
                          :class="activeAcordian === 2 ? 'fa-minus' : 'fa-plus'"
                          aria-hidden="true"
                        />
                      </h5>
                      <div class="product-sub fcontent-2">
                        <p>
                          Keep it luxe - even in your loungewear with this extra
                          cosy two piece lounge set. Featuring checked panelling
                          and sequin sleeves, this nude co-ord is stylish enough
                          for any occasion!
                        </p>
                        <p>Please note, this item is one size and fits 8-12.</p>
                        <ul>
                          <li>- 95% Cotton 5% Elastane</li>
                          <li>
                            - Underarm to hem of top measures 42cm approx.
                          </li>
                          <li>- Inside leg of bottoms measures 68cm approx.</li>
                          <li>- Model is 5ft 5in</li>
                          <li>- Stretch fabric</li>
                        </ul>
                      </div>
                    </div>
                    <div class="details-item">
                      <h5 @click="openAccordian(3)">
                        {{ $t('DELIVERY') }}
                        <i
                          class="fa"
                          :class="activeAcordian === 3 ? 'fa-minus' : 'fa-plus'"
                          aria-hidden="true"
                        />
                      </h5>
                      <div class="product-sub fcontent-3">
                        <p>
                          Keep it luxe - even in your loungewear with this extra
                          cosy two piece lounge set. Featuring checked panelling
                          and sequin sleeves, this nude co-ord is stylish enough
                          for any occasion!
                        </p>
                        <p>Please note, this item is one size and fits 8-12.</p>
                        <ul>
                          <li>- 95% Cotton 5% Elastane</li>
                          <li>
                            - Underarm to hem of top measures 42cm approx.
                          </li>
                          <li>- Inside leg of bottoms measures 68cm approx.</li>
                          <li>- Model is 5ft 5in</li>
                          <li>- Stretch fabric</li>
                        </ul>
                      </div>
                    </div>
                    <div class="details-item">
                      <h5 @click="openAccordian(4)">
                        {{ $t('RETURNS') }}
                        <i
                          class="fa"
                          :class="activeAcordian === 4 ? 'fa-minus' : 'fa-plus'"
                          aria-hidden="true"
                        />
                      </h5>
                      <div class="product-sub fcontent-4">
                        <p>
                          Keep it luxe - even in your loungewear with this extra
                          cosy two piece lounge set. Featuring checked panelling
                          and sequin sleeves, this nude co-ord is stylish enough
                          for any occasion!
                        </p>
                        <p>Please note, this item is one size and fits 8-12.</p>
                        <ul>
                          <li>- 95% Cotton 5% Elastane</li>
                          <li>
                            - Underarm to hem of top measures 42cm approx.
                          </li>
                          <li>- Inside leg of bottoms measures 68cm approx.</li>
                          <li>- Model is 5ft 5in</li>
                          <li>- Stretch fabric</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</template>
<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import i18n from "@vue-storefront/i18n";
import VueOfflineMixin from "vue-offline/mixin";
import config from "config";
import RelatedProducts from "theme/components/core/blocks/Product/Related.vue";
import Reviews from "theme/components/core/blocks/Reviews/Reviews.vue";
import AddToCart from "theme/components/core/AddToCart.vue";
import GenericSelector from "theme/components/core/GenericSelector";
import ColorSelector from "theme/components/core/ColorSelector.vue";
import SizeSelector from "theme/components/core/SizeSelector.vue";
import Breadcrumbs from "theme/components/core/Breadcrumbs.vue";
import StarProduct from "theme/components/core/StarProduct.vue";
import ProductAttribute from "theme/components/core/ProductAttribute.vue";
import ProductQuantity from "theme/components/core/ProductQuantity.vue";
import ProductLinks from "theme/components/core/ProductLinks.vue";
import ProductCustomOptions from "theme/components/core/ProductCustomOptions.vue";
import ProductBundleOptions from "theme/components/core/ProductBundleOptions.vue";
import ProductGallery from "theme/components/core/ProductGallery";
import Spinner from "theme/components/core/Spinner";
import PromotedOffers from "theme/components/theme/blocks/PromotedOffers/PromotedOffers";
import focusClean from "theme/components/theme/directives/focusClean";
import WebShare from "theme/components/theme/WebShare";
import BaseInputNumber from "theme/components/core/blocks/Form/BaseInputNumber";
import SizeGuides from "theme/components/core/blocks/SizeGuides/SizeGuides";
import AddToWishlist from "theme/components/core/blocks/Wishlist/AddToWishlist";
import AddToCompare from "theme/components/core/blocks/Compare/AddToCompare";
import { mapGetters } from "vuex";
import LazyHydrate from "vue-lazy-hydration";
import { ProductOption } from "@vue-storefront/core/modules/catalog/components/ProductOption.ts";
import {getAvailableFiltersByProduct,getSelectedFiltersByProduct,} from "@vue-storefront/core/modules/catalog/helpers/filters";
import { isOptionAvailableAsync } from "@vue-storefront/core/modules/catalog/helpers/index";
import { localizedRoute,currentStoreView,} from "@vue-storefront/core/lib/multistore";
import { htmlDecode } from "@vue-storefront/core/filters";
import { ReviewModule } from "@vue-storefront/core/modules/review";
import { RecentlyViewedModule } from "@vue-storefront/core/modules/recently-viewed";
import {registerModule,isModuleRegistered,} from "@vue-storefront/core/lib/modules";
import { onlineHelper, isServer } from "@vue-storefront/core/helpers";
import { catalogHooksExecutors } from "@vue-storefront/core/modules/catalog-next/hooks";
import ProductPrice from "theme/components/core/ProductPrice.vue";

export default {
  components: {
    AddToCart,
    AddToCompare,
    AddToWishlist,
    Breadcrumbs,
    ColorSelector,
    GenericSelector,
    ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    ProductGallery,
    ProductLinks,
    PromotedOffers,
    RelatedProducts,
    Reviews,
    SizeSelector,
    WebShare,
    LazyHydrate,
    ProductQuantity,
    ProductPrice,
    VueSlickCarousel,
    SizeGuides,
    StarProduct
  },
  mixins: [ProductOption],
  directives: { focusClean },
  beforeCreate() {
    registerModule(ReviewModule);
    registerModule(RecentlyViewedModule);
  },
  data() {
    return {
      settings: {
        dots: false,
        arrows:false,
        infinite: false,
        variableWidth: true,
        responsive: [
         {
           breakpoint:768,
           settings: {
              infinite: false,
              speed: 300,
              slidesToShow: 1.3,
              slidesToScroll: 1,
              variableWidth: false
           },
         }
       ],
     },
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      activeAcordian: null,
    };
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      getOriginalProduct: 'product/getOriginalProduct',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions',
    }),
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code
          ? option.attribute_code
          : option.label.toLowerCase();
        return this.getCurrentProductConfiguration[configName]
          ? this.getCurrentProductConfiguration[configName].label
          : configName;
      };
    },
    isOnline(value) {
      return onlineHelper.isOnline;
    },
    structuredData () {
      return {
        availability:
          this.getCurrentProduct.stock &&
          this.getCurrentProduct.stock.is_in_stock
            ? "InStock"
            : "OutOfStock",
      };
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return [];
      }
      return this.getCurrentProduct.configurable_options;
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(
          this.getCurrentProduct.image,
          config.products.thumbnails.width,
          config.products.thumbnails.height
        ),
        error: this.getThumbnail(
          this.getCurrentProduct.image,
          config.products.thumbnails.width,
          config.products.thumbnails.height
        ),
        loading: this.getThumbnail(
          this.getCurrentProduct.image,
          config.products.thumbnails.width,
          config.products.thumbnails.height
        ),
      };
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode)
        .filter((a) => {
          return (
            a.is_visible &&
            a.is_user_defined &&
            (parseInt(a.is_visible_on_front) ||
              a.is_visible_on_front === true) &&
            this.getCurrentProduct[a.attribute_code]
          );
        })
        .sort((a, b) => {
          return a.attribute_id > b.attribute_id;
        });
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct);
    },
    getSelectedFilters() {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(
        this.getCurrentProduct.type_id
      );
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false;
      }

      return ( this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
      )
    },
  },
  async mounted() {
    await this.$store.dispatch(
      "recently-viewed/addItem",
      this.getCurrentProduct
    );
  },
  async asyncData({ store, route, context }) {
    if (context) context.output.cacheTags.add("product");
    const product = await store.dispatch("product/loadProduct", {
      parentSku: route.params.parentSku,
      childSku:
        route && route.params && route.params.childSku
          ? route.params.childSku
          : null,
    });
    const loadBreadcrumbsPromise = store.dispatch(
      "product/loadProductBreadcrumbs",
      { product }
    );
    if (isServer) await loadBreadcrumbsPromise;
    catalogHooksExecutors.productPageVisited(product);
  },
  beforeRouteEnter(to, from, next) {
    if (isServer) {
      next();
    } else {
      next((vm) => {
        vm.getQuantity();
      });
    }
  },
  watch: {
    isOnline: {
      handler(isOnline) {
        if (isOnline) {
          this.getQuantity();
        }
      },
    },
  },
  methods: {
    openAccordian(digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        document
          .getElementsByClassName(`fcontent-${this.activeAcordian}`)[0]
          .classList.remove("active");
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit;
      document
        .getElementsByClassName(`fcontent-${digit}`)[0]
        .classList.toggle("active");
    },
    showDetails(event) {
      this.detailsOpen = true;
      event.target.classList.add("hidden");
    },

    notifyOutStock() {
      this.$store.dispatch("notification/spawnNotification", {
        type: "error",
        message: this.$t(
          "The product is out of stock and cannot be added to the cart!"
        ),
        action1: { label: this.$t("OK") },
      });
    },
    notifyWrongAttributes() {
      this.$store.dispatch("notification/spawnNotification", {
        type: "warning",
        message: this.$t(
          "No such configuration for the product. Please do choose another combination of attributes."
        ),
        action1: { label: this.$t("OK") },
      });
    },
    changeFilter(variant) {
      this.$bus.$emit(
        "filter-changed-product",
        Object.assign({ attribute_code: variant.type }, variant)
      );
      this.getQuantity();
    },
    openSizeGuide() {
      console.log('openSizeGuide')
      this.$store.commit('ui/setSizeGuides', true)
      //this.$bus.$emit("modal-show", "modal-sizeguide");
    },
   
    isOptionAvailable(option) {
      // check if the option is available
      const currentConfig = Object.assign(
        {},
        this.getCurrentProductConfiguration
      );
      currentConfig[option.type] = option;
      return isOptionAvailableAsync(this.$store, {
        product: this.getCurrentProduct,
        configuration: currentConfig,
      });
    },
    async getQuantity() {
      if (this.isStockInfoLoading) return; // stock info is already loading
      this.isStockInfoLoading = true;
      try {
        const res = await this.$store.dispatch("stock/check", {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty,
        });

        this.manageQuantity = res.isManageStock;
        this.maxQuantity = res.isManageStock ? res.qty : null;
      } finally {
        this.isStockInfoLoading = false;
      }
    },
    handleQuantityError(error) {
      this.quantityError = error;
    },
  },
  metaInfo() {
    const storeView = currentStoreView();
    return {
      link: [
        {
          rel: "amphtml",
          href: this.$router.resolve(
            localizedRoute(
              {
                name: this.getCurrentProduct.type_id + "-product-amp",
                params: {
                  parentSku: this.getCurrentProduct.parentSku
                    ? this.getCurrentProduct.parentSku
                    : this.getCurrentProduct.sku,
                  slug: this.getCurrentProduct.slug,
                  childSku: this.getCurrentProduct.sku,
                },
              },
              storeView.storeCode
            )
          ).href,
        },
      ],
      title: htmlDecode(
        this.getCurrentProduct.meta_title || this.getCurrentProduct.name
      ),
      meta: this.getCurrentProduct.meta_description
        ? [
            {
              vmid: "description",
              name: "description",
              content: htmlDecode(this.getCurrentProduct.meta_description),
            },
          ]
        : [],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
@import "~theme/css/base/base";

$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$bg-secondary: color(secondary, $colors-background);

.product {
  &__add-to-compare {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}

.breadcrumbs {
  @media (max-width: 767px) {
    padding: 0;
    margin: 10px 0 0;
    display: block;
    line-height: 150%;
  }
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 15px;
}
.data {
  @media (max-width: 767px) {
    border-bottom: 1px solid $bg-secondary;
  }
}

.image {
  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.product-name {
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.variants-label {
  font-family: 'Kessel 105 Text Book';
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.variants-wrapper {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  .sizes {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .size-guide {
    height: 40px;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.product-top-section {
  @media (max-width: 767px) {
    padding: 0;
    background-color: $color-white;
  }
}

.add-to-buttons {
  @media (max-width: 767px) {
    padding-top: 30px;
    margin-bottom: 40px;
  }
}

.details {
  @media (max-width: 767px) {
    padding: 50px 15px 15px;
  }
}

.details-title {
  padding: 0 8px;

  @media (max-width: 767px) {
    font-size: 18px;
    margin: 0;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    @include transition(all 0.3s ease);
    font-size: 14px;
  }

  &--open {
    max-height: none;
  }
}

.details-overlay {
  @media (max-width: 767px) {
    position: absolute;
    height: 75%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
    background: linear-gradient(rgba($color-white, 0), rgba($color-white, 1));
    &.hidden {
      display: none;
    }
  }
}

.action {
  &:hover {
    color: $color-tertiary;
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.product-image {
  mix-blend-mode: multiply;
  width: 460px;
}

.web-share {
  float: right;
}
.product-img {
  position: relative;
  @media (max-width: 1024px) {
    margin-bottom: 15px;
  }
  img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.product-name {
  @include text(24px, $black, 500);
}
.product-code {
  @include text(16px, $medium-gray, 500);
  span {
    @include text(null, $black, 500);
  }
}

.variants-label {
  @include text(20px, $black, null);
}
.size-guide-text {
  @extend %d-inline;
  line-height: 200%;
  font-family: 'Kessel 105 Text Book';
  margin-right: 5px;
  @include text(20px, $black, 500);
}
.common-select {
  select {
    font-size: 20px;
    padding: 0 15px;
    border: 2px solid $black;
    background: transparent;
    min-height: 70px;
    min-width: 322px;
    appearance: none;
    background-image: url(../assets/dropdown.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 29px;
    outline: none;
  }
}
.cart-box {
  &:not(:last-child) {
    margin-right: 3%;
  }
  .cart-number {
    text-align: center;
    @include text(24px, $black, null);
    border: none;
    display: block;
    background: transparent;
    width: 100%;
  }
  .field-container {
    width: 40px;
  }
}
.product-qty {
    width: 24%;
}
.cart-qty-text {
  border: 2px solid $black;
  min-height: 91px;
  padding: 10px 20px;
  justify-content: space-between;
  @extend %d-flex;
  width: 100%;
}

.product-cart {
  width: 60%;
  button {
    background: $light-blue;
    @include text(24px, null, 500);
    min-height: 91px;
    text-transform: capitalize;
    max-width: 100%;
    @extend %d-flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    &:before {
      background-image: url(../assets/wishlist-bag.svg);
      display: inline-block;
      background-repeat: no-repeat;
      height: 30px;
      width: 28px;
      background-size: auto 100%;
      content: "";
      vertical-align: middle;
      background-position: center center;
      margin-top: -9px;
      margin-right: 9px;
    }
  }
}

@include keyframes(shine) {
  100% {
    left: 125%;
  }
}

.data-display {
    overflow-y: auto;
    height: 100%;
    max-height: 99.99vh;
    overflow-x: hidden;
    padding-right: 10px;
}

.data-display::-webkit-scrollbar {
  width: 10px;
}

.data-display::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $light-gray; 
  border-radius: 4px;
}

.data-display::-webkit-scrollbar-thumb {
  background: $light-blue; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: $medium-gray; 
}

.product-wishlist {
  width: 100px;
  button {
    font-size: 0;
    border: 2px solid $black;
    width: 100%;
    min-height: 91px;
    text-align: center;
    @extend %d-flex;
    justify-content: center;
  }
}
.cart-box-wrap {
  .row {
    flex-flow: nowrap;
  }
}
.details-item {
  border-top: 1px solid $light-gray;
  margin: 0;
  &:last-child {
    border-bottom: 1px solid #ddd;
  }
  h5 {
    width: 100%;
    @extend %d-flex;
    justify-content: space-between;
    @include text(20px, null, 600);
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0 25px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    .fa {
      background-repeat: no-repeat;
      background-size: auto;
      font-size: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 30px;
    }
    .fa-plus {
      background-image: url(../assets/plus.png);
    }
    .fa-minus {
      background-image: url(../assets/minus.png);
      top: 40px;
    }
  }
  .product-sub {
    margin-top: 0;
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);
    &.active {
      height: auto;
      opacity: 1;
      transform: translateY(0);
      margin-top: 15px;
      margin-bottom: 15px;
    }
    p {
      @include text(20px, $medium-gray, null);
      line-height: 120%;
      margin-bottom: 15px;
    }
    ul {
      list-style: none;
      margin: 10px 0 0;
      padding: 0;
      li {
        margin: 5px 0;
        @include text(20px, $medium-gray, 500);
        line-height: 120%;
        font-family: $default-font-family;
      }
    }
  }
}

.product-section {
  padding: 0 0 60px;
  .data {
    position: sticky;
    position: -webkit-sticky;
    top: 15px;
    height: 100%;
  }
}

.product-wrap {
  .product-img {
    position: relative;
    padding-left: 7.5px;
    padding-right: 7.5px;
    }
  }

.dash-line {
  li {
    position: relative;
    padding-left: 20px;
    &:before {
      content: "";
      background: $medium-gray;
      height: 2px;
      width: 11px;
      position: absolute;
      left: 0;
      margin-right: 10px;
      margin-top: 6px;
      top: 0;
    }
  }
}

.mobile-view {
  display: none;
}
.desktop-view {
  display: block;
}
* {
      outline: none !important;
  }

// media 1440
@include breakpoint(lg) {
  .product-name {
    font-size: 30px;
  }
  .product-price {
    font-size: 24px;
  }
  .common-select {
    select {
      min-height: 60px;
      min-width: 250px;
      background-position: calc(100% - 15px) 24px;
    }
    &.sizes {
      width: auto;
    }
  }
  .size-guide-text {
    margin-top: 0;
  }
  .cart-box {
    button {
      min-height: 70px;
      min-width: 50px;
      img {
        height: 30px;
        min-width: auto;
      }
    }
  }
  .product-cart {
    button {
      font-size: 18px;
    }
  }
  .cart-qty-text {
    min-height: 70px;
    width: 100%;
    padding: 10px;
  }
  .details-item {
    h5 {
      font-size: 18px;
      padding: 25px 0 20px;
      .fa {
        top: 20px;
      }
      .fa-minus {
        top: 30px;
      }
    }

    .product-sub {
      p {
        font-size: 16px;
      }
      ul {
        li {
          font-size: 16px;
        }
      }
      &.active {
        margin-top: 0;
      }
    }
  }
}

// media 1024
@include breakpoint(md) {
  .product-cart {
    button {
      font-size: 15px;
    }
  }
  .data-display {
      overflow-y: unset;
      height: 100%;
      max-height: 100%;
      overflow-x: unset;
      padding-right: 0;
      margin-top: 15px
  }
  .variants-wrapper {
    .size-guide-text {
      width: auto;
    }
  }
}

// media 920
@include breakpoint(sm) {
  .product-section {
    padding: 20px 0 30px;
    .image {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      padding-right: 8px;
      padding-left: 8px;
    }
    .data {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  
  span.action {
      margin-top: 5px;
      width: auto !important;
      margin-left: 15px !important;
    }
  .details-box {
    padding: 0 8px;
  }
   .variants-wrapper {
    .size-guide-text {
      width: auto;
      margin-top: 5px;
      font-size: 18px;
    }
  }
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
  
}


// media 767x
@include breakpoint(xs) {
   
   .product-section {
     .image {
      margin-bottom: 0;
    }
  }
  .cart-box-wrap {
    position: relative;
    margin-top: 115px;
  }
  .product-cart {
       button {
          font-size: 18px;
        }
  }
  .product-qty {
    position: absolute;
    top: -115px;
    width: 100%;
    button {
      min-height: 70px;
      font-size: 18px !important;
      &:before {
        margin-top: -6px;
        margin-right: 10px;
      }
    }
    p {
        margin-bottom: 10px;
        font-size: 18px;
    }
  }
  .product-qty {
    width: 38%;
  }
  .common-select {
    select {
      min-width: 180px;
      font-size: 16px;
    }
  }
  span.action {
    margin-left: 10px;
  }
  .cart-box {
     button { 
       img {
          height: 35px;
          width: auto;
      }
     }
  }
  .product-cart {
      width: 80%;
  }
  .product-wishlist {
      width: 80px;
      img{
          height: 33px;
        }
  }
  div.variants-label {
      font-size: 18px;
  }

  

}

// media 374
@include breakpoint(exs) {

  .product-wishlist {
    width: 80px;
  }
  span.action {
    margin-left: 0;
  }
  .product-qty {
    width: 42%;
  }


}

</style>


<style lang="scss">

.VueCarousel-navigation {
    display: none;
}

@media (min-width: 768px) {


  .VueCarousel {
    .VueCarousel-inner {
      transform: none !important;
      flex-basis: auto !important;
      display: block;
      > div {
            margin-bottom: 30px;
      }
    }
    .VueCarousel-pagination {
      display: none;
    }
    .VueCarousel-navigation {
      display: none;
    }
  }
  

}

@media (max-width: 767px) {

.media-gallery-carousel { 
      .VueCarousel-pagination { 
        display: block;
        position: relative;
        bottom: 5px;
        button {
            background: #174d70 !important;
            height: 10px !important;
            width: 10px !important;
            padding: 0 !important;
            margin: 0 3px;
            margin-top: 0 !important;
            outline: none;
            box-shadow: none;
            &.VueCarousel-dot--active {
              background: #000 !important;
          }
        }
      }
    }
    .VueCarousel-inner {
        flex-basis: 75% !important;
        .VueCarousel-slide {
            margin-right: 5%;
        }
    }
}

</style>
