<template>
  <div>
    <header class="modal-header py25 pt40 px65 h1 serif weight-700 bg-cl-secondary">
      {{ $t('Log in') }}
      <i
        slot="close"
        class="modal-close material-icons cl-bg-tertiary"
        @click="closeAuthElem"
        data-testid="closeAuthElem"
      >
        close
      </i>
    </header>
    
    <div v-if="hasRedirect" class="pt10 pb10 px65 redirect-error">
      <p class="h5 mb0 mt0">
        {{ $t('You need to be logged in to see this page') }}
      </p>
    </div>
    <div class="modal-content bg-cl-primary pt10 pb60 px65 cl-secondary">
      <form @submit.prevent="login" novalidate>
        <label class="form-label">{{ $t('Email Address') }}</label>
        <base-input
          class="mb10"
          type="email"
          name="email"
          focus
          v-model="email"
          @blur="$v.email.$touch()"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <label class="form-label">{{ $t('Password') }}</label>
        <base-input
          class="mb10"
          type="password"
          name="password"
          v-model="password"
          @blur="$v.password.$touch()"
          :validations="[{
            condition: !$v.password.required && $v.password.$error,
            text: $t('Field is required.')
          }]"
        />
        <div class="row">
          <base-checkbox
            class="col-xs-7 col-sm-6 mb20 remember-me"
            id="remember"
            v-model="remember"
          >
            {{ $t('Remember me') }}
          </base-checkbox>
          <div class="col-xs-5 col-sm-6 mb35 flex end-xs middle-xs forgot-text">
            <a href="#" @click.prevent="remindPassword">
              {{ $t('I forgot password') }}
            </a>
          </div>
        </div>
        <button-full class="mb20 common-btn ripple" type="submit" data-testid="loginSubmit">
          {{ $t('Login') }}
        </button-full>
        <div class="not-member mt40 mb20">
          <h3>{{ $t('Not a member?') }}</h3>
          <p>
            Create an account to view your orders, return or <br/> adjust your personal information.
          </p>
        </div>
        <div class="center-xs">
          <!-- {{ $t('or') }} -->
          <button class="common-btn create-account ripple" @click.prevent="switchElem" data-testid="registerLink">
            {{ $t('Create an Account') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Login from '@vue-storefront/core/compatibility/components/blocks/Auth/Login'

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import BaseInput from '../Form/BaseInput.vue'
import { required, email } from 'vuelidate/lib/validators'

export default {
  mixins: [Login],
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  data () {
    return {
      hasRedirect: !!localStorage.getItem('redirect')
    }
  },
  methods: {
    // close (e) {
    //   if (e) localStorage.removeItem('redirect')
    //   this.$bus.$emit('modal-hide', 'modal-signup')
    // },
    closeAuthElem() {
        this.$store.commit('ui/setAuthElem', false)
    },
    login () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })
        return
      }
      this.callLogin()
    },
    remindPassword () {
      if (!(typeof navigator !== 'undefined' && navigator.onLine)) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Reset password feature does not work while offline!'),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.callForgotPassword()
      }
    },
    onSuccess () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are logged in!'),
        action1: { label: this.$t('OK') }
      })
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
  .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal-close{
    cursor: pointer;
  }
  .modal-content {
    @media (max-width: 400px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .redirect-error {
    background-color: $color-error;
    color: $white;
  }
  .modal-header {
    font-size: 24px;
    background: transparent;
    color: #000;
    padding-left: 40px;
    padding-right: 40px;
    .modal-close {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        text-align: center;
        line-height: 39px;
        color: #000;
        border-radius: 50%;
        &:hover {
          background: #ccc;
          border-color: #ccc;
      }
    }
  }

</style>


<style lang="scss">

.remember-me label {
    font-size: 16px;
    color: #000;
    font-family: 'Kessel 105 Text Book';
}
#app {
    .modal-content{
      padding-left: 40px;
      padding-right: 40px;
      @media (max-width: 767px) {
          padding: 0 25px;
        }
          input {
              border: 1px solid #aaa;
              height: 60px;
              padding: 10px 15px;
              margin-bottom: 10px;
              @media (max-width: 767px) {
                 height: 50px;
                 + label {
                   line-height: 210% !important;
                   font-size: 15px;
                 }
            }
          }
      }
      .form-label {
          color: #888888;
          font-size: 16px;
          margin-bottom: 10px;
          display: block;
          font-weight: 500;
      }
      .remember-me{ 
        label{
           &:before {
              border: 1px solid #000;
              border-radius: 4px;
          }
        }
        input:checked {
          + label {
            &:before {
              background-color: transparent;
            }
            &:after {
              border-color: #000;
              background-color: transparent;
            }
          }
        }
      }
      .forgot-text {
         a {
            font-size: 16px;
            color: #000;
            font-family: 'Kessel 105 Text Book';
            border-bottom: 1px solid #000;
            line-height: 60%;
            @media (max-width: 767px) {
               font-size: 14px;
               margin-top: 10px;
            }
            @media (max-width: 400px) {
               font-size: 12px;
            }
        }
      }
      .common-btn {
            background: #024D70;
            border: 2px solid #024D70;
            min-height: 60px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Kessel 105 Text';
            color: #fff;
            @media (max-width: 767px) {
              font-size: 18px !important;
            }
            &:hover {
              background: #fff;
              color: #024D70;
            }
      }
      .create-account {
          width: 100%;
          margin-top: 20px;
          border: 2px solid #024D70;
          background: transparent;
          color: #024D70;
          font-family: 'Kessel 105 Text';
          @media (max-width: 767px) {
              font-size: 18px !important;
          }
          &:hover {
              background: #024D70;
              color: #ffffff;
            }
      }
      .not-member { 
        @media (max-width: 767px) {
          margin-top: 0;
          margin-bottom: 0;
        }
        h3 {
            font-size: 24px;
            color: #000;
            margin-bottom: 5px;
            @media (max-width: 767px) {
              font-size: 20px;
            }
        }
        p {
            font-size: 16px;
            line-height: 150%;
            @media (max-width: 767px) {
              font-size: 14px;
              br {
                display: none;
              }
            }
        }
      }
      .modal-header {
        @media (max-width: 767px) {
          padding: 25px 20px;
        }
      }
  }

</style>
