<template>
  <modal name="modal-signup" :width="600">
    <login v-if="activeElem === 'login'" />
    <register v-if="activeElem === 'register'" />
    <forgot-pass v-if="activeElem === 'forgot-pass'" />
  </modal>
</template>

<script>

import { mapState } from 'vuex'
import Modal from 'theme/components/core/Modal'
import Login from 'theme/components/core/blocks/Auth/Login'
import Register from 'theme/components/core/blocks/Auth/Register'
import ForgotPass from 'theme/components/core/blocks/Auth/ForgotPass'

export default {
  name: 'SignUp',
  computed: {
    ...mapState({
      activeElem: state => state.ui.authElem
    })
  },
  components: {
    Modal,
    Login,
    Register,
    ForgotPass
  }
}
</script>

<style lang="scss" scoped>
  .modal {
    font-size: 18px;
  }
   .modal-header {
    font-size: 24px;
    background: transparent;
    color: #000;
    padding-left: 40px;
    padding-right: 40px;
    .modal-close {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        text-align: center;
        line-height: 39px;
        color: #000;
        border-radius: 50%;
    }
  }
</style>
