
*, ::after, ::before {
    box-sizing: border-box;
}
.c{clear:both;}





@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'base/fonts';
@import 'vendor/flexboxgrid2';

@import 'variables/variables';;
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'base/base';
@import 'base/global_vars';
@import 'base/text';
@import 'base/color';
@import 'base/icons';

@import 'layout/layout';
@import 'layout/border';
@import 'layout/margin';
@import 'layout/padding';

@import 'components/buttons';
@import 'components/forms';

@import 'utilities/utilities';
@import 'utilities/visibility';

@import 'animations/animations';
@import 'animations/transitions';
@import 'variables/colors'

