<template>
  <div class="my_profile">
    <!-- My orders header -->
    <div class="flex my_profile_header">
      <h3 class="m0 m0 mr-auto">
        <span>
          <svg
            width="22"
            height="24"
            viewBox="0 0 22 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 6.61063L11.1124 1.05273L16.0562 3.83168M1 6.61063L6.05618 9.38958M1 6.61063V17.4948L11.1124 23.0527M11.1124 12.1685L21 6.61063M11.1124 12.1685L6.05618 9.38958M11.1124 12.1685V23.0527M21 6.61063L16.0562 3.83168M21 6.61063V17.4948L11.1124 23.0527M16.0562 3.83168L6.05618 9.38958"
              stroke="#024D70"
            ></path>
          </svg>
        </span>
        {{ $t('My orders') }}
      </h3>
    </div>
    <!-- My orders body -->
    <div class="my_account-content orders-details">
      <div class="row">
        <div class="col-xs-12" v-show="!isHistoryEmpty">
          <table class="brdr-1 brdr-cl-bg-secondary">
            <thead>
              <tr class="hide-on-xs">
                <th class="hide-on-xs">
                  {{ $t('Order ID') }}
                </th>
                <th class="hide-on-xs">
                  {{ $t('Date and time') }}
                </th>
                <th class="hide-on-xs">
                  {{ $t('Author') }}
                </th>
                <th class="hide-on-xs">
                  {{ $t('Value') }}
                </th>
                <th class="hide-on-xs">
                  {{ $t('Type') }}
                </th>
                <th class="hide-on-xs">
                  {{ $t('Status') }}
                </th>
                <th class="hide-on-xs">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="brdr-top-1 brdr-cl-bg-secondary"
                v-for="order in ordersHistory"
                :key="order.entity_id"
              >
                <td>
                  <div class="visible-xs th">{{ $t('Order ID') }}</div>
                  <div class="td">#{{ order.increment_id }}</div>
                </td>
                <td>
                  <div class="visible-xs th">{{ $t('Date and time') }}</div>
                  <div class="td">
                    {{ order.created_at | date(null, storeView) }}
                  </div>
                </td>
                <td>
                  <div class="visible-xs th">{{ $t('Author') }}</div>
                  <div class="td">
                    {{ order.customer_firstname }} {{ order.customer_lastname }}
                  </div>
                </td>
                <td>
                  <div class="visible-xs th">{{ $t('Value') }}</div>
                  <div class="td">
                    {{ order.grand_total | price(storeView) }}
                  </div>
                </td>
                <td>
                  <div class="visible-xs th">{{ $t('Type') }}</div>
                  <div class="td">
                    {{ $t('Purchase') }}
                  </div>
                </td>
                <td>
                  <div class="visible-xs th">{{ $t('Status') }}</div>
                  <div class="td">
                    {{ order.status | capitalize }}
                  </div>
                </td>
                <td>
                  <span class="relative dropdown">
                    <i class="material-icons cl-secondary pointer"
                      >more_horiz</i
                    >
                    <div
                      class="dropdown-content bg-cl-primary align-left lh20 weight-400 fs-medium-small py5"
                    >
                      <router-link
                        class="no-underline block py10 px15"
                        :to="
                          localizedRoute(
                            `/my-account/orders/${order.entity_id}`
                          )
                        "
                      >
                        {{ $t('View order') }}
                      </router-link>
                      <a
                        href="#"
                        class="no-underline block py10 px15"
                        @click.prevent="remakeOrder(skipGrouped(order.items))"
                        >{{ $t('Remake order') }}</a
                      >
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12 h4" v-show="isHistoryEmpty">
          <p>{{ $t('No orders yet') }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';

export default {
  mixins: [UserOrder],
  computed: {
    storeView() {
      return currentStoreView();
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
.brdr-cl-bg-secondary {
  border-color: #ddd;
}
table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  border-bottom: solid 1px #ddd;
  th,
  td {
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    @media (max-width: 1199px) {
      padding: 10px;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
    &.hide-on-xs {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  td {
    font-family: 'Kessel 105 Text Book';
    font-size: 13px;
    color: #666666;
  }
  i {
    vertical-align: middle;
  }
}
.dropdown {
  display: block;
  margin: -20px;
  padding: 20px;
  @media (max-width: 1199px) {
    margin: -10px;
    padding: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  a {
    font-family: 'Kessel 105 Text Book';
    color: #666;
    font-size: 14px;
    &:hover,
    &:focus {
      background-color: #000;
      opacity: 1;
      color: #fff;
    }
  }
  &:hover .dropdown-content {
    display: block;
  }
}
@media (max-width: 767px) {
  #my_account {
    .orders-details {
      table {
        tr {
          border: 0;
          border-bottom: solid 1px #ddd;
          padding-bottom: 7px;
          margin-bottom: 7px;
          td {
            padding: 10px 0;
            border: 0;
          }
        }
        tr:last-child {
          border: 0;
          padding-bottom: 0px;
          margin-bottom: 0px;
        }
      }
      .dropdown {
        margin: 0;
        padding: 0;
        width: 100%;
        .material-icons {
          display: none;
        }
        .dropdown-content {
          display: flex !important;
          position: static;
          width: auto;
          box-shadow: none;
          padding: 0;
          a {
            border: 1px solid #024d70;
            height: 42px;
            font-size: 13px;
            display: flex;
            width: 47%;
            font-family: 'Kessel 105 Text';
            justify-content: center;
            color: #024d70;
            font-weight: bold;
            background: #fff;
            &:hover {
              background: #024d70;
              color: #fff;
            }
          }
          a:nth-child(2n) {
            margin-left: auto;
            background: #024d70;
            color: #fff;
            &:hover {
              background: #fff;
              color: #024d70;
            }
          }
        }
      }
    }
  }
}
</style>
