<template>
  <div class="my_profile" v-if="order">
    <!-- My order header -->
    <div class="flex my_profile_header align-items">
      <return-icon class="p12 icon pointer" />
      <h3 class="m0 mb5 mt5">
        {{ $t('Order #{id}', { id: order.increment_id }) }}
        <span
          class="brdr-1 brdr-cl-bg-secondary py5 px10 ml20 sans-serif fs-medium-small weight-400 cl-secondary"
        >
          {{ order.status | capitalize }}
        </span>
      </h3>
      <a
        href="#"
        class="no-underline ml-auto"
        @click.prevent="remakeOrder(singleOrderItems)"
        >{{ $t('Remake order') }}</a
      >
    </div>

    <!-- My order body -->
    <div class="my_account-content orders-items">
      <div class="flex align-items mb30 pt15 items-ordered-title">
        <h4 class="f-s-18">{{ $t('Items ordered') }}</h4>
        <p class="ml-auto">{{ order.created_at | date('LLL', storeView) }}</p>
      </div>
      <div class="row fs16 mb35">
        <div class="col-xs-12 h4">
          <table class="brdr-1 brdr-cl-bg-secondary">
            <thead>
              <tr>
                <th class="align-left">
                  {{ $t('Product Name') }}
                </th>
                <th class="align-center">
                  {{ $t('SKU') }}
                </th>
                <th class="align-center">
                  {{ $t('Price') }}
                </th>
                <th class="align-center">
                  {{ $t('Qty') }}
                </th>
                <th class="align-right">
                  {{ $t('Subtotal') }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="brdr-top-1 brdr-cl-bg-secondary"
                v-for="item in singleOrderItems"
                :key="item.item_id"
              >
                <td class="flex align-left pt10 pl10 pb10 productimg-col">
                  <div class="productimg">
                    <product-image :image="{ src: itemThumbnail[item.sku] }" />
                  </div>
                  <div
                    class="product-name pt20 pl30"
                    :data-th="$t('Product Name')"
                  >
                    {{ item.name }}
                  </div>
                </td>
                <td class="align-center pt30 pb10 px20" :data-th="$t('SKU')">
                  {{ item.sku }}
                </td>
                <td class="align-center pt30 pb10 px20" :data-th="$t('Price')">
                  {{ item.price_incl_tax | price(storeView) }}
                </td>
                <td class="align-center pt30 pb10 px20" :data-th="$t('Qty')">
                  {{ item.qty_ordered }}
                </td>
                <td
                  class="align-right Kessel105 weight-700 pt30 pb10 px20"
                  :data-th="$t('Subtotal')"
                >
                  {{ item.row_total_incl_tax | price(storeView) }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="brdr-top-1 brdr-cl-bg-secondary">
                <td colspan="4" class="align-right px20 pt22 pb10">
                  {{ $t('Subtotal') }}
                </td>
                <td class="align-right Kessel105 weight-700 px20 pt22 pb10">
                  {{ order.subtotal | price(storeView) }}
                </td>
              </tr>
              <tr>
                <td colspan="4" class="align-right px20 py10">
                  {{ $t('Shipping') }}
                </td>
                <td class="align-right Kessel105 weight-700 px20 py10">
                  {{ order.shipping_amount | price(storeView) }}
                </td>
              </tr>
              <tr>
                <td colspan="4" class="align-right px20 py10">
                  {{ $t('Tax') }}
                </td>
                <td class="align-right Kessel105 weight-700 px20 py10">
                  {{
                    (order.tax_amount + order.discount_tax_compensation_amount)
                      | price(storeView)
                  }}
                </td>
              </tr>
              <tr v-if="order.discount_amount">
                <td colspan="4" class="align-right px20 py10">
                  {{ $t('Discount') }}
                </td>
                <td class="align-right Kessel105 weight-700 px20 py10">
                  {{ order.discount_amount | price(storeView) }}
                </td>
              </tr>
              <tr>
                <td colspan="4" class="align-right px20 py10">
                  {{ $t('Grand total') }}
                </td>
                <td class="align-right Kessel105 weight-700 px20 py10">
                  {{ order.grand_total | price(storeView) }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="row fs16 mb35 order-informations">
      <div class="col-xs-12 h4">
        <h4 class="pb30">{{ $t('Order informations') }}</h4>
        <div class="row">
          <div class="col-sm-6 col-md-3" v-if="shippingAddress">
            <h5>{{ $t('Shipping address') }}</h5>
            <address>
              <p>
                {{ shippingAddress.firstname }} {{ shippingAddress.lastname }}
              </p>
              <p>
                {{ shippingAddress.street[0] }} {{ shippingAddress.street[1] }}
              </p>
              <p class="postcode">
                {{ shippingAddress.postcode }} {{ shippingAddress.city }}
              </p>
              <p>{{ shippingAddress.country }}</p>
            </address>
          </div>
          <div class="col-sm-6 col-md-3" v-if="order.shipping_description">
            <h5>{{ $t('Shipping method') }}</h5>
            <p>{{ order.shipping_description }}</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5>{{ $t('Billing address') }}</h5>
            <address>
              <p>
                {{ billingAddress.firstname }} {{ billingAddress.lastname }}
              </p>
              <p>
                {{ billingAddress.street[0] }} {{ billingAddress.street[1] }}
              </p>
              <p class="postcode">
                {{ billingAddress.postcode }} {{ billingAddress.city }}
              </p>
              <p>{{ billingAddress.country }}</p>
            </address>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5>{{ $t('Payment method') }}</h5>
            <p>{{ paymentMethod }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import MyOrder from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyOrder';
import ReturnIcon from 'theme/components/core/blocks/Header/ReturnIcon';
import ProductImage from 'theme/components/core/ProductImage';
import {
  getThumbnailPath,
  productThumbnailPath
} from '@vue-storefront/core/helpers';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import { mapActions } from 'vuex';

export default {
  mixins: [MyOrder],
  components: {
    ReturnIcon,
    ProductImage
  },
  data() {
    return {
      itemThumbnail: []
    };
  },
  computed: {
    storeView() {
      return currentStoreView();
    }
  },
  methods: {
    ...mapActions({
      getProduct: 'product/single'
    })
  },
  mounted() {
    this.singleOrderItems.forEach(async (item) => {
      if (!this.itemThumbnail[item.sku]) {
        const product = await this.getProduct({
          options: { sku: item.sku },
          setCurrentProduct: false,
          setCurrentCategoryPath: false,
          selectDefaultVariant: false
        });
        const thumbnail = productThumbnailPath(product);
        Vue.set(
          this.itemThumbnail,
          item.sku,
          getThumbnailPath(thumbnail, 280, 280)
        );
      }
    });
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
$color-white-smoke: color(white-smoke);

table {
  border-collapse: collapse;
  width: 100%;
  border-color: #ddd;
  @media (max-width: 767px) {
    border-top: none;
  }
  th {
    background: #fbfbfb;
    padding: 15px 20px;
  }
  th,
  td {
    font-size: 16px;
    border-color: #ddd;
    vertical-align: top;

    &.align-right {
      text-align: right;
      @media (max-width: 767px) {
        text-align: left;
      }
    }
    @media (max-width: 1199px) {
      padding: 10px;
    }
  }
  thead {
    @media (max-width: 767px) {
      display: none;
    }
  }
  tr {
    border-color: #ddd;
    @media (max-width: 767px) {
      display: block;
    }
    &:nth-child(even) {
      td {
        background-color: $color-white-smoke;
      }
    }
  }
  td {
    font-size: 14px;
    font-family: 'Kessel 105 Text Book';
    background-color: #fff !important;
    @media (max-width: 767px) {
      display: block;
      text-align: left;
      padding: 10px 20px;
      &:before {
        content: attr(data-th) ': ';
        font-weight: 700;
      }
    }
    &:first-child {
      @media (max-width: 767px) {
        padding: 20px 20px 10px 20px;
      }
    }
    &:last-child {
      @media (max-width: 767px) {
        padding: 10px 20px 20px 20px;
      }
    }
  }
  tfoot {
    tr {
      @media (max-width: 767px) {
        display: block;
      }
      &:last-child {
        td:last-child {
          padding-bottom: 20px;
        }
      }
    }
    td {
      @media (max-width: 767px) {
        display: block;
      }
      &:first-child {
        @media (max-width: 767px) {
          font-weight: 700;
          padding: 20px 20px 5px 20px;
        }
      }
      &:last-child {
        @media (max-width: 767px) {
          padding: 5px 20px 0 20px;
        }
      }
    }
  }
  i {
    vertical-align: middle;
  }
}
a {
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-tertiary;
  }
  &:hover {
    &:after {
      opacity: 0;
    }
  }
}
address {
  font-style: normal;
}

.my_profile_header {
  button {
    padding: 0;
    margin: 0 14px 0 0;
    background: none;
    color: #024d70;
  }
  a.no-underline {
    color: #024d70;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #000;
    }
    &::after {
      display: none;
    }
  }
  h3 {
    span {
      background: #eee;
      border-color: #000;
      font-size: 14px;
      color: #000;
      font-family: 'Kessel 105 Text Book';
    }
  }
}
.productimg {
  width: 90px;
}
.Kessel105 {
  font-family: 'Kessel 105 Text' !important;
}
.order-informations {
  p {
    font-size: 14px;
    color: #666666;
    padding-top: 15px;
  }
  p.postcode {
    font-family: 'Kessel 105 Text' !important;
    font-weight: bold;
  }
}
@media (max-width: 1199px) {
  .product-name.pt20 {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .orders-items {
    table {
      border: 0;
      td.Kessel105 {
        font-family: 'Kessel 105 Text Book' !important;
        font-weight: 400;
      }
      td {
        padding: 0 0 20px 0;
        &::before {
          width: 40%;
          display: inline-block;
          font-family: 'Kessel 105 Text';
        }
      }
      tr {
        border: 0;
        min-height: 122px;
        border-bottom: solid 1px #ddd;
        padding-bottom: 7px;
        margin-bottom: 7px;
        position: relative;
        padding-left: 105px;
      }
      tbody tr:first-child {
        border-top: 0;
      }
      tfoot {
        margin: -8px -15px -15px -15px;
        border-top: solid 1px #ddd;
        padding: 10px 20px;
        display: block;
        background: #f5f5f5;
        tr {
          padding-left: 0;
          display: flex;
          min-height: inherit;
          border: 0;
          margin: 0;
          padding: 12px 0;
          td {
            background: #f5f5f5 !important;
            padding: 0;
            font-weight: 400;
            &::before {
              display: none;
            }
            &:first-child {
              width: 30%;
            }
          }
          &:last-child {
            td {
              padding-bottom: 0;
              font-family: 'Kessel 105 Text' !important;
              font-weight: bold;
            }
          }
        }
      }
    }
    .productimg-col {
      display: flex;
      &::before {
        display: none;
      }
      .product-name {
        padding: 0 0 40px 0px;
      }
      .productimg {
        position: absolute;
        width: 90px;
        left: 0;
        top: 0;
      }
    }
    .mb35 {
      margin-bottom: 0;
    }
  }
  .order-informations {
    h4 {
      padding: 25px 0 15px 0;
      border-bottom: solid 1px #ddd;
      font-size: 16px;
      margin-bottom: 5px;
    }
    h5 {
      font-size: 14px;
      margin-top: 10px;
    }
    p {
      font-size: 13px;
      padding-top: 7px;
    }
  }
  .items-ordered-title {
    border-bottom: solid 1px #ddd;
    padding-bottom: 15px;
    margin-bottom: 16px;
  }
  .order-informations {
    margin-bottom: 0;
  }
}
</style>
