<template>
  <div class="my_profile">
    <!-- My profile header -->
    <div class="flex my_profile_header">
      <h3 class="m0" :class="{ 'cl-accent': !isEdited }">
        <span>
          <svg
            height="22"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 21V21C1 17.6863 3.68629 15 7 15H13C16.3137 15 19 17.6863 19 21V21"
              stroke="#024D70"
              stroke-linecap="round"
            />
            <circle cx="10" cy="6" r="5" fill="white" stroke="#024D70" />
          </svg>
        </span>
        {{ $t('My profile') }}
      </h3>
      <div class="end-md ml-auto links-add" v-if="!isEdited">
        <a href="#" class="flex" @click.prevent="edit">
          <i class="material-icons cl-tertiary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.1998 1.80005H1.59981C1.15798 1.80005 0.799805 2.15822 0.799805 2.60005V18.0001C0.799805 18.4419 1.15798 18.8 1.5998 18.8H17.9998C18.4416 18.8 18.7998 18.4419 18.7998 18V10"
                stroke="black"
              />
              <path
                d="M6.59941 10.6L5.59721 14.1078C5.511 14.4095 5.78997 14.6885 6.09171 14.6022L9.59941 13.6M6.59941 10.6L9.59941 13.6M6.59941 10.6L14.2402 2.80005M9.59941 13.6L17.3994 5.80005M17.3994 5.80005L19.1073 4.09216C19.2671 3.93238 19.2629 3.67205 19.098 3.51751L16.4849 1.06769C16.3262 0.918935 16.0778 0.924222 15.9256 1.07959L14.2402 2.80005M17.3994 5.80005L14.2402 2.80005"
                stroke="black"
              />
            </svg>
          </i>
          <span class="pr5">
            {{ $t('Edit your profile') }}
          </span>
        </a>
      </div>
    </div>
    <div class="my_account-content">
      <!-- My profile body (edit mode) -->
      <div class="row mt30" v-if="isEdited">
        <base-input
          class="col-xs-12 col-md-6 mb10"
          type="text"
          name="first-name"
          autocomplete="given-name"
          :placeholder="$t('First name')"
          v-model.trim="currentUser.firstname"
          @input="$v.currentUser.firstname.$touch()"
          :validations="[
            {
              condition: !$v.currentUser.firstname.required,
              text: $t('Field is required')
            },
            {
              condition: !$v.currentUser.firstname.minLength,
              text: $t('Name must have at least 2 letters.')
            }
          ]"
        />
        <base-input
          class="col-xs-12 col-md-6 mb10"
          type="text"
          name="last-name"
          autocomplete="family-name"
          :placeholder="$t('Last name')"
          v-model.trim="currentUser.lastname"
          @input="$v.currentUser.lastname.$touch()"
          :validations="[
            {
              condition: !$v.currentUser.lastname.required,
              text: $t('Field is required')
            }
          ]"
        />
        <base-input
          class="col-xs-12 col-md-12 mb10"
          type="email"
          name="email-address"
          autocomplete="email"
          :placeholder="$t('Email address')"
          v-model="currentUser.email"
          :validations="[
            {
              condition: !$v.currentUser.email.required,
              text: $t('Field is required')
            },
            {
              condition: !$v.currentUser.email.email,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <!-- Change password (edit mode) -->
        <base-checkbox
          class="col-xs-12 black"
          id="changePassword"
          v-model="changePassword"
        >
          {{ $t('Change my password') }}
        </base-checkbox>

        <template v-if="changePassword">
          <base-input
            class="col-xs-12 col-md-12 mb15 mt10"
            type="password"
            name="old-password"
            autocomplete="current-password"
            :placeholder="$t('Current password *')"
            v-model="oldPassword"
            @input="$v.oldPassword.$touch()"
            :validations="[
              {
                condition: !$v.oldPassword.required && $v.oldPassword.$error,
                text: $t('Field is required')
              }
            ]"
          />
          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="password"
            name="password"
            autocomplete="new-password"
            :placeholder="$t('New password *')"
            v-model="password"
            @input="$v.password.$touch()"
            :validations="[
              {
                condition: !$v.password.required && $v.password.$error,
                text: $t('Field is required')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="password"
            name="password-confirm"
            autocomplete="new-password"
            :placeholder="$t('Repeat new password *')"
            v-model="rPassword"
            @input="$v.rPassword.$touch()"
            :validations="[
              {
                condition: !$v.rPassword.required && $v.rPassword.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.rPassword.sameAsPassword,
                text: $t('Passwords must be identical.')
              }
            ]"
          />
        </template>

        <!-- Company information (edit mode) -->
        <base-checkbox
          class="col-xs-12 black"
          id="addCompany"
          v-model="addCompany"
        >
          {{
            $t(
              'I have a company and want to receive an invoice for every order'
            )
          }}
        </base-checkbox>

        <template v-if="addCompany">
          <base-input
            class="col-xs-12 mb10"
            type="text"
            name="company-name"
            autocomplete="organization"
            :placeholder="$t('Company name *')"
            v-model.trim="userCompany.company"
            @input="$v.userCompany.company.$touch()"
            :validations="[
              {
                condition:
                  !$v.userCompany.company.required &&
                  $v.userCompany.company.$error,
                text: $t('Field is required')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="street-address"
            autocomplete="address-line1"
            :placeholder="$t('Street name *')"
            v-model.trim="userCompany.street"
            @input="$v.userCompany.street.$touch()"
            :validations="[
              {
                condition:
                  !$v.userCompany.street.required &&
                  $v.userCompany.street.$error,
                text: $t('Field is required')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="apartment-number"
            autocomplete="address-line2"
            :placeholder="$t('House/Apartment number *')"
            v-model.trim="userCompany.house"
            @input="$v.userCompany.house.$touch()"
            :validations="[
              {
                condition:
                  !$v.userCompany.house.required && $v.userCompany.house.$error,
                text: $t('Field is required')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="city"
            autocomplete="address-level2"
            :placeholder="$t('City *')"
            v-model.trim="userCompany.city"
            @input="$v.userCompany.city.$touch()"
            :validations="[
              {
                condition:
                  !$v.userCompany.city.required && $v.userCompany.city.$error,
                text: $t('Field is required')
              },
              {
                condition:
                  $v.userCompany.city.$error && $v.userCompany.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="state"
            autocomplete="address-level1"
            :placeholder="$t('State / Province')"
            v-model.trim="userCompany.region"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="zip-code"
            autocomplete="postal-code"
            :placeholder="$t('Zip-code *')"
            v-model.trim="userCompany.postcode"
            @input="$v.userCompany.postcode.$touch()"
            :validations="[
              {
                condition:
                  !$v.userCompany.postcode.required &&
                  $v.userCompany.postcode.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.userCompany.postcode.minLength,
                text: $t('Zip-code must have at least 3 letters.')
              }
            ]"
          />

          <base-select
            class="col-xs-12 col-md-6 mb10"
            name="countries"
            :options="countryOptions"
            :selected="userCompany.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition:
                  $v.userCompany.country.$error &&
                  !$v.userCompany.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="userCompany.country"
            autocomplete="country-name"
            @blur="$v.userCompany.country.$touch()"
            @change="$v.userCompany.country.$touch()"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="taxId"
            autocomplete="tax-id"
            :placeholder="$t('Tax ID *')"
            v-model.trim="userCompany.taxId"
            @input="$v.userCompany.taxId.$touch()"
            :validations="[
              {
                condition:
                  !$v.userCompany.taxId.required && $v.userCompany.taxId.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.userCompany.taxId.minLength,
                text: $t('Tax ID must have at least 3 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="phone-number"
            autocomplete="tel"
            :placeholder="$t('Phone Number')"
            v-model.trim="userCompany.phone"
          />
        </template>

        <div class="col-xs-12 col-sm-6 mt10">
          <button-full
            @click.native="updateProfile"
            :disabled="checkValidation()"
          >
            {{ $t('Update my profile') }}
          </button-full>
        </div>
        <div class="col-xs-12 col-sm-6 flex middle-xs py10 mt10">
          <a href="#" @click="exitSection" class="h4 cl-accent mycancel">
            {{ $t('Cancel') }}
          </a>
        </div>
      </div>
      <!-- My profile summary -->
      <div class="row fs16 mb35 profile-summary" v-else>
        <div class="col-xs-12 h4">
          <p>
            <label>Name :</label>
            <span class="label-right">
              {{ currentUser.firstname }} {{ currentUser.lastname }}
            </span>
          </p>
          <p>
            <label>Email :</label>
            <span class="label-right">
              {{ currentUser.email }}
            </span>
          </p>
          <base-checkbox
            v-if="addCompany"
            class="mb25 black"
            id="addCompanyFilled"
            v-model="addCompany"
            disabled
          >
            {{
              $t(
                'I have a company and want to receive an invoice for every order'
              )
            }}
          </base-checkbox>
          <template v-if="addCompany">
            <p class="">
              <label>Company name :</label>
              <span class="label-right">
                {{ userCompany.company }}
              </span>
            </p>
            <p class="">
              <label>House/Apartment number :</label>
              <b class="label-right">
                {{ userCompany.street }}
                <span v-if="userCompany.house">
                  {{ userCompany.house }}
                </span>
              </b>
            </p>
            <p class="">
              <label>City :</label>
              <span class="label-right">
                {{ userCompany.city }} {{ userCompany.postcode }}
              </span>
            </p>
            <p class="">
              <label>State / Province :</label>
              <b class="label-right">
                <span v-if="userCompany.region"
                  >{{ userCompany.region }},
                </span>
                <span>
                  {{ getCountryName() }}
                </span>
              </b>
            </p>
            <p class="" v-if="userCompany.taxId">
              <label>Tax ID </label>
              <span v-if="userCompany.house" class="label-right">
                {{ userCompany.taxId }}
              </span>
            </p>
            <p class="">
              <label>Phone Number </label>
              <b class="label-right">
                {{ userCompany.phone }}
                <tooltip v-if="userCompany.phone">
                  {{ $t('Phone number may be needed by carrier') }}
                </tooltip>
              </b>
            </p>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators';
import MyProfile from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyProfile';
import {
  unicodeAlpha,
  unicodeAlphaNum
} from '@vue-storefront/core/helpers/validators';

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox';
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect';
import BaseInput from 'theme/components/core/blocks/Form/BaseInput';
import ButtonFull from 'theme/components/theme/ButtonFull';
import Tooltip from 'theme/components/core/Tooltip';

export default {
  components: {
    BaseCheckbox,
    BaseSelect,
    BaseInput,
    ButtonFull,
    Tooltip
  },
  mixins: [MyProfile],
  computed: {
    countryOptions() {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        };
      });
    }
  },
  methods: {
    checkValidation() {
      if (this.changePassword && this.addCompany) {
        return this.$v.$invalid;
      } else if (this.changePassword && !this.addCompany) {
        return (
          this.$v.currentUser.$invalid ||
          this.$v.password.$invalid ||
          this.$v.rPassword.$invalid
        );
      } else if (!this.changePassword && this.addCompany) {
        return this.$v.currentUser.$invalid || this.$v.userCompany.$invalid;
      } else {
        return this.$v.currentUser.$invalid;
      }
    }
  },
  validations: {
    currentUser: {
      firstname: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastname: {
        required,
        unicodeAlpha
      },
      email: {
        required,
        email
      }
    },
    oldPassword: {
      required
    },
    password: {
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    userCompany: {
      company: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      },
      taxId: {
        required,
        minLength: minLength(3)
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.profile-summary p {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 14px 0;
  font-family: 'Kessel 105 Text';
  label {
    color: #666666;
    font-weight: normal;
    font-family: 'Kessel 105 Text Book';
    width: 26%;
  }
  .label-right {
    width: calc(100% - 26%);
    display: block;
    font-weight: 700;
    padding-left: 15px;
  }
}
@media (max-width: 600px) {
  .profile-summary p {
    label {
      width: 38%;
    }
    .label-right {
      width: calc(100% - 38%);
    }
  }
}
</style>