<template>
  <div class="my_profile">
    <div class="flex my_profile_header">
      <h3 class="m0">
        <span>
          <svg
            width="22"
            height="23"
            viewBox="0 0 22 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="11" cy="11.0527" r="10.5" stroke="#024D70"></circle>
            <path
              d="M11 6.05273V11.3861L15 14.0527"
              stroke="#024D70"
              stroke-linecap="round"
            ></path>
          </svg>
        </span>
        {{ $t('My Recently viewed products') }}
      </h3>
    </div>
    <div class="my_account-content recently-viewed">
      <div class="row pt15">
        <div class="col-xs-12" v-if="items && items.length > 0">
          <product-listing columns="3" :products="items" />
        </div>
        <div class="col-xs-12 h4" v-else>
          <p>{{ $t('No products yet') }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RecentlyViewed from '@vue-storefront/core/modules/recently-viewed/components/RecentlyViewed';
import ProductListing from 'theme/components/core/ProductListing.vue';

export default {
  mixins: [RecentlyViewed],
  components: {
    ProductListing
  }
};
</script>

<style lang="scss">
@media (min-width: 1200px) {
  .recently-viewed {
    .product-listing [class^='col-'] {
      flex-basis: 33%;
      max-width: 33%;
    }
    .button-outline {
      min-width: 150px;
      text-align: center;
    }
  }
}
</style>