<template>
  <div class="my_profile">
    <!-- My shipping details header -->
    <div class="flex my_profile_header">
      <h3 class="m0 mr-auto" :class="{ 'cl-accent': !isEdited }">
        <span>
          <svg
            width="22"
            height="23"
            viewBox="0 0 22 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.5 9.05273C19.5 12.3518 17.3671 15.4799 15.137 17.8339C14.0322 19.0001 12.9257 19.9531 12.0948 20.6147C11.6797 20.9452 11.3345 21.2022 11.094 21.3759C11.0606 21.4 11.0292 21.4225 11 21.4434C10.9708 21.4225 10.9394 21.4 10.906 21.3759C10.6655 21.2022 10.3203 20.9452 9.90521 20.6147C9.07433 19.9531 7.96781 19.0001 6.86298 17.8339C4.63287 15.4799 2.5 12.3518 2.5 9.05273C2.5 4.35831 6.30558 0.552734 11 0.552734C15.6944 0.552734 19.5 4.35831 19.5 9.05273Z"
              stroke="#024D70"
            />
            <circle cx="11" cy="9.05273" r="4.5" stroke="#024D70" />
          </svg>
        </span>
        {{ $t('My shipping details') }}
      </h3>
      <div class="end-md ml-auto links-add" v-if="!isEdited">
        <a href="#" class="cl-tertiary flex" @click.prevent="edit">
          <i class="material-icons cl-tertiary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.1998 1.80005H1.59981C1.15798 1.80005 0.799805 2.15822 0.799805 2.60005V18.0001C0.799805 18.4419 1.15798 18.8 1.5998 18.8H17.9998C18.4416 18.8 18.7998 18.4419 18.7998 18V10"
                stroke="black"
              />
              <path
                d="M6.59941 10.6L5.59721 14.1078C5.511 14.4095 5.78997 14.6885 6.09171 14.6022L9.59941 13.6M6.59941 10.6L9.59941 13.6M6.59941 10.6L14.2402 2.80005M9.59941 13.6L17.3994 5.80005M17.3994 5.80005L19.1073 4.09216C19.2671 3.93238 19.2629 3.67205 19.098 3.51751L16.4849 1.06769C16.3262 0.918935 16.0778 0.924222 15.9256 1.07959L14.2402 2.80005M17.3994 5.80005L14.2402 2.80005"
                stroke="black"
              />
            </svg>
          </i>
          <span class="pr5">
            {{ $t('Edit your shipping details') }}
          </span>
        </a>
      </div>
    </div>
    <div class="my_account-content shipping_details pt5">
      <!-- My shipping details body (edit mode) -->
      <div class="row" v-if="isEdited">
        <template>
          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="first-name"
            autocomplete="given-name"
            :placeholder="`${$t('First name')} *`"
            v-model.trim="shippingDetails.firstName"
            @input="$v.shippingDetails.firstName.$touch()"
            :validations="[
              {
                condition:
                  !$v.shippingDetails.firstName.required &&
                  $v.shippingDetails.firstName.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.shippingDetails.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="last-name"
            autocomplete="family-name"
            :placeholder="`${$t('Last name')} *`"
            v-model.trim="shippingDetails.lastName"
            @input="$v.shippingDetails.lastName.$touch()"
            :validations="[
              {
                condition:
                  !$v.shippingDetails.lastName.required &&
                  $v.shippingDetails.lastName.$error,
                text: $t('Field is required')
              }
            ]"
          />

          <base-checkbox
            v-if="hasBillingAddress()"
            class="col-xs-12 mb10"
            id="addCompanyFilled"
            v-model="useCompanyAddress"
          >
            {{ $t("Use my company's address details") }}
          </base-checkbox>

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="street-address"
            autocomplete="address-line1"
            :placeholder="`${$t('Street name')} *`"
            v-model.trim="shippingDetails.street"
            @input="$v.shippingDetails.street.$touch()"
            :validations="[
              {
                condition:
                  !$v.shippingDetails.street.required &&
                  $v.shippingDetails.street.$error,
                text: $t('Field is required')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="apartment-number"
            autocomplete="address-line2"
            :placeholder="`${$t('House/Apartment number')} *`"
            v-model.trim="shippingDetails.house"
            @input="$v.shippingDetails.house.$touch()"
            :validations="[
              {
                condition:
                  !$v.shippingDetails.house.required &&
                  $v.shippingDetails.house.$error,
                text: $t('Field is required')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="city"
            autocomplete="address-level2"
            :placeholder="`${$t('City')} *`"
            v-model.trim="shippingDetails.city"
            @input="$v.shippingDetails.city.$touch()"
            :validations="[
              {
                condition:
                  !$v.shippingDetails.city.required &&
                  $v.shippingDetails.city.$error,
                text: $t('Field is required')
              },
              {
                condition:
                  $v.shippingDetails.city.$error &&
                  $v.shippingDetails.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="state"
            autocomplete="address-level1"
            :placeholder="$t('State / Province')"
            v-model.trim="shippingDetails.region"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="zip-code"
            autocomplete="postal-code"
            :placeholder="`${$t('Zip-code')} *`"
            v-model.trim="shippingDetails.postcode"
            @input="$v.shippingDetails.postcode.$touch()"
            :validations="[
              {
                condition:
                  !$v.shippingDetails.postcode.required &&
                  $v.shippingDetails.postcode.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.shippingDetails.postcode.minLength,
                text: $t('Zip-code must have at least 3 letters.')
              }
            ]"
          />

          <base-select
            class="col-xs-12 col-sm-6 mb10"
            name="countries"
            :options="countryOptions"
            :selected="shippingDetails.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition:
                  $v.shippingDetails.country.$error &&
                  !$v.shippingDetails.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="shippingDetails.country"
            autocomplete="country-name"
            @blur="$v.shippingDetails.country.$touch()"
            @change="$v.shippingDetails.country.$touch()"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="phone-number"
            autocomplete="tel"
            :placeholder="$t('Phone Number')"
            v-model.trim="shippingDetails.phone"
          />

          <div class="hidden-xs col-sm-6 mb25" />

          <div class="col-xs-12 col-sm-6">
            <button-full @click.native="updateDetails" :disabled="$v.$invalid">
              {{ $t('Update my shipping details') }}
            </button-full>
          </div>
          <div class="col-xs-12 col-sm-6 flex middle-xs py10">
            <a href="#" @click="exitSection" class="mycancel h4 cl-accent">
              {{ $t('Cancel') }}
            </a>
          </div>
        </template>
      </div>
      <!-- My shipping details summary -->
      <div class="row fs16 mb35 shipping-add-row" v-else>
        <div class="col-xs-12 col-md-4">
          <div class="additional_address">
            <p>
              {{ shippingDetails.firstName }} {{ shippingDetails.lastName }}
            </p>
            <base-checkbox
              v-if="useCompanyAddress"
              class="col-xs-12 mb25"
              id="useCompanyAddressFilled"
              v-model="useCompanyAddress"
              disabled
            >
              {{ $t("Use my company's address details") }}
            </base-checkbox>
            <p class="">
              {{ shippingDetails.company }}
            </p>
            <p class="">
              {{ shippingDetails.street }}
              <span v-if="shippingDetails.house">
                {{ shippingDetails.house }}</span
              >
            </p>
            <p class="">
              {{ shippingDetails.city }} {{ shippingDetails.postcode }}
            </p>
            <p class="">
              <span v-if="shippingDetails.region"
                >{{ shippingDetails.region }},
              </span>
              {{ getCountryName() }}
            </p>
            <div class="mt20 mb10">
              {{ shippingDetails.phone }}
              <tooltip v-if="shippingDetails.phone">
                {{ $t('Phone number may be needed by carrier') }}
              </tooltip>
            </div>
            <div class="address-edit-row flex middle-xs KesselBook">
              <a href="#" class="flex" @click.prevent="edit">
                <svg
                  width="14"
                  height="15"
                  viewBox="0 0 13 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.00114 9.4L1.19295 12.3062C1.10886 12.6086 1.38985 12.8856 1.69098 12.7972L4.504 11.9714M2.00114 9.4L4.504 11.9714M2.00114 9.4L8.37577 2.71429M4.504 11.9714L11.0114 5.28571M11.0114 5.28571L12.3995 3.85957C12.5542 3.70068 12.5501 3.4463 12.3904 3.29248L10.2998 1.2789C10.1402 1.1251 9.88585 1.13051 9.73286 1.29097L8.37577 2.71429M11.0114 5.28571L8.37577 2.71429"
                    stroke="#2D242D"
                    stroke-width="0.7"
                  />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Edit') }}
                </span>
              </a>
              <a href="#" class="flex middle-xs add-delete">
                <svg
                  width="11"
                  height="13"
                  viewBox="0 0 10 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.842943 3.875H1.26762L1.80938 11.7676C1.81841 11.8986 1.9244 12 2.05212 12H8.46101C8.58874 12 8.69472 11.8986 8.70375 11.7676L9.24552 3.875H9.67019C9.80457 3.875 9.91353 3.76306 9.91353 3.625V2.35901C9.91353 1.87915 9.53344 1.48865 9.06637 1.48865H7.28652V0.25C7.28652 0.111938 7.17757 0 7.04319 0H3.47006C3.33568 0 3.22673 0.111938 3.22673 0.25V1.48865H1.44676C0.979699 1.48865 0.599609 1.87915 0.599609 2.35901V3.625C0.599609 3.76306 0.708563 3.875 0.842943 3.875ZM8.23419 11.5H2.27894L1.75556 3.875H8.75757L8.23419 11.5ZM3.7134 0.5H6.79986V1.48865H3.7134V0.5ZM1.08628 2.35901C1.08628 2.15479 1.24798 1.98865 1.44676 1.98865H3.47006H7.04319H9.06637C9.26515 1.98865 9.42686 2.15479 9.42686 2.35901V3.375H9.01873H1.49441H1.08628V2.35901Z"
                    fill="black"
                  />
                  <path
                    d="M3.65349 10.1454C3.78787 10.1454 3.89682 10.0334 3.89682 9.89539V5.47937C3.89682 5.34131 3.78787 5.22937 3.65349 5.22937C3.51911 5.22937 3.41016 5.34131 3.41016 5.47937V9.89539C3.41016 10.0334 3.51911 10.1454 3.65349 10.1454Z"
                    fill="black"
                  />
                  <path
                    d="M5.25701 10.1454C5.39139 10.1454 5.50034 10.0334 5.50034 9.89539V5.47937C5.50034 5.34131 5.39139 5.22937 5.25701 5.22937C5.12263 5.22937 5.01367 5.34131 5.01367 5.47937V9.89539C5.01367 10.0334 5.12263 10.1454 5.25701 10.1454Z"
                    fill="black"
                  />
                  <path
                    d="M6.85954 10.1454C6.99392 10.1454 7.10288 10.0334 7.10288 9.89539V5.47937C7.10288 5.34131 6.99392 5.22937 6.85954 5.22937C6.72516 5.22937 6.61621 5.34131 6.61621 5.47937V9.89539C6.61621 10.0334 6.72516 10.1454 6.85954 10.1454Z"
                    fill="black"
                  />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Delete') }}
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="additional_address">
            <p>
              {{ shippingDetails.firstName }} {{ shippingDetails.lastName }}
            </p>
            <base-checkbox
              v-if="useCompanyAddress"
              class="col-xs-12 mb25"
              id="useCompanyAddressFilled"
              v-model="useCompanyAddress"
              disabled
            >
              {{ $t("Use my company's address details") }}
            </base-checkbox>
            <p class="">
              {{ shippingDetails.company }}
            </p>
            <p class="">
              {{ shippingDetails.street }}
              <span v-if="shippingDetails.house">
                {{ shippingDetails.house }}</span
              >
            </p>
            <p class="">
              {{ shippingDetails.city }} {{ shippingDetails.postcode }}
            </p>
            <p class="">
              <span v-if="shippingDetails.region"
                >{{ shippingDetails.region }},
              </span>
              {{ getCountryName() }}
            </p>
            <div class="mt20 mb10">
              {{ shippingDetails.phone }}
              <tooltip v-if="shippingDetails.phone">
                {{ $t('Phone number may be needed by carrier') }}
              </tooltip>
            </div>
            <div class="address-edit-row flex middle-xs KesselBook">
              <a href="#" class="flex" @click.prevent="edit">
                <svg
                  width="14"
                  height="15"
                  viewBox="0 0 13 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.00114 9.4L1.19295 12.3062C1.10886 12.6086 1.38985 12.8856 1.69098 12.7972L4.504 11.9714M2.00114 9.4L4.504 11.9714M2.00114 9.4L8.37577 2.71429M4.504 11.9714L11.0114 5.28571M11.0114 5.28571L12.3995 3.85957C12.5542 3.70068 12.5501 3.4463 12.3904 3.29248L10.2998 1.2789C10.1402 1.1251 9.88585 1.13051 9.73286 1.29097L8.37577 2.71429M11.0114 5.28571L8.37577 2.71429"
                    stroke="#2D242D"
                    stroke-width="0.7"
                  />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Edit') }}
                </span>
              </a>
              <a href="#" class="flex middle-xs add-delete">
                <svg
                  width="11"
                  height="13"
                  viewBox="0 0 10 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.842943 3.875H1.26762L1.80938 11.7676C1.81841 11.8986 1.9244 12 2.05212 12H8.46101C8.58874 12 8.69472 11.8986 8.70375 11.7676L9.24552 3.875H9.67019C9.80457 3.875 9.91353 3.76306 9.91353 3.625V2.35901C9.91353 1.87915 9.53344 1.48865 9.06637 1.48865H7.28652V0.25C7.28652 0.111938 7.17757 0 7.04319 0H3.47006C3.33568 0 3.22673 0.111938 3.22673 0.25V1.48865H1.44676C0.979699 1.48865 0.599609 1.87915 0.599609 2.35901V3.625C0.599609 3.76306 0.708563 3.875 0.842943 3.875ZM8.23419 11.5H2.27894L1.75556 3.875H8.75757L8.23419 11.5ZM3.7134 0.5H6.79986V1.48865H3.7134V0.5ZM1.08628 2.35901C1.08628 2.15479 1.24798 1.98865 1.44676 1.98865H3.47006H7.04319H9.06637C9.26515 1.98865 9.42686 2.15479 9.42686 2.35901V3.375H9.01873H1.49441H1.08628V2.35901Z"
                    fill="black"
                  />
                  <path
                    d="M3.65349 10.1454C3.78787 10.1454 3.89682 10.0334 3.89682 9.89539V5.47937C3.89682 5.34131 3.78787 5.22937 3.65349 5.22937C3.51911 5.22937 3.41016 5.34131 3.41016 5.47937V9.89539C3.41016 10.0334 3.51911 10.1454 3.65349 10.1454Z"
                    fill="black"
                  />
                  <path
                    d="M5.25701 10.1454C5.39139 10.1454 5.50034 10.0334 5.50034 9.89539V5.47937C5.50034 5.34131 5.39139 5.22937 5.25701 5.22937C5.12263 5.22937 5.01367 5.34131 5.01367 5.47937V9.89539C5.01367 10.0334 5.12263 10.1454 5.25701 10.1454Z"
                    fill="black"
                  />
                  <path
                    d="M6.85954 10.1454C6.99392 10.1454 7.10288 10.0334 7.10288 9.89539V5.47937C7.10288 5.34131 6.99392 5.22937 6.85954 5.22937C6.72516 5.22937 6.61621 5.34131 6.61621 5.47937V9.89539C6.61621 10.0334 6.72516 10.1454 6.85954 10.1454Z"
                    fill="black"
                  />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Delete') }}
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="additional_address">
            <p>
              {{ shippingDetails.firstName }} {{ shippingDetails.lastName }}
            </p>
            <base-checkbox
              v-if="useCompanyAddress"
              class="col-xs-12 mb25"
              id="useCompanyAddressFilled"
              v-model="useCompanyAddress"
              disabled
            >
              {{ $t("Use my company's address details") }}
            </base-checkbox>
            <p class="">
              {{ shippingDetails.company }}
            </p>
            <p class="">
              {{ shippingDetails.street }}
              <span v-if="shippingDetails.house">
                {{ shippingDetails.house }}</span
              >
            </p>
            <p class="">
              {{ shippingDetails.city }} {{ shippingDetails.postcode }}
            </p>
            <p class="">
              <span v-if="shippingDetails.region"
                >{{ shippingDetails.region }},
              </span>
              {{ getCountryName() }}
            </p>
            <div class="mt20 mb10">
              {{ shippingDetails.phone }}
              <tooltip v-if="shippingDetails.phone">
                {{ $t('Phone number may be needed by carrier') }}
              </tooltip>
            </div>
            <div class="address-edit-row flex middle-xs KesselBook">
              <a href="#" class="flex" @click.prevent="edit">
                <svg
                  width="14"
                  height="15"
                  viewBox="0 0 13 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.00114 9.4L1.19295 12.3062C1.10886 12.6086 1.38985 12.8856 1.69098 12.7972L4.504 11.9714M2.00114 9.4L4.504 11.9714M2.00114 9.4L8.37577 2.71429M4.504 11.9714L11.0114 5.28571M11.0114 5.28571L12.3995 3.85957C12.5542 3.70068 12.5501 3.4463 12.3904 3.29248L10.2998 1.2789C10.1402 1.1251 9.88585 1.13051 9.73286 1.29097L8.37577 2.71429M11.0114 5.28571L8.37577 2.71429"
                    stroke="#2D242D"
                    stroke-width="0.7"
                  />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Edit') }}
                </span>
              </a>
              <a href="#" class="flex middle-xs add-delete">
                <svg
                  width="11"
                  height="13"
                  viewBox="0 0 10 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.842943 3.875H1.26762L1.80938 11.7676C1.81841 11.8986 1.9244 12 2.05212 12H8.46101C8.58874 12 8.69472 11.8986 8.70375 11.7676L9.24552 3.875H9.67019C9.80457 3.875 9.91353 3.76306 9.91353 3.625V2.35901C9.91353 1.87915 9.53344 1.48865 9.06637 1.48865H7.28652V0.25C7.28652 0.111938 7.17757 0 7.04319 0H3.47006C3.33568 0 3.22673 0.111938 3.22673 0.25V1.48865H1.44676C0.979699 1.48865 0.599609 1.87915 0.599609 2.35901V3.625C0.599609 3.76306 0.708563 3.875 0.842943 3.875ZM8.23419 11.5H2.27894L1.75556 3.875H8.75757L8.23419 11.5ZM3.7134 0.5H6.79986V1.48865H3.7134V0.5ZM1.08628 2.35901C1.08628 2.15479 1.24798 1.98865 1.44676 1.98865H3.47006H7.04319H9.06637C9.26515 1.98865 9.42686 2.15479 9.42686 2.35901V3.375H9.01873H1.49441H1.08628V2.35901Z"
                    fill="black"
                  />
                  <path
                    d="M3.65349 10.1454C3.78787 10.1454 3.89682 10.0334 3.89682 9.89539V5.47937C3.89682 5.34131 3.78787 5.22937 3.65349 5.22937C3.51911 5.22937 3.41016 5.34131 3.41016 5.47937V9.89539C3.41016 10.0334 3.51911 10.1454 3.65349 10.1454Z"
                    fill="black"
                  />
                  <path
                    d="M5.25701 10.1454C5.39139 10.1454 5.50034 10.0334 5.50034 9.89539V5.47937C5.50034 5.34131 5.39139 5.22937 5.25701 5.22937C5.12263 5.22937 5.01367 5.34131 5.01367 5.47937V9.89539C5.01367 10.0334 5.12263 10.1454 5.25701 10.1454Z"
                    fill="black"
                  />
                  <path
                    d="M6.85954 10.1454C6.99392 10.1454 7.10288 10.0334 7.10288 9.89539V5.47937C7.10288 5.34131 6.99392 5.22937 6.85954 5.22937C6.72516 5.22937 6.61621 5.34131 6.61621 5.47937V9.89539C6.61621 10.0334 6.72516 10.1454 6.85954 10.1454Z"
                    fill="black"
                  />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Delete') }}
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="additional_address">
            <p>
              {{ shippingDetails.firstName }} {{ shippingDetails.lastName }}
            </p>
            <base-checkbox
              v-if="useCompanyAddress"
              class="col-xs-12 mb25"
              id="useCompanyAddressFilled"
              v-model="useCompanyAddress"
              disabled
            >
              {{ $t("Use my company's address details") }}
            </base-checkbox>
            <p class="">
              {{ shippingDetails.company }}
            </p>
            <p class="">
              {{ shippingDetails.street }}
              <span v-if="shippingDetails.house">
                {{ shippingDetails.house }}</span
              >
            </p>
            <p class="">
              {{ shippingDetails.city }} {{ shippingDetails.postcode }}
            </p>
            <p class="">
              <span v-if="shippingDetails.region"
                >{{ shippingDetails.region }},
              </span>
              {{ getCountryName() }}
            </p>
            <div class="mt20 mb10">
              {{ shippingDetails.phone }}
              <tooltip v-if="shippingDetails.phone">
                {{ $t('Phone number may be needed by carrier') }}
              </tooltip>
            </div>
            <div class="address-edit-row flex middle-xs KesselBook">
              <a href="#" class="flex" @click.prevent="edit">
                <svg
                  width="14"
                  height="15"
                  viewBox="0 0 13 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.00114 9.4L1.19295 12.3062C1.10886 12.6086 1.38985 12.8856 1.69098 12.7972L4.504 11.9714M2.00114 9.4L4.504 11.9714M2.00114 9.4L8.37577 2.71429M4.504 11.9714L11.0114 5.28571M11.0114 5.28571L12.3995 3.85957C12.5542 3.70068 12.5501 3.4463 12.3904 3.29248L10.2998 1.2789C10.1402 1.1251 9.88585 1.13051 9.73286 1.29097L8.37577 2.71429M11.0114 5.28571L8.37577 2.71429"
                    stroke="#2D242D"
                    stroke-width="0.7"
                  />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Edit') }}
                </span>
              </a>
              <a href="#" class="flex middle-xs add-delete">
                <svg
                  width="11"
                  height="13"
                  viewBox="0 0 10 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.842943 3.875H1.26762L1.80938 11.7676C1.81841 11.8986 1.9244 12 2.05212 12H8.46101C8.58874 12 8.69472 11.8986 8.70375 11.7676L9.24552 3.875H9.67019C9.80457 3.875 9.91353 3.76306 9.91353 3.625V2.35901C9.91353 1.87915 9.53344 1.48865 9.06637 1.48865H7.28652V0.25C7.28652 0.111938 7.17757 0 7.04319 0H3.47006C3.33568 0 3.22673 0.111938 3.22673 0.25V1.48865H1.44676C0.979699 1.48865 0.599609 1.87915 0.599609 2.35901V3.625C0.599609 3.76306 0.708563 3.875 0.842943 3.875ZM8.23419 11.5H2.27894L1.75556 3.875H8.75757L8.23419 11.5ZM3.7134 0.5H6.79986V1.48865H3.7134V0.5ZM1.08628 2.35901C1.08628 2.15479 1.24798 1.98865 1.44676 1.98865H3.47006H7.04319H9.06637C9.26515 1.98865 9.42686 2.15479 9.42686 2.35901V3.375H9.01873H1.49441H1.08628V2.35901Z"
                    fill="black"
                  />
                  <path
                    d="M3.65349 10.1454C3.78787 10.1454 3.89682 10.0334 3.89682 9.89539V5.47937C3.89682 5.34131 3.78787 5.22937 3.65349 5.22937C3.51911 5.22937 3.41016 5.34131 3.41016 5.47937V9.89539C3.41016 10.0334 3.51911 10.1454 3.65349 10.1454Z"
                    fill="black"
                  />
                  <path
                    d="M5.25701 10.1454C5.39139 10.1454 5.50034 10.0334 5.50034 9.89539V5.47937C5.50034 5.34131 5.39139 5.22937 5.25701 5.22937C5.12263 5.22937 5.01367 5.34131 5.01367 5.47937V9.89539C5.01367 10.0334 5.12263 10.1454 5.25701 10.1454Z"
                    fill="black"
                  />
                  <path
                    d="M6.85954 10.1454C6.99392 10.1454 7.10288 10.0334 7.10288 9.89539V5.47937C7.10288 5.34131 6.99392 5.22937 6.85954 5.22937C6.72516 5.22937 6.61621 5.34131 6.61621 5.47937V9.89539C6.61621 10.0334 6.72516 10.1454 6.85954 10.1454Z"
                    fill="black"
                  />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Delete') }}
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="additional_address">
            <button
              type="button"
              class="btn-full flex add-address-btn KesselBook"
            >
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 6H12" stroke="black" />
                <path d="M6 12L6 -1.19209e-07" stroke="black" />
              </svg>
              Add Card Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators';
import MyShippingDetails from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyShippingDetails';
import {
  unicodeAlpha,
  unicodeAlphaNum
} from '@vue-storefront/core/helpers/validators';

import ButtonFull from 'theme/components/theme/ButtonFull';
import Tooltip from 'theme/components/core/Tooltip';
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox';
import BaseInput from 'theme/components/core/blocks/Form/BaseInput';
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect';

export default {
  components: {
    ButtonFull,
    Tooltip,
    BaseCheckbox,
    BaseInput,
    BaseSelect
  },
  mixins: [MyShippingDetails],
  computed: {
    countryOptions() {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        };
      });
    }
  },
  validations: {
    shippingDetails: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.additional_address {
  border: solid 1px #dddddd;
  padding: 12px;
  margin-bottom: 20px;
  min-height: 184px;
  p {
    font-size: 14px;
  }
}
.address-edit-row {
  justify-content: end;
  .add-delete {
    border-left: solid 1px #000;
  }
  a {
    display: flex;
    align-items: center;
    padding-left: 9px;
    margin-left: 9px;
    color: #000;
    &:hover {
      color: #024d70;
      svg path {
        fill: #024d70;
      }
    }
    svg {
      margin-right: 7px;
    }
  }
}
.shipping-add-row [class^='col-'] {
  padding-right: 10px;
  padding-left: 10px;
}
.shipping-add-row {
  margin: 0 -10px;
}
.add-address-btn {
  color: #000;
  border: 0;
  background: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 158px;
  font-size: 14px;
  svg {
    margin-right: 7px;
  }
  &:hover {
    color: #024d70;
    svg path {
      stroke: #024d70;
    }
  }
}
@media (max-width: 600px) {
}
</style>